@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    list-style: none;
    font-style: normal;
}
em {
     font-style: normal;
}
img {
    max-width: 100%;
    vertical-align: top;
}
h1 {

}
h2 {
    font-size: 2vw;
    font-weight: 600;
}
.page_title {
    width: 100%;
    float: left;
    margin-bottom: 2vh;
    color: #074bb0;
}
h3, h3 a {
    font-size: 20px;
    font-weight: 600;
    color: #074bb0;
}
p, ul li {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .5px;
    color: #6a6a6a;
}
p a {
    color: #074bb0;
}
.btn {
    padding: 12px;
    background: #0097d7;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}
.btn:hover {
    background: #074bb0;
}
.more_link {
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    color: #0097d7;
}
.more_link:before {
    margin-right: 10px;
    padding: 0 2px 0 3px;
    border: 1px solid #0097d7;
    content: "+";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.more_link:hover {
    color: #b3b3b3;
}
.more_link:hover:before {
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
}
.main {
    width: 100%;
    background: url(../images/ocean-bg.jpg) center top no-repeat #074bb0;
    background-size: contain;
    float: left;
}
.wrapper {
    margin: 3vh auto;
    width: 90%;
    max-width: 1200px;
}
.header {
    min-height: 250px;
    background: url(../images/header-bg.jpg) center center no-repeat;
    border: 10px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar {
    margin-bottom: 20px;
    background: #ededed;
    text-align: center;
}
.main_menu li {
    display: inline-block;
    position: relative;
}
.main_menu li a {
    padding: 13px 25px;
    font-size: 14px;
    color: #767676;
    text-transform: uppercase;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
    display: block;
}
.main_menu li:hover a, 
.main_menu li a:hover,
.main_menu li a.active {
    background: #0097d7;
    color: #fff;
}
.main_menu li.active a {
    background: #0097d7;
    color: #fff;
}
.submenu {
    width: 100%;
    min-width: 220px;
    background: #f5f5f5;
    position: absolute;
    top: 150%;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -o-transition: 300ms all;
    transition: 300ms all;
    -moz-transition: 300ms all;
    -webkit-transition: 300ms all;
}
.submenu:before {
    border: 8px solid transparent;
    border-bottom: 8px solid #f5f5f5;
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.submenu a {
    padding: 8px 15px !important;
    background: none !important;
    font-weight: 400 !important;
    text-transform: none !important;
    font-size: 14px !important;
    color: #000 !important;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    display: block;
}
.submenu a:last-child {
    border: none;
}
.submenu a:hover {
    background: #fafafa !important;
    color: #d8d8d8 !important;
}
.main_menu li:hover .submenu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.mobMenu {
    padding: 15px 0;
    font-size: 15px;
    color: #767676;
    cursor: pointer;
    display: none;
}
.mobMenu i {
    margin-right: 5px;
    width: 15px;
    height: 2px;
    background: #767676;
    position: relative;
    top: 9px;
    float: left;
}
.mobMenu i:before {
    width: 15px;
    height: 2px;
    background: #767676;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    -webkit-transition: 300ms all;
    -o-transition: 300ms all;
    transition: 300ms all;
}
.mobMenu i:after {
    width: 15px;
    height: 2px;
    background: #767676;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 5px;
    -o-transition: 300ms all;
    transition: 300ms all;
    -moz-transition: 300ms all;
    -webkit-transition: 300ms all;
}
.mobMenu.close i {
    width: 15px;
    height: 2px;
    background: transparent !important;
    display: inline-block;
    position: relative;
}
.mobMenu.close i:before {
    width: 15px;
    height: 2px;
    background: #767676;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.mobMenu.close i:after {
    width: 15px;
    height: 2px;
    background: #767676;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.banner {
    margin-bottom: 6vh;
    border: 10px solid #fff;
    position: relative;
}
.banner_text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.banner_text .cont{
    display: inline-block;
    background: rgba(0,0,0,0.6);
    padding: 15px 30px;
    text-align: center;
    border-radius: 3px;
}
.banner_text h1 {
    font-size: 2.5vw;
    font-weight: 800;
    color: #fff;
}
.banner_text p {
    width: 90%;
    max-width: 580px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    color: #fff;
}
#banner .owl-nav .owl-prev, #banner .owl-nav .owl-prev {
    float: left;
}
#banner .owl-nav button, #banner .owl-nav button {
    font-size: 50px;
    font-weight: 300;
    color: #d9d9d9;
}
#banner .owl-nav, #banner .owl-nav {
    height: 0;
    position: absolute;
    left: -30px;
    right: -30px;
    top: 35%;
}
#banner .owl-nav .owl-next, #banner .owl-nav .owl-next {
    float: right;
}
.owl-carousel .owl-item img{
    height:auto !important;
}
.grid_col2 {
    width: 100%;
    float: left;
    margin-bottom: 3vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 5% 2fr;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 5%;
}
.grid_col3 {
    width: 100%;
    float: left;
    padding: 20px;
    background: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 20px 3fr 20px 3fr;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 20px;
}
.grid_col3 .col{
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 20px 20px 80px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    position: relative;
}

.grid_col3 .img{
    width: 100%;
    float: left;
    height: 150px;
    background: #f6f6f6;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
}
.grid_col3 img{
    height: auto;
}
.main_page {
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 20px 20px 80px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    position: relative;
}

.grid_content {padding: 0;float: left;width: 100%;}
.main_page h3 {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.main_page h3.sub-title {height: 35px;overflow: hidden;font-size: 12px;text-decoration: underline;}
.main_page p {
    font-size: 13px;
    line-height: 20px;
}
.main_page .btn {
    margin-top: 20px;
    display: block;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
}
.events {

}
.events h2 {
    margin-bottom: 2vh;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.event_row {
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 320px 20px auto;
    grid-template-columns: 320px auto;
    grid-column-gap: 20px;
}
.support_row {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #e6e6e6;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 20px auto;
    grid-template-columns: 300px auto;
    grid-column-gap: 20px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .grid_col3,.event_row,.support_row,.grid_col4 {display: block;}
   .main_page{ width: 31.3%; float: left;margin: 1%;min-height: 450px;}
}
.event_row h3,
.event_row p,
.support_row h3,
.support_row p {
    margin-bottom: 1.5vh !important;
}
.grid_col4 {
    width: 100%;
    float: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.footer {
    margin-top: 6vh;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}
.copyright {
    padding: 20px;
    background: #fff;
    text-align: center;
    width: 100%;
    float: left;
}
.copyright p {
    line-height: 22px;
}
.footer_col {
    padding: 20px;
}
.footer_col h3 {
    margin-bottom: 1vh;
}
.footer_col ul li a {
    color: #6a6a6a;
}
.footer_col ul li a:hover {
    color: #2694e9;
}
.contact_us ul li {
    padding: 0 0 20px 30px;
    line-height: 20px;
}
.contact_us ul li:first-child {
    background: url(../images/address-icon.png) left 3px no-repeat;
}
.contact_us ul li:nth-child(2) {
    background: url(../images/mail-icon.png) left 5px no-repeat;
}
.contact_us ul li:nth-child(3) {
    background: url(../images/call-icon.png) left top no-repeat;
}
.social_links a {
    width: 38px;
    height: 38px;
    text-indent: 9999px;
    border: 1px solid #6a6a6a;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    opacity: 0.5;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.social_links a[title="facebook"] {
    background: url(../images/social-icons.png) left top no-repeat;
}
.social_links a[title="twitter"] {
    background: url(../images/social-icons.png) left -36px no-repeat;
}
.social_links a[title="instagram"] {
    background: url(../images/social-icons.png) left -72px no-repeat;
}
.social_links a[title="tripadvisor"] {
    background: url(../images/social-icons.png) left -108px no-repeat;
}
.social_links a:hover {
    opacity: 1;
}
.innerpage_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20px 320px;
    grid-template-columns: auto 320px;
    grid-gap: 20px;
}
.innerpage_container img{
    margin:0 15px 15px 0;
    height: auto !important;
}
.innerpage_container p a, .innerpage_container p a span, .innerpage_container p > strong{
    color: #0097d7 !important;
}
.innerpage_container h1, 
.innerpage_container h2,
.innerpage_container h3,
.innerpage_container h4,
.innerpage_container h5,
.innerpage_container h6{
    color: #0097d7;
}
.innerpage_container img.left{
    float: left;
    margin:0 15px 15px 0;
}
.innerpage_container img.right{
    float: left;
    margin: 0 0 15px 15px;
}
.innerpage_container img{
    margin:0 15px 15px 0;
}
.innerpage_container p a, .innerpage_container p a span, .innerpage_container p > strong{
    color: #0097d7 !important;
}
.innerpage_container h1, 
.innerpage_container h2,
.innerpage_container h3,
.innerpage_container h4,
.innerpage_container h5,
.innerpage_container h6{
    color: #0097d7;
}
.innerpage_container img.left{
    float: left;
    margin:0 15px 15px 0;
}
.innerpage_container img.right{
    float: left;
    margin: 0 0 15px 15px;
}
.page_left_col {
    padding: 20px;
    background: #fff;
}
.innerpage_banner,
.page_left_col h3 {
    margin-bottom: 3vh;
}
.innerpage_banner img {
    width: 100%;
}
.page_right_col .main_page {
    margin-bottom: 1vh;
}
.page_right_col .main_page:last-of-type {
    margin-bottom: 0;
}

.renew_member {
    float: left;
    width: 100%;
}
.renew_member h4 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding: 10px 0;
    display: block;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    border: 3px solid #002b60;
    background: none;
    color: #363636;
}
.form_holder {
    width: 100%;
    margin: 4vh 0 0 0;
    padding: 10px;
    border: 1px solid #d3d3d3;
    float: left;
}
.form_holder .error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: block;
    color: #fb0808;
    line-height: 22px;
}
.form_holder h5 span {
    width: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    background: #007fd0;
    color: #FFF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.form_holder label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: block;
    color: #6d6d6d;
    line-height: 22px;
}
.form_holder [type="text"], .form_holder [type="email"], .form_holder textarea{
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
    color: #363636;
    min-height: 35px;    
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 0 5px 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)),to(rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
}
.form_holder p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #363636;
    text-transform: uppercase;
}
.form_holder ul {
    list-style: none;
}
.form_holder ul li {
    display: list-item;
}
.form_holder [type="checkbox"] {
    float: left;
    margin: 5px 8px 0px 0;
}
.goback{
    width: 100%;
    float: left;
}
.goback a{
    color: #074bb0;
    display: block;
    font-size: 15px;
    float: right;
    margin-top: -10px;
}
.img_list{
    width: 100%;
    float: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 30px 0;
}
.img_list li{
    width: 100%;
    border: solid 2px #ededed;
    padding: 20px;
    text-align: center;
}
.img_list li img{
    margin: auto;
}


.img_list.path_history li{
    position: relative;
    padding-bottom: 70px;
}
/*.img_list.path_history li a{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    max-width: 160px;*/
/*    margin: auto;*/
/*    width: 100%;*/
/*}*/
.img_list.path_history li .btn{
    margin-top: 20px;
    display: block;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 15px;
    padding: 8px 5px;
}
.img_list.path_history li .img{
    height: 160px;
    background: #f5f5f5;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
}
.img_list.path_history li .img img{
    max-width: 100%;
    max-height: 100%;
}
.img_list.path_history li h2{
    font-size: 18px;
}

.album-col{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .album-col li {
        width: 100%;
        float: left;
        padding: 15px;
        text-align: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: inline-block;
        background: #FFF;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    }
    .album-col li p {
        font-size: 12px;
        padding: 5px 0;
        padding-bottom: 5px;
        padding-bottom: 10px;
        float: left;
        width: 100%;
        line-height: 14px;
    }
    .album-col li img{
        margin: 0;
        display: block;
        margin: auto;
    }
    .album-col li a {
        float: none !important;
        font-size: 13px;
        text-transform: uppercase;
        padding: 3px 10px;
        border-radius: 2px;
    }
    .contact-subm{width: 100%;float: left;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .grid_col3,.event_row,.support_row,.grid_col4, .grid_col2, .album-col,.img_list{display: block;float: left;width: 100%;}
   .main_page{width: 31.3%; float: left;margin: 1%;min-height: 450px;}
   .grid_col4 .footer_col{width: 25%;float: left;}
   .event_pic{width: 26%; float: left;}
   .event_excerpt{width: 72%; float: right;}
   .innerpage_container {display: block !important;float: left !important;width: 100% !important;}
   .page_left_col{float: left;width: 72% !important;}
   .page_right_col{width: 25% !important;float: right;}
   .innerpage_container .main_page{width: 100%; float: left;margin: 1%;min-height: 450px;}
   .form_holder .grid_col2 label {float: left;width: 46%;margin: 1%;min-height: 63px;}
   .album-col li, .img_list li{width: 30.3%;margin: 1%;float: left;min-height: 281px;}
}
@media only screen and (max-width : 1366px) {
    .main_menu li a {
        padding: 13px 15px;
    }
}

@media only screen and (max-width : 840px) {
    .main_page{width: 100%; float: left;margin: 0%;min-height: 250px;}   
   .event_pic{width: 100%; float: left;}
   .event_excerpt, .page_left_col,.page_right_col{width: 100% !important; float: right;}
    .grid_col3{-ms-grid-columns: 1fr 20px;grid-template-columns: 1fr;}
    .wrapper {
        max-width: 640px;
    }
    .banner_text h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 24px;
    }
    .mobMenu {
        display: inline-block;
    }
    .main_menu {
        width: 100%;
        background: #f5f5f5;
        z-index: 9999;
    }
    .main_menu:before {
        border: 8px solid transparent;
        border-bottom: 8px solid #f5f5f5;
        content: "";
        display: block;
        position: absolute;
        top: -16px;
        right: 15px;
    }
    .main_menu li {
        padding: 0;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
    }
    .main_menu li:last-child {
        border: none;
    }
    .main_menu li a {
        padding: 8px 15px;
        font-weight: 400;
        font-size: 15px;
        color: #000;
        display: block;
    }
    .main_menu li:hover,
    .main_menu li:hover > a,
    .main_menu li.active > a {
        background: #fff;
        color: #808080;
    }
    .has-submenu:after {
        content: "+";
        font-size: 20px;
        line-height: 35px;
        font-weight: 400;
        color: #000;
        position: absolute;
        right: 15px;
        top: 0;
    }
    .closeDropdown:after {
        content: "-";
        font-size: 41px;
        font-weight: 300;
    }
    .submenu {
        border-top: 1px solid #e5e5e5;
        position: static;
        opacity: 1;
        visibility: visible;
        -ms-transform: translateX(0);
            transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transition: none;
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        display: none;
    }
    .submenu a {
        padding-left: 25px !important;
    }
    .submenu:before {
        display: none;
    }
    /*.grid_col3 {*/
    /*    margin-bottom: 6vh;*/
    /*    padding: 6vh 20px 0 20px;*/
    /*    -ms-grid-columns: 1fr;*/
    /*    grid-template-columns: 1fr;*/
    /*    background: #f2f2f2;*/
    /*}*/
    /*.main_page {*/
    /*    max-width: 320px;*/
    /*    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);*/
    /*    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);*/
    /*}*/
    .event_row,
    .support_row {
        -ms-grid-columns: 200px 20px auto;
        grid-template-columns: 200px auto;
    }
    .grid_col4,
    .innerpage_container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .page_right_col {
        display: none;
    }
    .img_list.path_history{-ms-grid-columns: 1fr;grid-template-columns: 1fr;}
    .img_list{-ms-grid-columns: 1fr 25px 1fr;grid-template-columns: 1fr 1fr;}
    .grid_col3 .img{height:auto;}
}
 @media only screen and (max-width : 768px) {      
   .grid_col4 .footer_col{width: 50%;float: left;}
 }  
@media only screen and (max-width : 640px) {
    .grid_col4 .footer_col, .form_holder .grid_col2 label, .album-col li, .img_list li{width: 100%;float: left;}
    .page_title {
        text-align: center;
    }
    .event_row,
    .support_row {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    
    #banner .owl-nav, #banner .owl-nav{left: 20px;right: 20px;top: 25%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
    .album-col{-ms-grid-columns: 1fr 20px 1fr !important;grid-template-columns: 1fr 1fr !important;}
}
@media only screen and (max-width : 480px) {
    .banner_text h1 {font-size: 18px;}
    .banner_text p {font-size: 12px;line-height: 15px;}
    .banner_text .cont{padding: 6px 10px;}
    #banner .owl-nav, #banner .owl-nav{top: 15%;}
    .grid_col2{-ms-grid-columns: auto; grid-template-columns: auto;}
    .img_list{-ms-grid-columns: 1fr;grid-template-columns: 1fr;}
    .album-col{-ms-grid-columns: 1fr !important;grid-template-columns: 1fr !important;}
}