*{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.heading {
    font-size: 22px;
    color: #d04044;
    text-align: center;
    
}

#head {
    margin: 0 auto;
    padding: 0;
    width: 951px;
    margin-top: 5px;
}
.subcatcontainer {
    margin: 0 0 50px 0;
}
.rowsubimg {
    margin: 20px 20px 10px 20px;   
}
#imgbox {
    height: 153px;
    width: 292px;
    background: url(../images/imgbox-bg_03.jpg) no-repeat left top;
    float: right;
    margin-top: 10px;
}
#imgbox-top {
    height: 28px;
    width: 276px;
    margin: 8px 0 0 8px;
    text-align: center;
}
.clear {
    clear: both;
}
.imgleftbox {
    float: left;
    margin-left: 80px;
    
}
.clear{
    clear: both;
}
a{
    transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}
body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.6px;
}
.wrapper{
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
}
.main{
    width: 100%;
    float: left;
}
.header {
    width: 100%;
    float: left;
    padding: 10px 0 5px;
}
.header.inner{
    border-bottom: solid 1px #ebebeb;
}
.logo{
    float: left;
}
.head_right{
    float: right;
    margin-top: 35px;
}
.search_icon{
    float: right;
    cursor: pointer;
    padding: 5px;
    position: relative;
}
.search_icon img{
    display: block;
}
.search_icon span{
    display: inline-block;
}
.search_icon form{
    position: absolute;
    right: 0;
    top: 32px;
    width: 400px;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}
.search_icon form.active{
    opacity: 1;
    visibility: visible;
}
.search_icon form input{
    width: 100%;
    height: 100%;
    padding: 12px 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
nav{
    float: left;
}
nav ul li{
    display: inline-block;
    float: left;
    padding: 0 12px;
}
nav ul li a{
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #3b3b3b;
}
nav ul li a:hover,nav ul li a.active{
    color: #d04044;
}

.banner{
    width: 100%;
    float: left;
    position: relative;
}
.banner img{
    width: 100%;
    display: block;
}
.banner_text{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.banner_text h1{
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
}
.banner_text h1 span{
    display: block;
    font-weight: 600;
}
.banner_text b{
    display: block;
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
}
.banner_text a{
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: #fff;
    background: #d04044;
    padding: 5px 25px;
    border-radius: 3px;
    margin-top: 20px;
}
.banner_text a:hover{
    background: #c03135;
}

.content_row1{
    width: 100%;
    float: left;
    border-radius: 4px;
    background: #fff;
    padding: 30px 25px;
    margin-top: -80px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.content_row1 h2{
    text-align:center;
    font-size: 23px;
    line-height: 28px;
    font-weight: normal;
    color: #363636;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.row1_col1{
    width: 49%;
    float: left;
}
.row1_col2{
    width: 49%;
    float: right;
}
.content_row1 h4{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #d04044;
    background: #f3f3f3;
    text-transform: uppercase;
    padding: 8px 15px;
}
.content_row1 form{
    padding: 15px 0;
}
.row1_col1 .form_left{
    width: 49%;
    float: left;
}
.row1_col1 .form_right{
    width: 49%;
    float: right;
}
.content_row1 label{
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #444444;
    margin-bottom: 5px;
}
.content_row1 select{
    width: 100%;
    float: left;
    border: solid 1px #d3d3d3;
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
    color: #a4a4a4;
    padding: 7px 8px;
    background: url(../images/select-arrow.png) calc(100% - 10px) center no-repeat;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
}
.content_row1 input[type="text"]{
    width: 100%;
    float: left;
    border: solid 1px #d3d3d3;
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
    color: #a4a4a4;
    padding: 7px 4px;
}
.row1_col2 .form_div{
    width: 20%;
    float: left;
    padding: 0 4px;
}
.row1_col2 .form_div:first-child{
    width: 40%;
    padding-left: 0;
}
.content_row1 input[type="submit"]{
    float: left;
    border: solid 1px #d3d3d3;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    background: #d04044;
    margin-top: 25px;    
    border: none;
    text-transform: uppercase;
    padding: 4px 25px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}
.content_row1 input[type="submit"]:hover{
    background: #b9262b;
}

.content_row2{
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0;
}
.content_row2 h2{
    font-size: 32px;
    line-height: 42px;
    font-weight: normal;
    color: #2b2b2b;
    margin-bottom: 10px;
}
.content_row2 p{
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: #4d4d4d;
}

.content_row3{
    width: 100%;
    float: left;
    text-align: center;
    background: url(../images/row3-bg.jpg) left top repeat;
    border-top: solid 1px #efefef;
    border-bottom: solid 1px #efefef;
    padding: 30px 0;
}
.content_row3 h2{
    font-size: 25px;
    line-height: 33px;
    font-weight: normal;
    color: #2a2a2a;
    margin-bottom: 25px;
}
.content_row3 ul{
    width: 100%;
    float: left;
}
.content_row3 ul li{
    width: 20%;
    float: left;
    display: inline-block;
    padding: 5px;
}
.content_row3 ul li a{
    display: inline-block;
    background: #fff;
    border: solid 1px #e7e7e7;
    padding: 6px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.12);
}
.content_row3 ul li a:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.content_row3 ul li a span{
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #373737;
    letter-spacing: 0.4px;
    transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}
.content_row3 ul li a:hover span{
    color: #d04044;
}

.content_row4{
    width: 100%;
    float: left;
    padding: 30px 0 0;
}
.content_row4 h2{
    font-size: 25px;
    line-height: 33px;
    font-weight: normal;
    color: #2a2a2a;
    margin-bottom: 15px;
    text-align: center;
}
.content_row4 ul{
    width: 100%;
    float: left;
    padding: 0 0 30px;
    border-bottom: solid 1px #f1f1f1;
}
.content_row4 ul li{
    width: 25%;
    float: left;
    text-align: center;
    display: inline-block;
    padding: 11px;
}
.content_row4 ul li a{
    display: block;
    background: #fff;
    border: solid 1px #e7e7e7;
    padding: 6px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.12);
    transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}
.content_row4 ul li a:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.content_row4 ul li a span{
    display: block;
    font-size: 17px;
    line-height: 22px;
    font-weight: normal;
    color: #373737;
    letter-spacing: 0.4px;
    padding: 5px 0;
    transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}
.content_row4 ul li a:hover span{
    color: #373737;
}

.content_row5{
    width: 100%;
    float: left;
    text-align: center;
    padding: 40px 0;
}
.content_row5 h2{
    font-size: 33px;
    line-height: 42px;
    font-weight: bold;
    color: #d04044;
    text-transform: uppercase;
}
.content_row5 h3{
    font-size: 23px;
    line-height: 33px;
    font-weight: normal;
    color: #393939;
    margin-bottom: 8px;
}
.content_row5 p{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #393939;
}

.content_row5 form{
    max-width: 855px;
    width: 100%;
    margin: 30px auto 0 auto;
    text-align: left;
}
.content_row5 .form_left{
    width: 49%;
    float: left;
}
.content_row5 .form_right{
    width: 49%;
    float: right;
}
.content_row5 .form_div{
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.content_row5 .form_div label{
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 27px;
    font-weight: normal;
    color: #2f2f2f;
    text-transform: uppercase;
}
.content_row5 .form_div input[type="text"],.content_row5 .form_div input[type="tel"],.content_row5 .form_div input[type="email"],.content_row5 .form_div textArea{
    width: 100%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 26px;
    font-weight: 300;
    color: #7a7a7a;
    border: solid 1px #d4d4d4;
    padding: 6px 8px;
    border-radius: 4px;
}
.content_row5 .form_div textArea{
    height: 112px;
}
.content_row5 .form_div input[type="submit"]{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 27px;
    font-weight: 600;
    color: #fff;
    background: #d04044;
    padding: 4px 40px;
    border-radius: 4px;
    margin-top: 25px;
    cursor: pointer;
    transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}
.content_row5 .form_div input[type="submit"]:hover{
    background: #c0272b;
}

.footer{
    width: 100%;
    float: left;
    background: #d04044;
    padding: 40px 0;
    border-bottom: solid 1px #ba3a3d;
}
.foot_col.col1{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.foot_col.col2{
    width: 25%;
    float: left;
    padding-right: 15px;
}
.foot_col.col3{
    width: 25%;
    float: right;
}
.footer h2{
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.footer p{
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #fefefe;
}
.footer p a{
    color: #fefefe;
    text-decoration: underline;
    word-wrap: break-word;
}
.footer p a:hover{
    text-decoration: none;
}
.footer ul{
    width: 100%;
    float: left;
}
.footer ul li{
    width: 100%;
    float: left;
}
.footer ul li a{
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}
.footer ul li a:hover{
    text-decoration: underline;
}

.footer2{
    width: 100%;
    float: left;
    background: #d04044;
    padding: 20px 0;
    border-top: solid 1px #e0454a;
}
.footer2 p{
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #fff;
}
.footer2 p a{
    color: #fff;
    text-decoration: underline;
}
.footer2 p a:hover{
    text-decoration: none;
}
.foot2_left{
    float: left;
}
.foot2_right{
    float: right;
}

/*respo-menu*/

.respo_menu{
    display: none;
    margin-top: -33px;
    position: relative;
    z-index: 999;
}
.respo_menu span{
    display: inline-block;
    width: 20px;
    float: left;
    height: 3px;
    background: #d04044;
    position: relative;
    margin: 15px 10px;
    padding: 0;
}
.respo_menu span:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    height: 3px;
    background: #d04044;
}
.respo_menu span:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    height: 3px;
    background: #d04044;
}

.inner_head{
    width: 100%;
    float: left;
    text-align: center;
    padding: 30px 0;
}
.inner_head h1{
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    color: #d04044;
    text-transform: uppercase;
}
.property_left{
    width: 75%;
    float: left;
    text-align: left;
}
.property_right{
    width: 21.7%;
    float: right;
}
.property_left h2{
    font-size: 20px;
    line-height: 34px;
    font-weight: bold;
    color: #414141;
    background: #efefef;
    padding: 5px 12px;
}
.property_table{
    width: 100%;
    float: left;
    display: table;
    padding: 30px 0;
    border-bottom: solid 1px #efefef;
}
.property_row{
    display: table-row;
}
.property_col{
    display: table-cell;
    vertical-align: top;
}
.property_col:nth-child(1){
    width: 280px;
}
.property_col h3{
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    color: #1a1a1a;
    margin-bottom: 5px;
}
.property_col span.location{
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #6a6a6a;
    background: url(../images/location-icon.png) left center no-repeat;
    padding-left: 20px;
}
.property_col span.status{
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}
.property_col span.status.online{
    color: #00cb60;    
}
.property_col span.status.offline{
    color: #d04044;    
}
.property_col p{
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #3d3d3d;
    height: 65px;
    overflow: hidden;
}
.property_col a{
    display: inline-block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    background: #d04044;
    padding: 5px 10px;   
}
.property_col a:hover{
    background: #b82b2f;
}
.property_right h2{
    font-size: 16px;
    line-height: 34px;
    font-weight: 600;
    color: #fff;
    background: #d04044;
    text-align: left;
    padding: 4px 10px;
}
.resident_list{
    width: 100%;
    float: left;
}
.resident_list li{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.resident_list li a{
    display: block;
    padding: 8px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
.resident_list li a:hover{
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
.resident_list li a img{
    display: block;
    width: 100%;
}
.resident_list li a span{
    display: block;
    font-size: 15px;
    line-height: 34px;
    font-weight: 600;
    color: #3c3c3c;
}


.property_details{
    width: 100%;
    float: left;
    padding: 0 0 40px;
}
.property_details span.status{
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}
.property_details_right span.status.online{
    color: #00cb60;    
}
.property_details span.status.offline{
    color: #d04044;    
}
.property_details .impInfo{  
    font-weight: bold;
    color: #3c3c3c;
    background: #efefef;
    padding: 6px 10px; 
    font-size: 14px;
}
.property_details span.location{
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #6a6a6a;
    background: url(../images/location-icon.png) left center no-repeat;
    padding-left: 20px;
}
.property_details_left{
    width: 50%;
    float: left;
    padding-right: 20px;
}
.property_details_right{
    width: 50%;
    float: right;
}
.property_details_right span.status{
    display: block;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    color: #333333;
    margin-bottom: 5px;
}
.property_details_right p{
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
    color: #474747;
}
.property_details_right p span{
    color: #d14549;
}
.property_details_left .map{
    width: 100%;
    float: left;
    border: solid 1px #e8e8e8;
    padding: 8px;
    margin-top: 50px;
}
.property_details_left .map iframe{
    width: 100%;
    float: left;
    display: block;
}

/*gallery-css*/

.gallery_list {
    width: 100%;
    position: relative;
    float: left;
}
.thumbnails {
    list-style: none;
    font-size: 0;
}
.thumbnails li {
    display: inline-block;
    margin: 12px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.thumbnails li:nth-child(4n){
    margin-right: 0;
}
.thumbnails input[name="select"] {
    display: none;
}
.thumbnails .item-hugger {
    width: 85px;
    height: 80px;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border: solid 1px #e8e8e8;
    transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
}
.thumbnails label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.thumbnails .title {
    padding: 20px 0 0;
    font-size: 18px;
    color: #555;
    transition: all 150ms linear;
}
.thumbnails .thumb-image[src=""] {
    display: none;
}
.thumbnails .content2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 560px;
    height: 325px;
    opacity: 0;
    transition: all 150ms linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    border: solid 1px #e8e8e8;
}
.thumbnails input[name="select"]:checked + .item-hugger {
    border: solid 1px #d04044;
}
.thumbnails input[name="select"]:checked ~ .content2 {
    opacity: 1;
}
.white-box {
    height: 325px;
    overflow: hidden;
}
.container-area{
    width: 100%;
    float: left;
    padding: 50px 0;
}
.container-box{
    width: 100%;
    float: left;
    margin-top: 30px;
}
.container-box li{
    width:24%;
    float: left;
    margin: 0 1% 1% 0;
    padding: 5px;
    background: #f5f5f5;
    text-align: center;
}
.container-box li h3{
    font-size: 15px;
    font-weight: 600;
    color: #d04044;
    padding: 10px 0;
}
.container-box li:nth-child(4){
    margin-right: 0;
}
.success-msg {
    height: 50px;
    line-height: 50px;
    padding-left: 55px;         
    color:#FFF;
    font-size:18px;
    text-align:left;
    background:rgba(0, 192, 59, 0.7);
    background-position:5px center;
    background-repeat:no-repeat;
    display:none;
    cursor:pointer;
    font-weight:bold;  
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 9999;
    text-shadow: 0 0 10px #1E6A35;
    text-align: center;
    text-transform: uppercase;
}
.error-msg {
    height: 50px;
    line-height: 50px;
    padding-left: 55px;   
    color:#FFF;
    font-size:18px;
    text-align:left;
    background:rgba(255, 72, 0, 0.7);
    background-position:5px center;
    background-repeat:no-repeat;
    display:none;
    cursor:pointer;
    font-weight:bold;  
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 9999;
    text-shadow: 0 0 10px #7F2602;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width:1140px){
    .header{text-align: center;padding: 10px 0;}
    .logo{float: none;}
    nav{width: 100%;text-align: center;margin-top: 10px;}
    nav ul li{float: none;}
    .head_right{width: 100%;margin-top: 5px;text-align: center;}
    .search_icon{float: none;}
    .search_icon form{position: static;opacity: 1;visibility: visible;margin: auto;}
    .search_icon span{display: none;}
}
@media (max-width:980px){
    nav ul li{padding: 0 5px;}
    .banner_text h1{font-size: 54px;line-height: 70px;}
    .banner_text b{font-size: 18px;line-height: 28px;}
    .banner_text a{margin-top: 10px;}
    .content_row1{margin-top: 30px;}
    .row1_col1{width: 100%;margin-bottom: 30px;}
    .row1_col2{width: 100%;}
    .content_row3 ul{text-align: center;}
    .content_row3 ul li{width: 32.33%;float: none;}
    .content_row3 ul li a{width: 100%;}
    .content_row4 ul li{width: 50%;}
    .property_left{width: 100%;}
    .property_right{width: 100%;margin-top: 20px;}
    .resident_list li{width: 33.33%;padding: 17px;}
    .property_details_left{width: 100%;margin-bottom: 20px;padding-right: 0;}
    .property_details_right{width: 100%;}
    .gallery_list{max-width: 560px;margin: auto;float: none;}
}
@media (max-width:800px){
    .header{padding: 5px 0;}
    .respo_menu{display: block;}
    nav{margin-top: 0;position: relative;}
    nav ul{background: #d04044;position: absolute;left: 0;top: 5px;right: 0;z-index: 99;border-top: 3px solid #a52d31;display: none;}
    nav ul li{width: 100%;padding: 0;}
    nav ul li a{color: #fff;padding: 6px;margin-bottom: 2px;}
    nav ul li a:hover,nav ul li a.active{color: #fff;background: #c73439;}
    .footer{padding: 25px 0;}
    .foot_col{width: 100% !important;padding-right: 0!important;margin: 10px 0;text-align: center;}
    .footer h2{margin-bottom: 0;}
    .footer2 {padding: 15px 0;}
    .footer2 p{width: 100%;text-align: center;}
    .content_row2 h2{font-size: 24px;line-height: 34px;}
    .content_row3 ul li{width: 49%;}
    .resident_list li{padding: 8px;}
    .resident_list li{text-align: center;width: 100%;}
    .resident_list li a img{margin: auto;}
}
@media (max-width:600px){
    .banner_text h1{font-size: 34px;line-height: 44px;}
    .banner_text b{font-size: 15px;line-height: 22px;}
    .content_row1{padding: 20px 15px;}
    .content_row1 h2{font-size: 20px;margin-bottom: 15px;}
    .content_row5 .form_left,.content_row5 .form_right{width: 100%;}
    .content_row5 form{margin-top: 10px;}
    .content_row5 h3{font-size: 20px;}
    .property_left h2{text-align: center;}
    .property_col{display: block;text-align: center;}
    .property_col span.location{padding-left: 0;background: none;}
    .property_col:nth-child(1){width: 100%;margin-bottom: 8px;}
    .property_table{padding: 20px 0;}
    .property_details_left .map{margin-top: 30px;}
}
@media (max-width:480px){
    .banner_text b{display: none;}
    .search_icon form{width: 290px;float: right;}
    .row1_col2 .form_div{width: 100% !important;margin-bottom: 8px;padding: 0;}
    .content_row1 {margin-top: 20px;}
    .row1_col1 .form_left,.row1_col1 .form_right{width: 100% !important;margin-bottom: 8px;}
    .content_row1 label{margin-bottom: 3px;}
    .content_row1 input[type="submit"]{margin-top: 10px;}
    .content_row3 ul li{width: 100%;}
    .content_row3 ul li a{width: auto;}
    .content_row4 ul li{width: 100%;}
    .content_row4 ul li a{display: inline-block;}
    .thumbnails .content2,.white-box{height: 255px;}
}
@media (max-width:360px){
    .banner_text h1{font-size: 30px;line-height: 38px;}
    .banner_text a{font-size: 16px;padding: 2px 15px;}
    .search_icon form{width: 230px;}
    .thumbnails .content2,.white-box{height: 195px;}
}