@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
    color:#FFF;
    font-size:16px;
}
/*********************************************************
RESET
***********************************************************/
* {
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:100%;
}
a {
    text-decoration:none;
    color:#e1e1e1;
}
img {
    max-width:100%;
    border:none;
    /*width:100%;*/
}
ul, ol {
    margin:0px;
    padding:0px;
}
.clear {
    clear:both;
}
/*********************************************************
GENERAL STYLE
***********************************************************/
body {
    margin:0px;
    padding:0px;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main {
    width:100%;
    float:left;
    background: rgba(0, 0, 0, 0.60)
}
.wrapper {
    width:73.21%;
    margin:13px auto;
    max-width:1000px;
    background:#FFF;
    -webkit-box-shadow: -2px 4px 10px 0px rgba(7, 78, 123, 0.75);
    -moz-box-shadow:    -2px 4px 10px 0px rgba(7, 78, 123, 0.75);
    box-shadow:         -2px 4px 10px 0px rgba(7, 78, 123, 0.75);
    border-top: solid 5px #002b60;
}
.container {
    padding:2%;
    width:96%;
    float:left;
}
.logo {
    float:left;
    width:15%;
}
.header {
    width:100%;
    float:left;
    height:135px;
}
.trip {
    float:right;
    margin-left:2%;
}
.header_right {
    float:right;
    width:35%;
    position:relative;
}
.social {
    list-style-type:none;
    float:right;
    width:110px;
    margin:20px 0;
}
.social li {
    display:inline-block;
    float:left;
    margin-right:5%;

}
.social li:last-child {
    margin-right:0;
}
.social li a {
    color: transparent;
    background:#002b60;
    display:block;
    float:left;
    text-align:center;
    width:33px;
    height:33px;	
    line-height:32px;
    border-radius:50%;
    overflow:hidden;
}
.social li a {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.social li a:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}


.search-box {
    width:90%;
    float:right;
}
.search-box [type="text"] {
    width:79%;
    float:left;
    height:38px;
    padding-left:10px;
    border:1px solid #dddada;
    font-size:13px;
    color:#a1a1a1;
}
.search-box [type="text"]:focus {
    color:#FFF;
    background:#002b60;
}
.search-box [type="submit"] {
    border:1px solid #dddada;
    border-left:none;
    width:15%;
    height:40px;
    background:url(../images/search.png) no-repeat center #FFF;
    float:left;
}
.search-box [type="submit"]:hover {
    cursor:pointer;
}
/*********************************************************
BANNER
***********************************************************/
.banner {
    padding:4px;
    width: 98.88%;
    border:1px solid #eeeeee;
    background:#f0f0f0;
    float:left;
}

.fluid_container {
    max-width: 1000px;
    width: 100%;
}
.camera_wrap a, .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
    background: none;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none
}
.camera_wrap {
    display: none;
    float: left;
    position: relative;
    z-index: 0;
}
.camera_wrap img {
    max-width: none!important;
}
.camera_fakehover {
    height: 100%;
    min-height: 60px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.camera_wrap {
    width: 100%;
}
.camera_src {
    display: none;
}
.cameraCont, .cameraContents {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.cameraSlide {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.cameraContent {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.camera_target {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 0;
}
.camera_overlayer {
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
.camera_target_content {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/blank.gif);
    display: block;
    height: 100%;
    text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
    background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
    border: 1px solid #ffffff;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    height: 36px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    margin: -18px 0 0 -18px;
    top: 50%;
    width: 36px;
    z-index: 3;
}
.camera_bar {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
    height: 100%;
    position: absolute;
    width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
    height: auto;
    position: absolute;
    width: 100%;
}
.camera_nav_cont {
    height: 65px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    top: 15px;
    width: 120px;
    z-index: 4;
}
.camera_caption {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
}

.camera_caption > div {
    padding: 10px 20px;
}
.camerarelative {
    overflow: hidden;
    position: relative;
}
.imgFake {
    cursor: pointer;
}
.camera_prevThumbs {
    bottom: 4px;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 4px;
    visibility: hidden;
    width: 30px;
    z-index: 10;
}
.camera_prevThumbs div {
    background: url(../images/camera_skins.png) no-repeat -160px 0;
    display: block;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.camera_nextThumbs {
    bottom: 4px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 4px;
    visibility: hidden;
    width: 30px;
    z-index: 10;
}
.camera_nextThumbs div {
    background: url(../images/camera_skins.png) no-repeat -190px 0;
    display: block;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 30px;
}
.camera_command_wrap .hideNav {
    display: none;
}
.camera_command_wrap {
    left: 0;
    position: relative;
    right:0;
    z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:none;
    text-align: right;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 20px 5px;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
    -moz-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 8px;
    left: 4px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 8px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
    -moz-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
.camera_pag_ul li img {
    display: none;
    position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    top: 0;
    left: 50%;
    margin-left: -4px;
    position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
    cursor: pointer;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 2;
}
.camera_prev {
    left: 0;
}
.camera_prev > span {
    background: url(../images/camera_skins.png) no-repeat 0 0;
    display: block;
    height: 40px;
    width: 40px;
}
.camera_next {
    right: 0;
}
.camera_next > span {
    background: url(../images/camera_skins.png) no-repeat -40px 0;
    display: block;
    height: 40px;
    width: 40px;
}
.camera_commands {
    right: 41px;
}
.camera_commands > .camera_play {
    background: url(../images/camera_skins.png) no-repeat -80px 0;
    height: 40px;
    width: 40px;
}
.camera_commands > .camera_stop {
    background: url(../images/camera_skins.png) no-repeat -120px 0;
    display: block;
    height: 40px;
    width: 40px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 20px 5px;
    position: relative;
    text-indent: -9999px;
    width: 16px;
}
.camera_thumbs_cont {
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
    -moz-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow:
        0px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_thumbs_cont > div {
    float: left;
    width: 100%;
}
.camera_thumbs_cont ul {
    overflow: hidden;
    padding: 3px 4px 8px;
    position: relative;
    text-align: center;
}
.camera_thumbs_cont ul li {
    display: inline;
    padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
    border: 1px solid;
    cursor: pointer;
    margin-top: 5px;
    vertical-align:bottom;
}
.camera_clear {
    display: block;
    clear: both;
}
.showIt {
    display: none;
}
.camera_clear {
    clear: both;
    display: block;
    height: 1px;
    margin: -1px 0 25px;
    position: relative;
}
/**************************
*
*	COLORS & SKINS
*
**************************/
.pattern_1 .camera_overlayer {
    background: url(../images/patterns/overlay1.png) repeat;
}
.pattern_2 .camera_overlayer {
    background: url(../images/patterns/overlay2.png) repeat;
}
.pattern_3 .camera_overlayer {
    background: url(../images/patterns/overlay3.png) repeat;
}
.pattern_4 .camera_overlayer {
    background: url(../images/patterns/overlay4.png) repeat;
}
.pattern_5 .camera_overlayer {
    background: url(../images/patterns/overlay5.png) repeat;
}
.pattern_6 .camera_overlayer {
    background: url(../images/patterns/overlay6.png) repeat;
}
.pattern_7 .camera_overlayer {
    background: url(../images/patterns/overlay7.png) repeat;
}
.pattern_8 .camera_overlayer {
    background: url(../images/patterns/overlay8.png) repeat;
}
.pattern_9 .camera_overlayer {
    background: url(../images/patterns/overlay9.png) repeat;
}
.pattern_10 .camera_overlayer {
    background: url(../images/patterns/overlay10.png) repeat;
}
.camera_caption {
    color: #fff;
}
.camera_caption h2{
    color:#262626;
    font-size:17px;
    text-transform:uppercase;
    font-weight:normal;
    font-family: 'Fjalla One', sans-serif;
}
.camera_caption p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#242222;
}
.camera_caption a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#007fd0;
    text-decoration:underline;
    display:block;
    text-align:right;
}
.camera_caption > div {
    background: #FFF;
    background: rgba(255, 255, 255, 0.8);
}
.camera_wrap .camera_pag .camera_pag_ul li {
    background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
    background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
    background: #434648;
}
.camera_pag_ul li img {
    border: 4px solid #e6e6e6;
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
    box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.camera_pag_ul .thumb_arrow {
    border-top-color: #e6e6e6;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
    background: #d8d8d8;
    background: rgba(216, 216, 216, 0.85);
}
.camera_wrap .camera_pag .camera_pag_ul li {
    background: #b7b7b7;
}
.camera_thumbs_cont ul li > img {
    border-color: 1px solid #000;
}

/*********************************************************
BANNER END
***********************************************************/
.menu {
    width:100%;
    background:#002b60;
    border-radius:5px;
    list-style-type:none;
    float:left;
    margin:10px 0;
}
.menu li {
    display:inline-block;
    position:relative;
    float:left;
    background: url(../images/li_border.jpg) repeat-y center right;
}
.menu li:last-child {
    background:none;
}
.menu li a {
    display:block;
    font-family: 'Fjalla One', sans-serif;
    color:#FFF;
    font-size:17px;
    padding:10px 27px;

}
.menu li a:hover {
    color:#C6CFE8;
}
.menu .submenu {
    position: absolute;
    display:none;
    top:41px;
    z-index:999;
    left:0px;
    width:238px;
    background:#002b60;
    list-style-type:none;

}
.menu .submenu li {
    display:list-item;
    float:none;
    border-bottom:1px solid #003679;
    border-top:1px solid #012049;
}
.menu .submenu li:first-child {
    border-top:none;
}
.menu .submenu li:last-child {
    border-bottom:none;
}
.menu .submenu li a {
    display:block;
    font-family: 'Fjalla One', sans-serif;
    color:#FFF;
    font-size:15px;
    padding:10px 29px;

}
.submenu li a:hover {
    color:#C6CFE8;
}
.menu li:hover .submenu {
    display:block;
}
.row-1 {
    float:left;
    width:100%;
}
.row-1-col-1 {
    width:31.85%;
    float:left;
    min-height:310px;
    margin-right:2.22%;
}
.row-1-col-1:nth-child(n+3) {
    margin-bottom:10px;
}
.row-1-col-1:nth-child(3n){
    margin-right:0;
}
.row-1-heading{
    color:#6f6f6f;
    text-decoration:underline;
}
.row-1-col-1 h2 {
    background:#002b60;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-weight:normal;
    color:#FFF;
    padding:10px;
    font-family: 'Fjalla One', sans-serif;
    text-transform:uppercase;
}
.row-img {
    padding:3px;
    box-sizing:border-box;
    border-radius:5px;
    background:#FFF;
    margin:5px 0;
    border:1px solid #e8e8e8;
}
.row-img-2 {
    height: 173px;
    overflow: hidden;
}
.row-img-2 img {
    min-height: 100%;
}
.row-1-col-1 p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#7f7f7f;
}
.row-1-col-1 a, .row-2-col-1 a {
    background:#002b60;
    display:block;
    color:#FFF;
    float:left;
    text-align:center;
    padding:5px 10px;
    margin-top:5px;
    font-size:12px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.row-1-col-1 a:hover, .row-2-col-1 a:hover {
    color:#C6CFE8;
}
.new_holder {
    list-style:none;
    background:#f0f0f0;
    padding:3px;
    margin:5px 0;
    border-radius:3px;
    border:1px solid #f0f0f0;
}
.new_holder p{
    background:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding:5px;
    color:#7f7f7f;
    line-height:20px;
    display:list-item;
    min-height:150px;
    /*border-top:1px solid #eee9e5;*/
}
.row-1-col-2 {
    width:100%;
    float:left;
    margin-top:5px;
    list-style-type:none;

}
.row-1-col-2 li {
    float:left;
    background:#f0f0f0;
    padding:1%;
    border:1px solid #0f0f0;
    margin:0 2% 2% 0;
    width:29%;
}
.row-1-col-2 li:nth-child(3n) {
    margin-right:0;
}
.row-2 {
    width:100%;
    float:left;

}
.row-2-col-1 {
    float:left;
    width:64%;
}
.row-2-col-1 h3, .row-2-col-2 h3, .about-us h3, .album h3, .contact-us h3, .news-row h3{
    border-left:5px solid #002b60;
    font-size:18px;
    padding:15px 10px;
    color:#007fd0;
    float:left;
    width:100%;
    font-family: 'Fjalla One', sans-serif;
    font-weight:normal;
    text-transform:uppercase;
}
.row-2-col-2_div{
    width: 100%;
    float: left;
    border:4px solid #f0f0f0;
    padding: 10px;
    padding: 25px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
.row-2-col-2_div span{
    color: #007fd0;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
.row-2-col-2_div span a{
    color: #1100ea;
    font-size: 12px;
}
.row-2-col-2_div ul{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.row-2-col-2_div ul li{
    width: 100%;
    float: left;
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 3px;
}
.row-2-col-2_div ul li span{
    font-family: 'Fjalla One', sans-serif;
    color:#007fd0;
    margin-right: 5px;
    width: 60px;
    float: left;
    margin-bottom: 2px;
}
.news {
    list-style:none;
    float:left;
    width:100%;
    box-sizing:border-box;
    padding:4px;
    border:4px solid #f0f0f0;
    margin-top:20px;
    box-sizing:border-box;
}
.news li {
    display:block;
    background:#FFF;
    padding:7px;
    float:left;
    border-bottom:1px solid #e9ebec;
    width:97.6%;
}
.news li:last-child {
    border-bottom:none;
}
.news li img {
    float:left;
    border:1px solid #eeeeee;
    background:#f0f0f0;
    border-radius:3px;
    padding:2px;
    max-width:68px;
    margin-right:5px;
}
.news h4 {
    font-size:14px;
    color:#333333;
    float:left;
    font-weight:normal;
    font-family: 'Fjalla One', sans-serif;
    text-transform:uppercase;
}
.news h6 {
    font-size:13px;
    color:#606060;
    float:right;
    font-weight:normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}
.news p {
    width:60%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#7f7f7f;
    float:left;
    line-height:20px;

}
.row-2-col-2 {
    float:right;
    width:34%;
}
.row-2-col-1 a{
    float:right;
    padding:6px 10px;
}
.map {
    border:1px solid #eeeeee;
    background:#f0f0f0;
    padding:4px;
    margin-top:5px;
    border-radius: 5px;
    width:96%;
    float:left;
}
.map iframe{
    height: 250px;
}
.address {
    border:4px solid #f0f0f0;
    background:#FFF;
    padding:8px;
    float:left;
    width:100%;
    box-sizing:border-box;
    margin-top:10px;
}
.address h2 {
    font-size:14px;
    font-family: 'Fjalla One', sans-serif;
    color:#007fd0;
    text-transform:uppercase;
    font-weight:normal;
    background:url(../images/clock.png) no-repeat left center;
    text-align:center;
    padding:5px 27px;
    margin-left:37px;
    float:left;
}
.address table {
    margin-top:10px;
}
.address ul{
    list-style-type:none;
    width:100%;
    float:left;
    margin-top:10px;
}

.address ul li {
    color:#2d2c2c;
    float:left;
    width:20%;
    margin:5px 0;
    font-size:14px;
    text-align:left;
    display:block;
    padding-left:30px;
    text-transform:uppercase;
    font-family: 'Fjalla One', sans-serif;
}
.address ul li span{
    color:#007fd0;
    font-family: 'Fjalla One', sans-serif;
}
.address ul li:first-child {
    /*	-webkit-min-height:34px;
           min-height:38px;
           padding-bottom:17px;*/
}
.address ul li:nth-child(2n) {
    float:right;
    width:71%;
    text-align:left;
    padding-left:0;
    margin-top:-24px;
}
.row_3{
    width: 100%;
    float: left;
    background: #f0f0f0;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
}
.row_3_column1{
    width: 32%;
    float: left;
    margin-right: 2%;
}
.row_3_column2{
    width: 32%;
    float: left;
    margin-right: 2%;
}
.row_3_column3{
    width: 32%;
    float: left;
    text-align: center;
    background: #fff;
    padding: 20px 10px;
    box-sizing: border-box;
}
.row_3_column3 img{
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}
.row_3_column3 h4{
    color: #002c5e;
    font-weight: normal;
    text-align: left;
    border-bottom: solid 1px #ccc;
    padding-bottom: 12px;
    margin-bottom: 3px;
}
.row_3_column3 h4 a{
    color: #002c5e;
}
.row_3_column3 i{
    font-size: 9px;
    font-style: normal;
    float: left;
    color: #000;
    margin-top: 5px;
}
.row_3_column3 i a{
    color:#485693; 
}
.row_3_column3 ul{
    width: 100%;
    float: left;
    margin-top: 5px;
}
.row_3_column3 ul li{
    width: 32%;
    float: left;
    display: inline-block;
    margin: 1px;
}
.row_3_column3 ul li:nth-child(3n){
    margin-right: 0;
}
.row_3_column3 ul li a{
    display: block;
    float: left;
}
.row_3_column3 ul li a img{
    display: block;
}
.footer {
    background:#002b60;
    width:100%;
    float:left;
    box-sizing:border-box;
    padding:20px;
}
.row-3 {
    width:11%;
    float:left;
    margin-right:6.8%;
}
.row-3:last-child{
    margin-right:0;
}
.row-3 h3 {
    font-family: 'Fjalla One', sans-serif;
    color:#FFF;
    font-weight:normal;
    font-size:14px;
    padding-bottom:10px;
    text-transform:uppercase;
}
.row-3 ul {
    list-style-type:none;
}
.row-3 ul li {
    display:list-item;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}
.row-3 ul li a{
    display:block;
    padding:5px 0;
    color:#FFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.row-3 ul li a:hover{
    color:#c6cfe8;
    padding-left: 13px;
}
.footer-mini {
    width:100%;
    float:left;
    padding:10px 0;
    background:#FFF;
}
.footer-mini ul {
    list-style-type:none;
    float:left;
}
.footer-mini ul li{
    display:inline-block;
    border-right:1px solid #8e8e8e;
    margin:10px 5px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
}
.footer-mini ul li:last-child {
    border:none;
}
.footer-mini ul li a{
    color:#8e8e8e;
    font-size:12px;
    display:block;
    padding:0px 10px;
}
.footer-mini ul li:hover a {
    color:#002b60;
}
.footer-mini p{
    float:right;
    margin:10px 15px;
    color:#8e8e8e;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
}
/*********************************************************
INNER PAGE STYLE
***********************************************************/
.under_construction {
    text-align:center;
    width:100%;
    float:left;
}
.under_construction img {
    background: none repeat scroll 0 0 #f0f0f0;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 2px;
    box-sizing:border-box;
}
.about-us, .album {
    width:100%;
    float:left;
}
.about-us h3, .album h3, .contact-us h3{
    margin:5px 0 10px 0;
}
.about-us p img {
    float:left;
    padding:5px;
    margin:0 10px 10px 0;
    background:#e9e4e4;
}
.about-us p {
    color:#2e2e2e;
    line-height:23px;
    font-size:13px;
    margin-top:5px;
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
}
.album-col {
    list-style:none;
    float:left;
    width:100%;
}
.album-col li {
    width:23%;
    float:left;
    padding:8px;
    margin-right:2.66%;
    margin-bottom:2.66%;
    box-sizing:border-box;
    display:inline-block;
    background:#FFF;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}
.album-col li:nth-child(4n){
    margin-right:0;
}
.album-col li img{
    border:1px solid #f2f2f2;
}
.album-col li p{
    font-family: 'Fjalla One', sans-serif;
    color:#4e4d4d;
    font-size:16px;
    padding:5px 0;
    padding-bottom:10px;
}
.album-col li a, .news-row li a {
    color:#756a6a;
    display:block;
    font-size:10px;
    margin-top:5px;
    float:right;
    padding-left:15px;
    text-transform:uppercase;
    text-align:right;
    font-family:Arial, Helvetica, sans-serif;
    background:url(../images/arrrow.png) no-repeat left center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.album-col li a:hover {
    background:url(../images/arrrow.png) no-repeat 3px 5px;
    color:#000066;
}
.news-row li a:hover {
    background:url(../images/arrrow.png) no-repeat 3px 4px;
    color:#000066;
}
/*********************************************************
GALLERY STYLE
***********************************************************/

/** General page styling **/

.album-main, .news-row {
    float:left;
    width:100%;
}
.gallery {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.gallery li {
    float: left;
    padding:8px;
    width:23%;
    margin-right:2.66%;
    margin-bottom:2.66%;
    box-sizing:border-box;
    display:inline-block;
    background:#FFF;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.24);
    box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.24);
}
.gallery li:nth-child(4n) {
    margin-right:0;
}
#lightbox {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0); /* IE Fallback (Solid Colour) */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=);
    background: rgba(0, 0, 0, 0.7);
    -webkit-filter: none !important;
}
#lightbox img {
    display: block;
    position: absolute;
    border: 5px solid #fff;
    box-shadow: 0 0 20px #000;
    border-radius: 1px;
}
body.blurred > * {
    -webkit-filter: blur(2px);
    -webkit-transform: translate3d(0, 0, 0);
}
.lightbox-loading {
    background: url(loading.gif) center center no-repeat;
    width: 31px;
    height: 31px;
    margin: -16px 0 0 -16px;
    position: absolute;
    top: 48%;
    left: 50%;
}
.lightbox-caption {
    /*		display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            z-index: 1000;
            background: #000;
            background: rgba(0,0,0,0.7);
    
    */
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 75px;
    display: none;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 48%;
    z-index: 1000;

}

.lightbox-caption p {
    margin: 0 auto;
    max-width: 70%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}

.lightbox-button {
    position: absolute;
    z-index: 9999;
    background: no-repeat center center;
    width: 32px;
    height: 32px;
    opacity:0.4;
    -webkit-transition: all 0.3s;
    -moz-transition:    all 0.3s;
    -ms-transition:     all 0.3s;
    transition: 		all 0.3s;
}

.lightbox-button:hover,
.lightbox-button:focus {
    opacity: 1;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

.lightbox-close {
    right: 10px;
    top: 10px;
    background-image: url(../images/close.png);
}
.lightbox-next {
    right: 10px;
    top: 48%;
    background-image: url(../images/next.png);
}
.lightbox-previous {
    left: 10px;
    top: 48%;
    background-image: url(../images/previous.png);
}
/*********************************************************
GALLERY STYLE END
***********************************************************/
.contact-us {
    width:100%;
    float:left;
}
.contact-us-col-1 {
    float:left;
    padding: 5px 0;
    width:47.9%;
    box-sizing:border-box;
    background:#FFF;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.24);
    box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.24);
}
.contact-us-col-1 ul {
    list-style-type:none;
}
.contact-us-col-1 ul li {
    display:inline-block;
    float:left;
    width:100%;
}
.contact-us-col-1 ul li label {
    width:22%;
    float:left;
    font-family: 'Fjalla One', sans-serif;
    color:#007fd0;
    padding:14px 5px;
    text-align:right;
}
.contact-us-col-1 ul li [type="text"], .contact-us-col-1 ul li [type="email"] {
    background:#e7e7e7;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(241, 241, 241, 0.75);
    -moz-box-shadow:    inset 0px 1px 0px 0px rgba(241, 241, 241, 0.75);
    box-shadow:         inset 0px 1px 0px 0px rgba(241, 241, 241, 0.75);
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    width:70%;
    margin:5px 0;
    height:38px;
    float:left;
    padding:0 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#2e2e2e;
}
.message {
    background:#e7e7e7;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(241, 241, 241, 0.75);
    -moz-box-shadow:    inset 0px 1px 0px 0px rgba(241, 241, 241, 0.75);
    box-shadow:         inset 0px 1px 0px 0px rgba(241, 241, 241, 0.75);
    border-radius:5px;
    -moz-border-radius:5px;
    width:70%;
    -webkit-border-radius:5px;
    padding:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#2e2e2e;
}
.contact-us [type="submit"], .contact-us [type="reset"]{
    width:20%;
    background:#002b60;
    border-radius:5px;
    -moz-border-radius:5px;	
    -webkit-border-radius:5px;
    font-size:13px;
    color:#FFF;
    font-weight:bold;
    line-height:28px;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    margin:25px 0px 0 0;
    margin-right:10px;
}
.contact-us [type="submit"]{
    margin-right:5px;
}
.contact-us [type="submit"]:hover, .contact-us [type="reset"]:hover {
    cursor:pointer;
    color:#c6cfe8;
}
.contact-us-col-2 {
    float:right;
    padding:8px;
    width:47.9%;
    box-sizing:border-box;
    background:#FFF;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.24);
    box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.24);
}
.news-row  ul {
    width:100%;
    list-style-type:none;
}
.news-row li {
    display:inline-block;
    float:left;
    width:100%;
    padding:5px;
    border-bottom:1px dashed #e1e1e1;
}
.news-row li img {
    background: none repeat scroll 0 0 #f0f0f0;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    float: left;
    margin-right: 5px;
    padding: 2px;
}
.news-row li h2 {
    font-family: 'Fjalla One', sans-serif;
    color:#4e4d4d;
    font-size:16px;
    text-transform:uppercase;
    font-weight:normal;
}
.news-row li p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#363636;
    line-height:22px;
}
.goback a
{
    color:#756a6a;
    display:block;
    font-size:10px;
    float:right;
    margin-right:22px;
}
.goback a:hover
{
    color:#002B60;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2
{
    height: 13px;
    margin-top: 0!important;
    min-width: 9px;
    padding: 6px 7px!important;
    width: 13px;
}
.gsc-input
{
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    height: auto;
    margin: 0;
    outline: medium none;
    padding: 0;
    width: 100%;
    color:#666!important;

}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus
{
    background-color: #565656!important;
    background-image: none;
    border-color: #666666;
    filter: none;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right:0px !important;	
}
.small-menu {
    width:24px;
    height:15px;
    float:right;
    display:none;

    margin: 34px 10px 0 0;
    background-image: url(../images/small-menu.png);
    cursor:pointer;	
}
.small-menu-data {
    width:170px;
    position:absolute;
    right:10px;
    top:40px;
    display:none;
    z-index:999;
    min-height:200px;
    border-radius:6px;
    background:#002b60;	
}
.small-menu-data ul {
    list-style:none;	
}
.small-menu-data ul li {
    display:block;
    border-top:#011f44 solid 1px;
    border-bottom:#002b60 solid 1px;	
}
.small-menu-data ul li:last-child {
    border-bottom:none;	
}
.small-menu-data ul li:first-child {
    border-top:none;	
}
.small-menu-data ul li a {
    font-size:16px;
    color:#FFF;
    line-height:35px;
    padding-left:15px;
    font-family: 'Fjalla One', sans-serif;
}
.small-menu-data ul li a:hover {
    color:#c3deff;	
}
.small-menu-data ul li ul {
    margin-left:20px;	
}
.small-menu-data ul li ul li a {
    font-size:13px;	
}

/*media======================================*/
@media screen and (max-width:1280px) {
    .menu li a {
        padding: 10px 24px;	
    }	
}
@media screen and (max-width:1024px) {
    .row-1-col-1 h2 {
        font-size:14px;	
    }
    .menu li a {
        padding: 10px 18px;
        font-size:14px;
    }
    .menu .submenu {
        top:39px;	
    }
}
@media screen and (max-width:1010px) {
    .menu {
        display:none;	
    }
    .small-menu {
        display:block;	
    }	
    .about-us {
        border-top:5px solid #002b60;
        margin-top: 10px;
    }
    .news-row {
        border-top:5px solid #002b60;
        margin-top: 10px;
    }
    .news-row h3 {
        margin-top:15px;	
    }
    .contact-us-col-1 ul li [type="text"], .contact-us-col-1 ul li [type="email"] {
        width:100%;	
    }
    .message {
        width:100%;	
    }
    .contact-us [type="submit"], .contact-us [type="reset"] {
        width:90px;
    }
    .contact-us-col-1 ul li label {
        width:100%;
        text-align:left;
        padding: 5px;
        font-size:14px;	
    }
}
@media screen and (max-width:900px) {
    .header {
        height:95px;	
    }
    .social {
        margin: 4px 0;	
    }
    .small-menu {
        margin-top:13px;	
    }
    .row-1-col-1 {
        width:100%;
        margin-bottom:15px;
        text-align:center;
        min-height:0;	
    }	
    .row-1-col-2 li {
        width: 16%;
        margin-top:15px;	
    }
    .row-2 {
        width:100%;	
    }	

    .row-2-col-1 {
        width:100%;	
    }
    .row-2-col-2 {
        width:100%;	
    }
    .news li {
        width:97.8%;
        text-align:center;	
    }
    .news li img {
        float:none;	
    }
    .news h4 {
        width:100%;	
    }
    .news h6 {
        width:100%;	
    }
    .address ul li {
        font-size:13px;	
    }
    .footer-mini ul {
        width:100%;
        text-align:center;
    }
    .footer-mini ul li {
        float:none;	
    }
    .footer-mini p {
        text-align:center;
        float:none;
        line-height:13px;	
    }
    .row-3 {
        width:30%;
        margin:0 1% 2% 0;
        border-bottom:#093b79 solid 1px;
    }
    .row-3:nth-child(4) {
        border-bottom:none;	
    }
    .row-3:nth-child(5) {
        border-bottom:none;	
    }
    .row-3:nth-child(6) {
        border-bottom:none;	
    }
}
@media screen and (max-width:750px) {
    .search-box {
        display:none;	
    }
    .header_right {
        margin-top:25px;	
    }
    .row-3 ul li {
        font-size:11px;	
    }
    .row-3 h3 {
        font-size:13px;	
    }
    .about-us p img {
        width:98%;		
    }
    .news-row li h2 {
        font-size:14px;	
    }
}
@media screen and (max-width:600px) {
    .row-3 {
        width:98%;	
    }
    .row-3 ul li a {
        text-align:center;
        font-size:12px;		
    }
    .row-3 h3 {
        text-align:center;
        text-decoration:underline;	
    }
    .row-3:last-child {
        border-bottom:none;	
    }
    .header {
        height:75px;	
    }
    .header_right {
        margin-top:13px;	
    }
    .news-row li {
        text-align:center;	
    }
    .news-row li img {
        float:none;	
    }		
}
@media screen and (max-width:550px) {
    .footer-mini p {
        font-size:11px;	
    }
    .footer-mini ul li a {
        font-size:11px;	
    }
    .address h2 {
        margin-left:0px;	
    }
    .address ul li {
        padding-left:0px;	
    }
    .banner {
        display:none;	
    }
    .row-1 {
        margin-top:15px;
    }
    .header_right {
        width: 50%;	
    }
    .social {
        display:none;	
    }
    .header {
        height: 55px;
    }
    .header_right {
        margin-top: 2px;
    }
    .small-menu-data ul li a {
        font-size:13px;
    }
    .small-menu-data ul li ul li a {
        font-size:12px;
    }

}
/*Extra Css Sep30*/
.renew_member {
    float: left;
    width: 100%;
}
.renew_member h3{
    border-left:5px solid #002b60;
    font-size:18px;
    padding:15px 10px;
    margin:5px 0;
    color:#007fd0;
    float:left;
    width:100%;
    font-family: 'Fjalla One', sans-serif;
    font-weight:normal;
    text-transform:uppercase;
}
.renew_member p {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#363636;
    line-height:22px;
}
.renew_member h4 {
    font-family: 'Fjalla One', sans-serif;
    font-weight:normal;
    font-size:18px;
    padding:10px 0;
    display:block;
    width:200px;
    margin:10px auto;
    text-align:center;
    border:3px solid #002b60;
    background:none;
    color:#363636;
}
.form_holder h5 {
    font-family: 'Fjalla One', sans-serif;
    font-size:16px;
    color:#007fd0;
    padding:5px 0px;
    font-weight:normal;
}
.form_holder h5 span {
    width:20px;
    display:inline-block;
    line-height:20px;
    text-align:center;
    background:#007fd0;
    color:#FFF;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.form_holder {
    width:80%;
    margin:10px auto;
    padding:10px;
    border:1px solid #d3d3d3;
}
.form_holder label {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    display:block;
    color:#6d6d6d;
    line-height:22px;
}
.form_holder p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#363636;
    text-transform:uppercase;
}
.form_holder [type="text"] {
    border:1px solid #d3d3d3;
    padding:5px 10px;
    color:#363636;
    height:25px;
    width:50%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    margin:5px 0;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */

}
.form_holder [type="checkbox"] {
    float:left;
    margin:5px 8px 0px 0;
}
.form_holder [type="submit"] {
    background:#002B60;
    width:100px;
    height:35px;
    color:#FFF;
    margin-left:35px;
    cursor:pointer;
    -webkit-box-shadow: 0px 3px 1px 0px rgba(11, 13, 66, 0.75);
    -moz-box-shadow:    0px 3px 1px 0px rgba(11, 13, 66, 0.75);
    box-shadow:         0px 3px 1px 0px rgba(11, 13, 66, 0.75);
    font-family: 'Fjalla One', sans-serif;

}
.form_holder [type="submit"]:hover {
    color:#bcbcbc;
}
/*extra css two*/
.form_holder ul{
    list-style:none;

}
.form_holder ul li {
    display:list-item;
}
.form_holder ul .sub_check{
    margin-left:30px;
}
.member_holder {
    float:left;
    width:100%;
}
.member_holder h2, h3, h4, h5 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#3333ff;
    padding:10px 0;
} 
.member_holder ul{
    list-style:none;
    float:left;
    width:100%;
    margin-left:30px;
}
.member_holder ul li{
    display:list-item;
    padding:5px 0;
    font-family:Arial, Helvetica, sans-serif;
    padding-left:10px;
    font-size:13px;
    color:##2e2e2e;
    background:url(../images/new_built.png) no-repeat left center;
}
