<script>
function insertvalue(txb)

{
 txb.value = txb.value.replace(/[^\0-9]/ig, "");
var insertPricve = document.getElementById("txtAmount").value;

document.getElementById("sendPrice").value =insertPricve;

var insertCurency = document.getElementById("curency").value;
document.getElementById("sendCurrency").value =insertCurency;
}
</script>


<div class="about-us">

    	<h3><?php echo $donate['title'];?></h3>

    <p> <?php echo $donate['description'];?></p>
    </div>
    <div class="renew_member">
    
     <?php   if($msg) { ?>

           <div style="line-height:20px;padding:5px 5px 10px 5px;border:solid 1px #6AA002;ackground-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:6AA002;font-size:13px;text-align:center;background:url(images/yes.png) ;background-position:5px center;background-repeat:no-repeat;cursor:pointer;font-weight:700;margin:-21px 44 0 19px; width:435px;"><?php echo $msg;?> </div>
           
               <?php }if($error){ ?>

      <div style="line-height:20px;padding:6px 5px 6px 5px;border:solid 1px #E54242;background-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:#D60000;font-size:13px;text-align:center;background:url(images/error.png) #FEE2E2;background-position:5px center;background-repeat:no-repeat;cursor:pointer;margin:10px 0 0 9px; width:400px;"><?php echo $error;?> </div>
               <?php } ?>
               <?php
        if($_REQUEST['cancel'])
			{
				echo "Payment Canceled";
			}
			
			if($_REQUEST['success'])
			{
				echo "Payment success";
			}
        ?>
    
    
     
    <h4>Donation Form</h4>
    <form class="form_holder" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" name="_xclick">
    <h5><span>1</span> Basic Information</h5>
    <label>First Name : </label>
    <input type="text" name="fname" value="<?php echo $_REQUEST['fname'];?>" />
     <label>Last Name : </label>
    <input type="text" name="lname" value="<?php echo $_REQUEST['lname'];?>" />
     <label>Mailing Address : </label>
    <input type="text" name="maddress" value="<?php echo $_REQUEST['maddress'];?>" />
     <label>Phone : </label>
    <input type="text" name="phone" value="<?php echo $_REQUEST['phone'];?>" /> 
     <label>Email : </label>
    <input type="text" name="email" value="<?php echo $_REQUEST['email'];?>" />
    <label>Donation in Memory / Honor of (optional) </label>
    <input type="text" name="memory" value="<?php echo $_REQUEST['memory'];?>" />
       <p>Donation Specification</p>  
       <ul>
        	<li class="sub_check"><input type="checkbox"  name="checkbox1" value="Museum Operational Support"/><label>Museum Operational Support</label></li>
            <li class="sub_check"><input type="checkbox"  name="checkbox2" value="Vessel Fund"/><label>Vessel Fund</label></li>
            </ul>
    <h5><span>2</span>Detailed Information as follows</h5>
        
        <label>Amount $ :</label>
              <input type="text" name="amount"  value="<?php echo $_REQUEST['money'];?>" onkeyup="insertvalue(this)" id="txtAmount"/>
        <label>Name as it appears on Credit Card : </label>
        <input type="text" name="credit" value="<?php echo $_REQUEST['credit'];?>" />
        <label>Address associated with credit card : </label>
        <input type="text" name="creditaddress" value="<?php echo $_REQUEST['creditaddress'];?>" />
        <label>Credit card Number : </label>
        <input type="text" name="creditnum" value="<?php echo $_REQUEST['creditnum'];?>" />
        <label>3 Digit Code on back of card : </label>
        <input type="text" name="code"value="<?php echo $_REQUEST['code'];?>" />
        <label>Expiration Date of Credit Card : </label>
        <input type="text" name="expiry"value="<?php echo $_REQUEST['expiry'];?>" />
        <input  type="submit" value="SUBMIT" name="submit"/>
        <div class="paypal"><img src="images/paypal-img.png" /></div>
        
        
        <input type="hidden" name="cmd" value="_xclick">
            
            <!--  <input type="hidden" name="business" value="behera.pinkun081@gmail.com">-->
            <input type="hidden" name="business" value="HLWMaritime@gmail.com">
            <input type="hidden" name="currency_code" id="sendCurrency" value="USD">
            <input type="hidden" name="item_name" value="Donation Specification">
         <!-- <input type="hidden" name="money"  id="sendPrice" value="" > -->
            <input type="hidden" name="return" value="http://localhost/marinemuseum/donate.php?success" />
            <input type="hidden" name="cancel_return" value="http://localhost/marinemuseum/donate.php?cancel" />
         <input type="hidden" name="notify_url" value="http://localhost/marinemuseum/donate.php?action=ipn&order_id" /> 
        
        
        
        
        
        
        
        
        
        
        
        
         </form>
         
         
       <!--
         <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="money" value=" ">
    
    <input type="hidden" name="creditnum" value=" ">
    <input type="hidden" name="code" value=" ">
    <input type="hidden" name="amount" value=" ">
    
  <input type="image" src="https://www.paypal.com/en_AU/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
    <img alt="" border="0" src="https://www.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
 
     
</form> -->
         
         
         
         
         
         
        
    </div>