/* CSS Document */
body{
    margin:0px;
    padding:0px;
    background-color:#FFFFFF;
    font:noraml Arial 13px;
}
h1{
    font:bold 16px Tahoma;
    color:#383838;
    margin:0;
    padding:0 0 10px 0;	
}
.clear {clear:both;}

/*==================CSS For Login Page=================*/
/*=====================Style For Login Page=================*/
.shadow-login{
    width:1000px;
    background-image:url(../images/shadow.jpg);
    background-repeat:no-repeat;
    margin:auto;
    margin-top:20px;
    padding:0px;
}
.logintop {
    /*background-image:url(../images/login_top.png);*/
    width:653px;
    height:42px;
    background-repeat:no-repeat;
}

.loginbottom {
    /*background-image:url(../images/login_bottom.png);*/
    width:653px;
    height:15px;
    background-repeat:no-repeat;
}
.loginbg {
    background-image:url(../images/loginbg.png);
    width:653px;
    color:#787878;
    height:200px;
    background-repeat:repeat-y;
    font-family:Tahoma;
    font-size:13px;
    font-weight:normal;
    border-top:1px solid #B4D6DC;
    border-bottom:1px solid #B4D6DC;
}
#login {
    width:653px;
    vertical-align:middle;
    padding:20px 50px 20px 140px;
}
#login2 {
    margin:40px 10px 25px 130px;
    background-image:url(../images/login.gif);
    width:128px;
    height:128px;
    background-position:center;
    background-repeat:no-repeat;
    float:left;
}
#login3 {
    float:left;
    width:250px;
    padding:40px 10px 10px 10px;
}
#login3 a{
    font:normal 13px Tahoma;
    color:#105893;
    text-decoration:none;
}
#login3 a:hover{
    text-decoration:underline
}
.bottom {
    background-image:url(../images/bottom_bg.jpg);
    height:41px;
    color:#FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding-top:5px;
    text-align:center;
}
/*================End Style For Login Page=====================*/
.shadow{
    width:1024px;
    background-image:url(../images/shadow.jpg);
    background-repeat:no-repeat;
    margin:auto;
    margin-top:20px;
    padding:0px;
}
.maindv{
    width:970px;
    background:#4ca8e8;
    overflow:hidden;
    margin:auto;
    margin-top:0px;
    padding:15px;
}
.header{
    width:970px;
    background:#FFFFFF;
    height:120px;
    margin:0px;
    padding:0px;
}
.logo{
    width:400px;
    height:120px;
    float: left;	
}
.login{
    width:200px;
    border:#333333 solid 1px;
    float:right;
    padding:10px;
    margin:30px 15px 0 0;
    font-family:Arial;
    font-size:11px;
}

.mainbody{
    width:970px;
    margin:0px;
    padding:0px;
}
.menupanel{
    width:970px;
    height:25px;
    margin:0px;
    padding:0px;
}
/*.leftpanel{
background:#f0b545;
width:208px;
overflow:hidden;
border:#fdf189 solid 1px;
margin-right:15px;
padding:0px;
float:left;
}*/
.rightpanel{
    width:1079px;
    background:#FFFFFF;
    border:solid 1px #2776ad;
    margin:0px;
    padding:0px;
    background-image:url(../images/rightpanelbg.jpg);
    background-repeat:repeat-x;
    overflow:hidden;
}
.title{
    font:bold 14px/33px Tahoma;
    color:#0F0E0E;
    margin-left:15px;
    padding:0px;
}
.graybg{
    background-image:url(../images/righttopbg.jpg);
    background-repeat:repeat-x;
    margin-top:8px;
    padding:0px;
}

.rightbody
{
    width:1057px;
    background:#FFFFFF;
    margin:10px;
    padding:10px;
    border:#FF6600 solid 1px;
    overflow:hidden;
    text-align:left;
    min-height:450px;
}
.footer{
    background:#074f7c;
    width:968px;
    border:#77cdef solid 1px;
    margin-top:20px;
    padding:20px 0 20px 0;
    text-align:center;
}
.footerlink{
    font:normal 10px Tahoma;
    color:#9cd933;
    text-align:center;
}
/*=====================CSS For Top Menu===================*/
.jqueryslidemenu{
    font: bold 11px Arial;
    background-color: #494949;
    padding:0;
    margin:0;
}

.jqueryslidemenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    height:25px;
}
/*Top level list items*/
.jqueryslidemenu ul li{
    position: relative;
    display: inline;
    float: left;
    z-index:105;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
    display: block;
    background: #414141; /*background of tabs (default state)*/
    color: white;
    padding: 5px 10px 5px 10px;
    border-right: 1px solid #778;
    color: #2d2b2b;
    text-decoration: none;
}
* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{
    color: white;
}
.jqueryslidemenu ul li a:hover{
    background: black; /*tab link background during hover state*/
    color: white;
}
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
    position: absolute;
    left: 0;
    display: block;
    visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
    display: list-item;
    float: none;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
    top: 0;
}
/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
    font: normal 11px Arial;
    width: 120px; /*width of sub menus*/
    padding: 5px;
    margin: 0;
    border-top-width: 0;
    border-bottom: 1px solid gray;
}
.jqueryslidemenuz ul li ul li a:hover{ /*sub menus hover style*/
    background: #eff9ff;
    color: black;
}
/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{
    position: absolute;
    top: 8px;
    right: 7px;
}

.rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
}
/*=================End CSS For Top Menu================*/

/*=================CSS Dash Board==============*/
.dashboard-rounded-div{
    width:440px;
    padding:5px;
    border:solid 1px #2776ad;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.dashboard-rounded-div-2{
    width:900px;
    padding:5px;
    border:solid 1px #2776ad;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.table-head{
    background-color: #16A0D9; color: #FFFFFF; font: bold 12px Arial; height:30px;
    text-align: left; margin:0; padding:0;	
}
.table-head td{
    text-align:left;
    padding-left:10px;
}
.table-row-1{
    background-color: #EEEEEE; color: #000000; font: normal 12px Arial; height: 30px;text-align: left; padding:0; margin:0; 
}
.table-row-1:hover{
    background-color: #7AD8FF;
}
.table-row-1 td{
    padding-left:5px; border-bottom:solid 1px #B5D7D8;
}
.table-row-2{
    background-color: #FFFFFF; color: #000000; font: normal 12px Arial; height: 30px; text-align: left;	padding:0; margin:0; 
}
.table-row-2:hover{
    background-color: #7AD8FF;
}
.table-row-2 td{
    padding-left:5px; border-bottom:solid 1px #B5D7D8;
}
.action-icon{    
    padding:5px; cursor:pointer; border:none; float:left;	
}
.div-tools{
    width:245px; height:30px; float:right; 	
}
.div-tools img{
    padding:5px; cursor:pointer; border:none; float:left;	
}
/*=================End CSS Dash Board==============*/
#toTop{
    font:normal 12px Arial;
    position:fixed;
    right:10px;
    bottom:10px;
    display:none;
}
.welcome{
    font-family:Arial, Helvetica, sans-serif;
    font-size:180x;
    color:#81071D;
    text-align:center;
    margin-top:80px;
}
.dashboard-rounded{
    /*width:400px;*/
    padding:5px;
    border:solid 1px #2776ad;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:0 auto;
    padding:10px 0 10px 0;
}
.rowholder{
    margin:0 auto;
    text-align:left;
    /* border:1px solid #339999; */
}
.rowholder1{
    margin:10px;
    text-align:left;
    float:left;
    margin-right:0px;
    /* border:1px solid #339999; */
}
.mainbox{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#003399;
    margin:0 auto;
    width:400px;
    margin-bottom:10px;
    margin-top:10px;
    /*border:1px solid #339999;*/
}
.labeldiv1{
    float:left;
    width:140px;
    margin-bottom:10px;
    text-align:left;
}
.labeldiv2{
    float:left;
    width:180px;
}
.labeldiv2 img{
    border:1px solid #999999;
}
.labeldiv2 a{
    text-decoration:none;
    border:0;
}
.labeldiv2 a img{
    border:0;
}
.msg{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:center;
}
.nodata{
    color:#FF0000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align:center;
}
.imgdiv{
    float:left;
    /*width:500px;*/
    padding:5px;
}
.imgdiv img{
    border:1px solid #CCCCCC;
    margin:5px 0 5px 0px;
    height:50px;
    width:50px;
}
.imgdiv a{
    text-decoration:none;
    border:none;
}
.imgdiv a img{
    text-decoration:none;
    border:none;
    height:10px;
    width:10px;
    margin:0 5px 0 0;
}
.leftpan{
    width:370px;
    float:left;
    /*border:1px solid #FF3399;*/
    margin:20px 10px 0 0 ;	
}
.rightpan{
    width:320px;
    float:right;
    margin:20px 0 0 0 ;	
    /*border:1px solid #FF3399;*/
}
.cont{
    width:710px;
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#003399;
}
.txtbox{
    width:710px;
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#003399;
}
.txtboximg{
    width:740px;
    margin:0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#003399;
}
.imgbox{
    margin:19px 85px 44px -74px;
    background-color:#FEFEFE;
    border:1px solid #CCCCCC;
    padding:20px 10px 20px 10px; 
}
.footlnk{
    text-decoration:none;
    color:#FFFFFF;
}
.note{
    color:#FF0000;
}
.paging{
    margin:10px 10px 10px 10px;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #99FF00;
}
/*===== Pagination ===========*/

/*Quotes style*/
div.pagination {
    padding:3px;
    margin:3px;
    text-align:center;
    font-size:14px;
}
div.pagination a {
    padding: 5px 10px 5px 10px;
    margin-right: 2px;
    border: 1px solid #ddd;
    text-decoration: none; 
    color: #666666;
}
div.pagination a:hover, div.pagination a:active {
    padding: 5px 10px 5px 10px;
    margin-right: 2px;
    border: 1px solid #a0a0a0;
    background-color: #9E1F63;
    color: #FFF;
}
div.pagination span.current {
    padding: 5px 10px 5px 10px;
    margin-right: 2px;
    border: 1px solid #e0e0e0;
    font-weight: bold;
    background-color: #9E1F63;
    color: #FFF;
}
div.pagination span.disabled {
    padding: 5px 10px 5px 10px;
    margin-right: 2px;
    border: 1px solid #f3f3f3;
    color:#999999;
    border: 1px solid #ddd;
}/*===== End Pagination ===========*/
.success-msg {
    height: 50px;
    line-height: 50px;
    padding-left: 55px;         
    color:#FFF;
    font-size:18px;
    text-align:left;
    background:rgba(0, 192, 59, 0.7);
    background-position:5px center;
    background-repeat:no-repeat;
    display:none;
    cursor:pointer;
    font-weight:bold;  
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 9999;
    text-shadow: 0 0 10px #1E6A35;
    text-align: center;
    text-transform: uppercase;
}
.error-msg {
    height: 50px;
    line-height: 50px;
    padding-left: 55px;   
    color:#FFF;
    font-size:18px;
    text-align:left;
    background:rgba(255, 72, 0, 0.7);
    background-position:5px center;
    background-repeat:no-repeat;
    display:none;
    cursor:pointer;
    font-weight:bold;  
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    z-index: 9999;
    text-shadow: 0 0 10px #7F2602;
    text-align: center;
    text-transform: uppercase;
}