<script src="ckeditor/ckeditor.js"></script>
<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1><?= (@$editId != '' || (isset($_REQUEST['editpage']))) ? "Edit Page" : "Add New Page"; ?></h1> 
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="pages.php"><i class="fa fa-backward"></i> Back</a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <table width="928px" cellpadding="0" cellspacing="10px">
                            <tr>
                                <?php if (@$editId != '' || (isset($_REQUEST['editpage']))) { ?>
                                    <td>
                                        <form method="post" action="add-page.php?editId=<?= $editId; ?>" >
                                            <div class="box-body">
                                                <p class="note">All (*) fields are mandatory</p> <br>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-5">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Page Title : <span style="color:#FF0000">*</span></label>
                                                                <div>
                                                                    <input name="title" value="<?= $getNewsDetails['title']; ?>" class="form-control" required="required" maxlength="100" aria-required="true" type="text">
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-14">
                                                        <div class="col-xs-12">
                                                            <label for="name">Page Description : <span style="color:#FF0000">*</span></label>
                                                            <textarea   name="desc" id="desc" rows="155" cols="130" style="width: 100%" class="ckeditor"><?= $getNewsDetails['description'] ?></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-13">
                                                    <div class="box-footer text-right">
                                                        <a class="btn btn-danger" href="<?= ADMIN_HTTP_ROOT ?>pages.php" style="width: 100px; margin: 0 5px 4px;">Cancel</a> &nbsp;
                                                        <button type="submit" name="save" id="editpage" class="btn btn-success" style="width: 100px;">Update</button> &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                <?php } else { ?>
                                    <td>
                                        <form  method="post" action="" >
                                            <div class="box-body">
                                                <p class="note">All (*) fields are mandatory</p> <br>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-5">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Page Title : <span style="color:#FF0000">*</span></label>
                                                                <div>
                                                                    <input name="title" value="" class="form-control" required="required" maxlength="100" aria-required="true" type="text">
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-14">
                                                        <div class="col-xs-12">
                                                            <label for="name">Page Description : <span style="color:#FF0000">*</span></label>
                                                            <textarea name="desc" id="desc" rows="155" cols="130" style="width: 100%" class="ckeditor" required aria-required="true"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-13">
                                                    <div class="box-footer text-right" style="padding-right: 0;">
                                                        <a class="btn btn-danger" href="<?= ADMIN_HTTP_ROOT ?>pages.php" style="width: 100px; ">Cancel</a> &nbsp;
                                                        <button type="submit" name="save" class="btn btn-success" style="width: 100px;margin-right: 7px">Save</button> &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <?php
                                }
                                ?>
                            </tr>
                        </table>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </section>
    </section>
</div>