<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1><?php echo isset($_GET['edit']) ? 'Edit Image' : 'Add Image' ; ?></h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>          
                <!--<li><a class="btn btn-success" href="manage_category.php?add=true" style="color: #FFF;"><i class="glyphicon glyphicon-plus-sign"></i> Add New Album </a></li>-->
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">
                        <div class="box-body"> 
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box box-primary">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td>
                                                    <form name="" method="post" action="" enctype="multipart/form-data">
                                                        <div class="box-body">
                                                            <p class="note" style="margin-left: 15px;">All (*) fields are mandatory</p>
                                                            <div class="row">  
                                                                <div class="col-xs-14"> 
                                                                    <div class="col-xs-12">                                                                        
<!--                                                                        <div class="col-xs-6" style="display: <?php if (isset($_GET['edit'])) { ?> none <?php } ?>;">
                                                                            <div class="form-group">
                                                                                <label for="name">Album Name : <span style="color: red;">*</span></label>&nbsp;
                                                                                <input type="text" name="category" class="form-control" required value="<?= isset($_REQUEST['category']) ? $_REQUEST['category'] : ''; ?>" />
                                                                            </div>
                                                                        </div>-->
                                                                        <div class="col-xs-6">
                                                                            <div class="form-group">
                                                                                <label for="name">Gallery Name : <span style="color: red;">*</span></label>&nbsp;
                                                                                <input type="text" name="name" class="form-control" required value="<?= isset($getimage['galleryname']) ? $getimage['galleryname'] : ''; ?>" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-12">
                                                                        <div class="col-xs-6">
                                                                            <div class="form-group">
                                                                                <label for="name">Image : <span style="color:#F00;font-size:11px;">* Please select  640*480 image (please upload image in gif,jpg,jpeg,png,JPEG format)</span></label>&nbsp;

                                                                                <?php if (!empty($getimage['id']) && !empty($getimage['image'])) { ?>
                                                                                    <input type="hidden" value="<?php echo $getimage['image']; ?>" name="image1" />
                                                                                    <input name="image" type="file" id = albumImage /><br/>
                                                                                    <div><img src="../images/gallery/<?= $getimage['image']; ?>" width="200px" id="imagePreview"/></div>
                                                                                <?php } else { ?>
                                                                                    <input name="image" type="file" required id =albumImage /><br/>
                                                                                    <div><img style="max-width: 250px;" id="imagePreview" src="" /></div>
                                                                                <?php } ?>

                                                                            </div> 
                                                                        </div> 
                                                                    </div> 
                                                                    <div class="col-xs-12">
                                                                        <div class="col-xs-6">
                                                                            <button type="submit" class="btn btn-success" name="<?= !empty($getimage['id']) ? 'update' : 'save' ?>" value="Update" style="width: 100px"><?= !empty($getimage['id']) ? "Update" : "Save" ?></button>&nbsp;
                                                                            <a style="width: 100px" id="cancelBtn" class="btn btn-danger" href="manage_category.php">Cancel</a> &nbsp;
                                                                        </div>                                    
                                                                    </div>                                    
                                                                </div>                                    
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#albumImage").change(function () {
        readURL(this);
    });
</script>