<!--     Content     -->
<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Change Password</h1> 
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>                
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <table width="928px" cellpadding="0" cellspacing="10px">
                            <tr>                                
                                <td>
                                    <form action="" name="" method="post" enctype="multipart/form-data" onsubmit="return validateUser()">
                                        <div class="box-body">
                                            <p class="note">All (*) fields are mandatory</p> <br>
                                            <div class="col-xs-12 col-sm-12 col-md-14">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="name">Current password:<span style="color:#FF0000">*</span></label>
                                                        <div>
                                                            <input type="password" size="40" name="old_password" class="form-control" id="old_password" value="" placeholder="Enter Current Password"/>  
                                                            <!--<input type="password" size="40" name="old_password" class="textbox" id="old_password" value="<?php echo $_POST['adminmail']; ?>" />-->  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-14">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="name">New Password:<span style="color:#FF0000">*</span></label> 
                                                        <div>
                                                            <input type="text" size="40" name="new_password" id="new_password" class="form-control"  value="" placeholder="Enter New Password"/>                                 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-14">
                                                <div class="col-xs-6">
                                                    <label for="name">Confirm New Password: <span style="color:#FF0000">*</span></label>
                                                    <div>
                                                        <input type="text" name="conf_password" id="conf_password" size="40" class="form-control" value="" placeholder="Re-enter New Password"/>
                                                    </div>
                                                </div>
                                            </div>                                                            
                                        </div>
                                        <div class="col-xs-13">
                                            <div class="box-footer text-left">
                                                <input type="submit" name="change" class="btn btn-success" value="Update" id="change" style="width: 100px;margin-left: 30px;" />                                                    
                                                <a class="btn btn-danger" style="min-width: 100px;" href="<?= ADMIN_HTTP_ROOT ?>">Cancel</a>
                                            </div>
                                        </div>

                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </section>

    </section>
</div>