 </script>  
<link rel="stylesheet" type="text/css" media="all" href="css/jsDatePick_ltr.min.css" />
<script type="text/javascript" src="js/jsDatePick.min.1.3.js"></script>
<script type="text/javascript">
	window.onload = function(){
		new JsDatePick({
			useMode:2,
			target:"date",
			dateFormat:"%d-%M-%Y"
			
		});
	};
</script>
  <!--     Content     -->
		<hr class="noscreen" />
		<!-- Content (Right Column) -->
		<div id="content" class="box">
				
			<!-- System Messages -->
			
			<?php if($success){ ?>
			<p class="msg done"><?php echo $success; ?></p>
            <?php } ?>
			<?php if($err){ ?>
			<p class="msg error"><?php echo $err; ?></p>
			<?php } ?>
			

			

	<form action="" name="" method="post" onsubmit="return validate()">
			<fieldset>
				<legend>Edit  Event</legend>
				<table class="nostyle">
					<tr>
						<td style="width:120px;"><span class="mandatory">*</span>Event Name</td>
                        <td>:</td>
						<td><input type="text" size="40" name="name" class="textbox" id="name" value="<?php echo $event_name; ?>" /></td>
					</tr>
                  
                     <tr>
						<td><span class="mandatory">*</span>Event Date</td>
                        <td>:</td>
						<td><input type="text" size="40" name="date" class="textbox" id="date" value="<?php echo $on_date; ?>" /></td>
					</tr>
                 
					<tr>
						<td><span class="mandatory">*</span>Event Description</td>
                        <td>:</td>
						<td><textarea cols="30" name="desc" id="desc" rows="6"><?php echo $about_event; ?></textarea></td>
					</tr>
                  
                    <tr>
						<td><span class="mandatory">*</span>User Type:</td>
                        <td>:</td>
						<td><input type="radio" name="usertype" id="usertype" value="1"  <?php if($user_type=='1') {echo "checked='checked'";}; ?>"  /> &nbsp;Employee &nbsp;
                        <input type="radio" name="usertype" id="usertype" value="0" <?php if($user_type=='0') {echo "checked='checked'";}; ?>" /> &nbsp;All User</td>
					</tr>            
                  

					<tr>
						<td colspan="3" class="t-right">
                        <input type="submit" name="edit_event" class="button" value="Save" id="save" style="margin-right:5px;" />
                        <input type="hidden" name="web_id"  class="button" value="<?php echo $webId; ?>" />
                        <?php
							if($eventId)
							{
						?>
                        <a href="<? echo CUR_PAGE; ?>?delete=<? echo $eventId; ?>" onclick="javascript:return confirm('Are you sure you want to delete ?')" style="text-decoration:none;"><input type="button" name="del" class="button" value="Delete" id="del" /></a>
                       <? } ?>
                       </td>
					</tr>
				</table>
			</fieldset>
            </form>
			
			<!-- Definition List -->
			

		</div> <!-- /content -->

	</div> <!-- /cols -->
	<!--   Content End Here  -->