<link rel="stylesheet" type="text/css" media="all" href="css/jsDatePick_ltr.min.css" />
<script type="text/javascript" src="js/jsDatePick.min.1.3.js"></script>
<style>
    .gname {
        width:500px;
        height:auto;
        margin:0px auto;
        margin-top:10px;
        margin-bottom:40px;
        line-height:30px;
        border:1px solid #333333;
        -moz-border-radius:5px;
        padding:5px;
    }
    .text1 {
        width: 300px; height: 30px; padding: 3px; border: solid 1px #000; -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .text2 {
        width: 300px; height: 100px; padding: 3px; border: solid 1px #1683EA; -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .textl {
        font:normal 12px Verdana, Arial, Helvetica, sans-serif;
        vertical-align:top;
    }
    .err_msg {
        color:#FF0000;
        font-size:12px;
        font-family:arial;
        font-weight:bold;
    }
    .succ_msg {
        color:#6AAE00;
        font-size:12px;
        font-family:arial;
        font-weight:bold;
    }
    .submit {
        background:bottom;
        background-color:#000;
        background-repeat:repeat-x;
        border:none;
        color:#FFF;
        cursor:pointer;
        padding:3px 15px 3px 15px;
        -moz-border-radius:3px;
    }
    .popup_body {
        background-color:#FFF;
    }
    .popup_font {
        color:#333333;
    }
</style>
<script type="text/javascript">
    function removeimage() {
        document.getElementById("oldimage").style.display = 'none';
        document.getElementById("butt").style.display = 'block';
    }
</script>

<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Manage Banner</h1> 
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="manage_banner.php"><i class="fa fa-backward"></i> Back</a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <table width="928px" cellpadding="0" cellspacing="10px">
                            <tr> 
                                <?php if (@$id != '') { ?>
                                    <td>
                                        <form action="" name="" method="post" enctype="multipart/form-data" onsubmit="return validateUser()">
                                            <div class="box-body">
                                                <p class="note">All (*) fields are mandatory</p> <br>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Banner Name: </label>
                                                                <div>
                                                                    <input name="name" value="<?= $getHomeEvent['banner_name']; ?>" class="form-control" aria-required="true" type="text">
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Banner Caption: </label>
                                                                <div>
                                                                    <textarea class="form-control" maxlength="100" aria-required="true"  name="description" id="description" rows="" cols="" style="width: 100%"><?= $getHomeEvent['caption']; ?></textarea>
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>                                               

                                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Image: <span style="color:#FF0000">*</span>&nbsp;<span style="color:#F00;font-size:12px;">Please select 1180*430 image (please upload image in gif,jpg,jpeg,png,JPEG format)</span></label>
                                                                <div>
                                                                    <?php if ($getHomeEvent['banner_image'] != "") { ?>
                                                                        <img src="../images/banner/<?= $getHomeEvent['banner_image']; ?>" width="100px" height="100px"/> 
                                                                        <div class="clear" style="clear:both;"></div>
                                                                        <a onClick="del_img('<?= $getHomeEvent['id'] ?>');" class="btn btn-danger hint--top  hint" data-hint="Delete" style="padding: 0 5px !important;margin-top: -194px;margin-left: 106px;"><i class="fa fa-trash"></i></a>
                                                                    <?php } else { ?>
                                                                        <input type="file" name="image" id="albumImage" />
                                                                        <div><img style="max-width: 250px;" id="imagePreview" src="" /></div>
                                                                    <?php } ?>
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-13">
                                                    <div class="box-footer text-right">                                                    
                                                        <a class="btn btn-danger" href="<?= ADMIN_HTTP_ROOT ?>manage_banner.php" style="width: 100px; margin: 0 5px 4px;">Cancel</a> &nbsp;
                                                        <input type="submit" name="save" class="btn btn-success" value="Update" id="save" style="width: 100px;"/>
                                                        <input type="hidden" name="web_id"  class="button" value="<?= $webId; ?>" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                <?php } else { ?>

                                    <td>
                                        <form action="" name="" method="post" enctype="multipart/form-data" onsubmit="return validateUser()">
                                            <div class="box-body">
                                                <p class="note">All (*) fields are mandatory</p> <br>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Banner Name:  <span style="color:#FF0000">*</span></label>
                                                                <div>
                                                                    <input name="name" value="" class="form-control" required="required" maxlength="100" aria-required="true" type="text">
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Baner Caption: <span style="color:#FF0000">*</span></label>
                                                                <div>
                                                                    <textarea class="form-control" required="required" maxlength="100" aria-required="true"  name="description" id="description" rows="1" cols="" style="width: 100%"></textarea>
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-14">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Image: <span style="color:#FF0000">*</span>&nbsp;<span style="color:#F00;font-size:12px;">Please select 1180*430 image (please upload image in gif,jpg,jpeg,png,JPEG format)</span></label>
                                                                <div>
                                                                    <input type="file" name="image" id="albumImage" />
                                                                    <div><img style="max-width: 250px;" id="imagePreview" src="" /></div>
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-13">
                                                    <div class="box-footer text-right">
                                                        <a class="btn btn-danger" href="<?= ADMIN_HTTP_ROOT ?>manage_banner.php" style="width: 100px; margin: 0 5px 4px;">Cancel</a> &nbsp;
                                                        <input type="submit" name="save" class="btn btn-success" value="Save" id="save" style="width:100px;"/>
                                                        <input type="hidden" name="web_id"  class="button" value="<?= $webId; ?>" />

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                <?php } ?>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    function deletePage(id) {
        confirm("Are you sure you want to delete this banner ?", function (done) {
            window.location.href = siteUrl + "admin/edit_banner.php?delete=" + id;
        });
    }
    function del_img(id) {
        confirm("Are you sure you want to delete this image ?", function (done) {
            window.location.href = siteUrl + "admin/edit_banner.php?del_img=" + id;
        });
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#albumImage").change(function () {
        readURL(this);
    });
</script>

