 </script>  
<link rel="stylesheet" type="text/css" media="all" href="css/jsDatePick_ltr.min.css" />
<script type="text/javascript" src="js/jsDatePick.min.1.3.js"></script>
<script type="text/javascript">
	window.onload = function(){
		new JsDatePick({
			useMode:2,
			target:"date",
			dateFormat:"%d-%M-%Y"
			
		});
	};
</script>
  <!--     Content     -->
		<hr class="noscreen" />
		<!-- Content (Right Column) -->
		<div id="content" class="box">
				
			<!-- System Messages -->
			
			<?php if($success){ ?>
			<p class="msg done"><?php echo $success; ?></p>
            <?php } ?>
			<?php if($err){ ?>
			<p class="msg error"><?php echo $err; ?></p>
			<?php } ?>
			

			

		<form action="" name="" method="post" enctype="multipart/form-data" onsubmit="return validateUser()">
			<fieldset>
				<legend>Manage Events</legend>
				<table class="nostyle">
					<tr>
                     <?php 
                   $getNewsDetails = mysqli_fetch_array(mysqli_query($connection, "select * from ".EVENTS." where id='$editId'"));
                   ?>
						<td style="width:100px;"><span class="mandatory">*</span>Events Title:</td>
						<td><input type="text"  name="heading" class="textbox" id="heading" value="<?php echo $getNewsDetails['heading']; ?>" style="width:500px;"/></td>
					</tr>                    
                    <?php if(isset($_REQUEST['editId']) && $_GET['editId']) {  ?>
                 
                    <?php } ?>
                 
                    <tr>
						<td style="width:100px;"><span class="mandatory"></span>Events Short Description:</td>
						<td>
                        <?php
                                    $sBasePath = $_SERVER['PHP_SELF'];
                                    $sBasePath = substr( $sBasePath, 0, strpos( $sBasePath, "_samples" ));
                                    
                                    $oFCKeditor = new FCKeditor('shortdesc');
                                    $oFCKeditor->Width = 790;
                                    $oFCKeditor->Height = 300;
                                    $oFCKeditor->BasePath	= $sBasePath;
                                    $oFCKeditor->Value =(stripslashes($shortdesc));
                                    $oFCKeditor->Create();
                                    ?>
                        
                        </td>
					</tr>
                    <tr>
                      <td style=""><span class="mandatory">*</span>Events Description:</td>
                      <td ><?php
                                    $sBasePath = $_SERVER['PHP_SELF'];
                                    $sBasePath = substr( $sBasePath, 0, strpos( $sBasePath, "_samples" ));
                                    
                                    $oFCKeditor = new FCKeditor('desc');
                                    $oFCKeditor->Width = 790;
                                    $oFCKeditor->Height = 300;
                                    $oFCKeditor->BasePath	= $sBasePath;
                                    $oFCKeditor->Value =(stripslashes($desc));
                                    $oFCKeditor->Create();
                                    ?>
                      </td>
                    </tr>
                    <br /><br />
                    <?php 
                   $getNewsDetails = mysqli_fetch_array(mysqli_query($connection, "select * from ".EVENTS." where id='$editId'"));
                   ?>
                     <tr>
						<td style="width:100px;"><span class="mandatory">*</span>Date</td>
                       
						<td><input type="text"  name="date" class="textbox" id="date" value="<?php echo $getNewsDetails['date']; ?>" style="width:214px;"/></td>
					</tr>       
                   <tr>
                   <td> image:</td>
                    <?php

                 if($getNewsDetails['image']!="")

                  { ?>
                   
                   
						<td > <img src="../images/events/<?php echo $getNewsDetails['image'];?>" width="80px" /> 
                        
                        <div class="clear" style="clear:both;"></div>
        <label style="float:left;margin-left:35px;"> <a href="?del_img=<?php echo $getNewsDetails['id'];?>" onClick="return confirm('Are you sure you want to delete?')"><img src="images/delete1.png" border="0" alt="Remove" title="Remove" height="15" align="left" /></a> </label>
        <?php } else { ?>
            <td> <input type="file" name="image"  />
            <?php } ?>
                        
                        </td>
                        </tr>
        
    
    
    
  
   
					
                    <!--<tr>
						<td style="width:100px;"><span class="mandatory">*</span>Assign Page:</td>
						<td>
                        <select name="page_id" style="width:250px;" class="textbox">
                        	<?php 	while($getPage = mysqli_fetch_array($sqlPage)) { ?>
                            	<option  value="<?php echo $getPage['page_id']; ?>" <?php if($getPage['page_id']==$page_id_fk) { echo "selected='selected'"; } ?> ><?php echo $getPage['page_title']; ?></option>
                            <?php } ?>
                        </select>
                        </td>
					</tr>-->
					<tr>
						<td colspan="2" class="t-right">
                        <input type="submit" name="save" class="button" value="Save" id="save" />
                        <input type="hidden" name="web_id"  class="button" value="<?php echo $webId; ?>" />
                        <?php
							if($editId)
							{
						?>
                        <a href="<? echo CUR_PAGE; ?>?delete=<? echo $editId; ?>&web_id=<?php echo $webId; ?>" onclick="javascript:return confirm('Are you sure you want to delete ?')" style="text-decoration:none;"><input type="button" name="del" class="button" value="Delete" id="del" /></a>
                       <? } ?>
                       </td>
					</tr>
				</table>
			</fieldset>
            </form><br/><br/>
			
			<!-- Definition List -->
			

		</div> <!-- /content -->

	</div> <!-- /cols -->
	<!--   Content End Here  -->