  <!--     Content     -->
<hr class="noscreen" />
		<!-- Content (Right Column) -->
		<div id="content" class="box">
			
			<!-- System Messages -->
			<h4>Event Management</h4><br/>
			<?php if($success){ ?>
			<p class="msg done"><?php echo $success; ?></p>
            <?php } ?>
			<?php if($err){ ?>
			<p class="msg error"><?php echo $err; ?></p>
			<?php } ?>	
		
          
			<div id="slider">
            <table width="100%" >
				<tr>                
				  <th style="width:60px"> Sno </th>
			      <th width="300">Event Name</th>
			      <th width="300">Event Description</th>
                  <th width="300" align="center">Event Date</th>
			      <th width="200" style="text-align:center;">Action</th>
			  </tr>
              </table>
            
            
       <div id="test-list">
        <?php
      
      /********   Category  ********************/
      	if(mysqli_num_rows($sqlEvent))
        {
        	$i = 0;
        	$j=0;
        	while($getEvent = mysqli_fetch_array($sqlEvent))
            {
            $j++;
            $i++;
            if($j%2 == 0)
						{
							$class = 'bg';
						}
						else
						{
							$class = '';
						}
      ?>
        <div id="header-<?php echo $getEvent['id'];?>">
          <table width="100%" border="0" cellspacing="0" cellpadding="3" style="border:1px solid #A4A4A4;" >
          	
            <tr class="<?php echo $class; ?> handle_left">
              <td style="width:60px">  <?php echo $i;; ?>  </td>
              <td width="300"><?php echo $getEvent['event_name']; ?></td>
              <td width="300"><?php echo $getEvent['about_event']; ?></td>
              <td width="300" align="center"><?php echo $getEvent['on_date']; ?></td>
              <td  width="200"style="text-align:center">
            
             <a href="edit-event.php?eventId=<?php echo $getEvent['id']; ?>" ><img src="images/edit.png" border="0"  width="17" title="Edit"/></a>
                              
&nbsp;&nbsp;<a onclick="return confirm('Are you sure?')" href="?delete=<?php echo $getEvent['id']; ?>"><img src="images/deletemenu.png" alt="move" style="padding:2px;" class="handle_left"  width="17" /></a>
                </td>          
            </tr>
          </table>
         
        </div>
        
        <?php  
     	}
      }
        /********   End ofCategory  ********************/
     ?>
      </div>
      
      <!-- Shorting for level 0 end here-->
    </div>
			<!-- Definition List -->
			

		</div> <!-- /content -->

	</div> <!-- /cols -->
	<!--   Content End Here  -->