<?php
$count = mysqli_num_rows($albumMenu);
?>
<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Header Images</h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>          
                <li><a href="javascript:;"><i class="glyphicon glyphicon-plus-sign"></i> Update Header Image </a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">    
                        <form name="" method="post" action="" enctype="multipart/form-data">   
                            <div class="box-body">
                                <div class="row col-xs-12">                                                                 
                                    <div class="row">  
                                        <div class="col-xs-12 col-sm-6 col-md-12">   
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label for="name">Header Background Image <span style="color:#F00;font-size:11px;">(Please upload 1180px x 230px image).</span></label>&nbsp;
                                                    <?php if (!empty($settings['header_bg_image'])) { ?>
                                                        <div style="width: 250px;">
                                                            <img src="../images/header_image/<?= $settings['header_bg_image']; ?>" style="width: 100%;" />
                                                            <a onClick="deleteBgImage('<?= $settings['id'] ?>');" class="btn btn-danger hint--top  hint" data-hint="Delete" style="margin: 5px 45%; padding: 2px 6px;"><i class="fa fa-trash"></i></a>
                                                        </div>                                                        
                                                    <?php } else { ?>
                                                        <input name="header_bg_image" type="file" required /><br/>
                                                    <?php } ?>
                                                </div> 
                                            </div> 
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label for="name">Header Logo : <span style="color:#F00;font-size:11px;">(Please upload 230px x 190px image)</span></label>&nbsp;
                                                    <?php if (!empty($settings['header_logo'])) { ?>
                                                        <div style="width: 250px;">
                                                            <img src="../images/header_image/<?= $settings['header_logo']; ?>" style="width: 100%;" />
                                                            <a onClick="deleteLogo('<?= $settings['id'] ?>');" class="btn btn-danger hint--top  hint" data-hint="Delete" style="margin: 5px 45%; padding: 2px 6px;"><i class="fa fa-trash"></i></a>
                                                        </div>                                                        
                                                    <?php } else { ?>
                                                        <input name="header_logo" type="file" required /><br/>
                                                    <?php } ?>
                                                </div> 
                                            </div> 

                                        </div>                                    
                                    </div>
                                </div>
                            </div>  
                            <div class="box-footer">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-success" name="update" value="Update" >Update</button> &nbsp;
                                    <a class="btn btn-danger" href="<?= ADMIN_HTTP_ROOT ?>">Cancel</a> &nbsp;
                                </div>   
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<script>
    function deleteBgImage(id) {
        confirm("Are you sure you want to delete this image ?", function (done) {
            window.location.href = siteUrl + "admin/header_image.php?delete_bg_image=" + id;
        });
    }
    function deleteLogo(id) {
        confirm("Are you sure you want to delete this image ?", function (done) {
            window.location.href = siteUrl + "admin/header_image.php?delete_logo=" + id;
        });
    }
</script>