<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <!--<h1 style="display: inline-block "> Dashboard  </h1>-->
            <!--        </section>
                    <section class="content">-->
            <div class="welcome"><h1>Welcome To <a href="<?= HTTP_ROOT ?>" target="_blank"><?= SITE_NAME ?></a> Admin Panel</h1></div>
            <div class="clear">&nbsp;</div>
        </section>
        <div class="clear">&nbsp;</div>
    </section>
</div>