<script>
    $(document).ready(function () {
        $('.radio').click(function () {
            var myRadio = $('.radio').val();
            var id_val = $(this).attr('id');
            var rec_id = $(this).attr('id');
            dataString = "radio=" + myRadio + "&rec_id=" + rec_id;

            $.ajax({
                type: "POST",
                url: "update-listinglight.php",
                data: dataString,
                cache: false,
                success: function (data) {
                    $('.alert-info').html(data);
                }
            });
        });
    });

</script>
<?php $count = mysqli_num_rows($sqlNews); ?>

<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Manage Lighthouse</h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>          
                <li><a class="btn btn-success" href="lighthouse.php" style="color: #FFF;"><i class="glyphicon glyphicon-plus-sign"></i> Add New Light House </a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">
                        <div class="box-body">                    
                            <table id="<?= ($count) ? 'datatableDefault' : '' ?>" style="width: 100%; float: left;" class="table table-bordered table-striped responsiveOrderTable">                       
                                <thead>
                                    <tr>                                    
                                        <th style="text-align: center;vertical-align: middle;">Sl.no</th>
                                        <th style="text-align: center;vertical-align: middle;">Light House title</th>
                                        <th style="text-align: center;vertical-align: middle;">Date</th>
                                        <th style="text-align: center;vertical-align: middle;">Image</th>
                                        <th style="text-align: center;vertical-align: middle;">Description</th>
                                        <th style="text-align: center;vertical-align: middle;">Asssign to home</th>
                                        <th style="text-align: center;vertical-align: middle;">Action</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    if ($count > 0) {
                                        $i = 0;
                                        while ($getNews = mysqli_fetch_array($sqlNews)) {
                                            $i++;
                                            ?>
                                            <tr id="2669" class="orderRow">                                                                      
                                                <td><?= $i; ?></td>                                      
                                                <td><?= $getNews['heading']; ?></td>                                      
                                                <td><?= $getNews['date']; ?></td>                                      
                                                <td><img src="../images/lighthouse/small/<?= $getNews['image']; ?>" /></td>                                      
                                                <td><?= substr($getNews['shortdesc'], 0, 10); ?></td>                                      
                                                <td style="width:130px;vertical-align:middle;text-align: center;"><input type="radio" id="<?= $getNews['id']; ?>" class="radio" name="radio" <?php if ($getNews['as_home'] == 1) { ?> checked="checked" <?php } ?> value="<?= $getNews['id']; ?>"/></td>                                      
                                                <td style="text-align: center;"> 
                                                    <a href="lighthouse.php?editId=<?= $getNews['id']; ?>" style="padding: 0 7px!important;" class="btn btn-info hint--top  hint" data-hint="Edit" data-placement="top" href="javascript:;"><i class="fa fa-edit"></i></a> &nbsp;
                                                    <?php if ($getNews['is_active'] == '1') { ?>
                                                        <a href="?inactive=<?= $getNews['id']; ?>" style="padding: 0 7px!important;font-weight:bold;" data-hint="Deactive" class="btn btn-success hint--top  hint"><i class="fa fa-toggle-on"></i></a>
                                                    <?php } else { ?>
                                                        <a href="?active=<?= $getNews['id']; ?>" style="padding: 0 7px!important;font-weight:bold;" data-hint="Active" class="btn btn-danger hint--top  hint"><i class="fa fa-toggle-off"></i></a>
                                                    <?php } ?>
                                                    &nbsp;<a onclick="deletePage('<?= $getNews['id'] ?>');" style="padding: 0 7px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" data-hint="Delete" href="javascript:;"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>       
                                            <?php
                                        }
                                    } else {
                                        ?>
                                        <tr><td class="nodata" colspan="7">No page found !!</td></tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    function deletePage(id) {
        confirm("Are you sure you want to delete ?", function (done) {
            window.location.href = siteUrl + "admin/listinglight.php?delete=" + id;
        });
    }
</script>