<?php $count = mysqli_num_rows($sqlHistory); ?>

<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Manage Path History</h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>          
                <li><a class="btn btn-success" href="path_history.php" style="color: #FFF;"><i class="glyphicon glyphicon-plus-sign"></i> Add Path History </a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">
                        <div class="box-body">                    
                            <table id="<?= ($count) ? 'datatableDefault' : '' ?>" style="width: 100%; float: left;" class="table table-bordered table-striped responsiveOrderTable">                       
                                <thead>
                                    <tr>                                    
                                        <th style="text-align: center;">Sl.no</th>
                                        <th style="text-align: left;">Path History title</th>
                                        <th style="text-align: center;">Created</th>
                                        <th style="text-align: center;">Image</th>
                                        <th style="text-align: center;">Add to Home</th>
                                        <th style="text-align: center;">Action</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    if ($count > 0) {
                                        $i = 0;
                                        while ($getPathHistory = mysqli_fetch_array($sqlHistory)) {
                                            $i++;
                                            if ($i % 2 == 0) {
                                                $class = 'bg';
                                            } else {
                                                $class = '';
                                            }
                                            ?>
                                            <tr id="2669" class="orderRow">                                                                      
                                                <td style="text-align: center;"><?= $i; ?></td>                                      
                                                <td style="text-align: left;"><?= $getPathHistory['heading']; ?></td>                                      
                                                <td style="text-align: center;"><?= date('d-M-Y', strtotime($getPathHistory['created'])); ?></td>                                      
                                                <td style="text-align: center;"><img src="../images/path_history/small/<?= $getPathHistory['image']; ?>" /></td> 
                                                <td style="width:130px;vertical-align:middle;text-align: center;"><input type="radio" id="<?= $getPathHistory['id']; ?>" class="radio" name="radio" <?php if ($getPathHistory['as_home'] == 1) { ?> checked="checked" <?php } ?> value="<?= $getPathHistory['id']; ?>"/></td>
                                                <td style="text-align: center; vertical-align: middle;"> 
                                                    <a href="path_history.php?editId=<?= $getPathHistory['id']; ?>" style="padding: 0 7px!important;" class="btn btn-info hint--top  hint" data-hint="Edit" data-placement="top" href="javascript:;"><i class="fa fa-edit"></i></a> &nbsp;
                                                    <a href="path_history_files.php?parentID=<?= $getPathHistory['id']; ?>" style="padding: 0 7px!important;" class="btn btn-warning hint--top  hint" data-hint="Path Histoy Files" data-placement="top"><i class="fa fa-file"></i></a> &nbsp;
                                                    <?php if ($getPathHistory['is_active'] == '1') { ?>
                                                        <a href="?inactive=<?= $getPathHistory['id']; ?>" style="padding: 0 7px!important;font-weight:bold;" data-hint="Deactive" class="btn btn-success hint--top  hint"><i class="fa fa-toggle-on"></i></a> &nbsp;
                                                    <?php } else { ?>
                                                        <a href="?active=<?= $getPathHistory['id']; ?>" style="padding: 0 7px!important;font-weight:bold;" data-hint="Active" class="btn btn-danger hint--top  hint"><i class="fa fa-toggle-off"></i></a> &nbsp;
                                                    <?php } ?>
                                                    <a onclick="deletePage('<?= $getPathHistory['id'] ?>');" style="padding: 0 7px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" data-hint="Delete" href="javascript:;"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>       
                                        <?php
                                        }
                                    } else {
                                        ?>
                                        <tr><td class="nodata" colspan="6">No page found !!</td></tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<script>

    function deletePage(id) {
        confirm("Are you sure you want to delete ?", function (done) {
            window.location.href = siteUrl + "admin/path_history.php?delete=" + id;
        });
    }

    $(document).ready(function () {
        $('.radio').click(function () {
            var myRadio = $('.radio').val();
            var id_val = $(this).attr('id');
            var rec_id = $(this).attr('id');
            dataString = "radio=" + myRadio + "&rec_id=" + rec_id;

            $.ajax({
                type: "POST",
                url: "update-listing-path-history.php",
                data: dataString,
                cache: false,
                success: function (data){
                    $('.alert-info').html(data);
                }
            });
        });
    });

    $(document).ready(function () {
        $("#test-list").sortable({
            handle: '.handle_left',
            update: function () {
                var order = $('#test-list').sortable('serialize');
                $("#short").load("ajax_path_history_shorting.php?" + order);
            }
        });
    });

</script>