<script>
$(document).ready(function(){
 $('.radio').click(function() {
 var myRadio = $('.radio').val();
 var id_val = $(this).attr('id');

 var rec_id = $(this).attr('id');
   dataString="radio="+myRadio+"&rec_id="+rec_id;
   //alert(dataString)
     $.ajax
      ({
      type: "POST",
  url: "update-listingprograms.php",
    data: dataString,
        cache: false,
      success: function(data)
     {//alert(data);
  $('.alert-info').html(data);
     } 
     });
 });
  });

</script>
<script>
	  
  $(document).ready(function()
	{
		$("#test-list").sortable({
		
		  handle : '.handle_left',
		  update : function () {
			 var order = $('#test-list').sortable('serialize');
			$("#short").load("ajax_programs_shorting.php?"+order); 
			//alert("category_shorting.php?"+order);
		  }
		 
		});
		
		//alert("<?php echo $_SESSION['flag'] ?>");
		//onLoad="window.location.reload(true)"
	});
	
</script>
  <!--     Content     -->
<hr class="noscreen" />
		<!-- Content (Right Column) -->
		<div id="content" class="box" style="cursor:move;">
			
			<!-- System Messages -->
			<h4>Mange Programs</h4><br/>
			<?php if($success){ ?>
			<p class="msg done"><?php echo $success; ?></p>
            <?php } ?>
			<?php if($err){ ?>
			<p class="msg error"><?php echo $err; ?></p>
			<?php } ?>	
		
          
			<div id="sliders">
       <div id="test-list">
       <table width="100%">
				<tr>
				
			      <th width="50">Sl.no </th>
			      <th width="350">Programs title</th>
			       <th width="93">Date</th>
                    <th width="150">Image</th>
                     <th width="130">Asssign to home</th>
			      <th width="">Action</th>
			  </tr>
              </table>
        <?php
      
      /********   Category  ********************/
      
      
      	if(mysqli_num_rows($sqlNews))
        {
        	$i = 0;
        	while($getNews = mysqli_fetch_array($sqlNews))
            {
            	$i++;
              
						if($i%2 == 0)
						{
							$class = 'bg';
						}
						else
						{
							$class = '';
						}
      ?>
        <div id="header-<?php echo $getNews['id'];?>">
          <table width="100%" border="0" cellspacing="0" cellpadding="3" style="border:1px solid #A4A4A4;" >
          	
            <tr class="<? echo $class; ?> handle_left">
            
              <td width="48"><?php echo $i;?></td>
              <td width="351" valign="middle"><?php echo $getNews['heading']; ?></td>
              <td width="95"><?php echo $getNews['date']; ?></td>
              <td style="text-align:center;" width="150"> <img src="../images/programs/small/<?php echo $getNews['image']; ?>" /></td>
              <td style="width:130px;vertical-align:middle;"><input type="radio" id="<?php echo $getNews['id']; ?>" class="radio" name="radio" <?php if ($getNews['as_home'] == 1) { ?> checked="checked" <?php } ?> value="<?php echo $getNews['id']; ?>"/></td>
              
              <td style="text-align:center;" width="">
              <img src="images/move.png" border="0" height="14" width="14" title="Edit"/>
              &nbsp;
              <a href="programs.php?editId=<?php echo $getNews['id']; ?>"><img src="images/edit.png" border="0" height="14" width="14" title="Edit"/></a> &nbsp;
             
            
              
                	<a onclick="return confirm('Are you sure?')" href="?delete=<?php echo $getNews['id']; ?>"><img src="images/deletemenu.png" alt="delete" style="padding:2px;" class="handle_left"  width="16" /></a>
                    
                    
                    <?php if($getNews['is_active'] == '1'){ ?>
               &nbsp;&nbsp; <a href="<? echo CUR_PAGE; ?>?inactive=<?php echo  $getNews['id']; ?>&web=<?php echo $webId; ?>"><img src="../images/active.png" border="0" title="Deactive Category"  width="17" /></a>
              
               
                <?php } else{ ?>
                &nbsp;&nbsp;<a href="<? echo CUR_PAGE; ?>?active=<?php echo  $getNews['id']; ?>&web=<?php echo $webId; ?>"><img src="../images/inactive.png" border="0" title="Activate Category"  width="17" /></a>
               
              
                 <?php } ?>
                    
                    
                    
                    
                </td>          
            </tr>
          </table>
         
        </div>
        
        <?php  
     	}
      }
        /********   End ofCategory  ********************/
     ?>
      </div>
      
      <!-- Shorting for level 0 end here-->
    </div>
			<!-- Definition List -->
			

		</div> <!-- /content -->

	</div> <!-- /cols -->
	<!--   Content End Here  -->