<!--<script>
          
  $(document).ready(function()
        {
                $("#test-list").sortable({
                
                  handle : '.handle_left',
                  update : function () {
                         var order = $('#test-list').sortable('serialize');
                        $("#short").load("ajax_news_shorting.php?"+order); 
                        //alert("category_shorting.php?"+order);
                  }
                 
                });
                
                //alert("<?php echo $_SESSION['flag'] ?>");
                //onLoad="window.location.reload(true)"
        });
        
</script>-->
<!--     Content     -->
<hr class="noscreen" />
<!-- Content (Right Column) -->
<div id="content" class="box">

    <!-- System Messages -->
    <h4>Mange Home Page</h4><br/>
    <?php if ($success) { ?>
        <p class="msg done"><?php echo $success; ?></p>
    <?php } ?>
    <?php if (isset($err)) { ?>
        <p class="msg error"><?php echo $err; ?></p>
    <?php } ?>	


    <?php
    $sqlNews2 = mysqli_query($connection, "select * from " . NEWS . " where is_active='1' and as_home='1'");
    $getNews2 = mysqli_fetch_array($sqlNews2);



    $sqlNews3 = mysqli_query($connection, "select * from " . PROGRAMS . " where is_active='1' and as_home='1'");
    $getNews3 = mysqli_fetch_array($sqlNews3);


    $sqlNews4 = mysqli_query($connection, "select * from " . LIGHTHOUSE . " where is_active='1' and as_home='1'");
    $getNews5 = mysqli_fetch_array($sqlNews4);


    $sqlNews6 = mysqli_query($connection, "select * from " . SUPPORT . " where is_active='1' and as_home='1'");
    $getNews7 = mysqli_fetch_array($sqlNews6);
    ?>


    <!--<div id="sliders">-->
    <table width="100%">
        <tr>

            <th>Sl.no </th>
            <th>Name </th>
            <th>Title </th>
            <th>Date</th>
            <th>Image</th>

            <th>Action</th>
        </tr>

        <?php
        $sqlNews = mysqli_query($connection, "select * from " . EVENTS . " where is_active='1' and as_home='1'");
        $getNews1 = mysqli_fetch_array($sqlNews);
        ?>



        <tr class="<? echo $class; ?> ">
            <?php $i = 1; ?>
            <td><?php echo $i; ?></td>
            <td><?php echo "Events"; ?></td>
            <td  valign="middle"><?php echo $getNews1['heading']; ?></td>
            <td><?php echo $getNews1['date']; ?></td>
            <td style="text-align:center;" > <img src="../images/events/small/<?php echo $getNews1['image']; ?>" /></td>

            <td style="text-align:center;">

                &nbsp;
                <a href="events.php?editId=<?php echo $getNews1['id']; ?>"><img src="images/edit.png" border="0" height="14" width="14" title="Edit"/></a> &nbsp;

            </td>            
        </tr>
        <tr class="<? echo $class; ?> ">
            <?php $i = 2; ?>
            <td ><?php echo $i; ?></td>
            <td><?php echo "News"; ?></td>
            <td   valign="middle"><?php echo $getNews2['heading']; ?></td>
            <td ><?php echo $getNews2['date']; ?></td>
            <td style="text-align:center;"> <img src="../images/news/small/<?php echo $getNews2['image']; ?>" /></td>


            <td style="text-align:center;" >

                &nbsp;
                <a href="news.php?editId=<?php echo $getNews2['id']; ?>"><img src="images/edit.png" border="0" height="14" width="14" title="Edit"/></a> &nbsp;
            </td>                   
        </tr>

        <tr class="<? echo $class; ?> ">
            <?php $i = 3; ?>
            <td ><?php echo $i; ?></td>
            <td><?php echo "Programs"; ?></td>
            <td  valign="middle"><?php echo $getNews3['heading']; ?></td>
            <td ><?php echo $getNews3['date']; ?></td>
            <td style="text-align:center;"> <img src="../images/programs/small/<?php echo $getNews3['image']; ?>" /></td>


            <td style="text-align:center;" width="">
                &nbsp;
                <a href="programs.php?editId=<?php echo $getNews3['id']; ?>"><img src="images/edit.png" border="0" height="14" width="14" title="Edit"/></a> &nbsp;

            </td>                           
        </tr>

        <tr class="<? echo $class; ?> ">
            <?php $i = 4; ?>
            <td><?php echo $i; ?></td>
            <td><?php echo "Events"; ?></td>
            <td  valign="middle"><?php echo $getNews5['heading']; ?></td>
            <td><?php echo $getNews5['date']; ?></td>
            <td style="text-align:center;" > <img src="../images/lighthouse/small/<?php echo $getNews5['image']; ?>" /></td>

            <td style="text-align:center;">

                &nbsp;
                <a href="lighthouse.php?editId=<?php echo $getNews5['id']; ?>"><img src="images/edit.png" border="0" height="14" width="14" title="Edit"/></a> &nbsp;

            </td>            
        </tr>
        <tr class="<? echo $class; ?> ">
            <?php $i = 5; ?>
            <td><?php echo $i; ?></td>
            <td><?php echo "Events"; ?></td>
            <td  valign="middle"><?php echo $getNews7['heading']; ?></td>
            <td><?php echo $getNews7['date']; ?></td>
            <td style="text-align:center;" > <img src="../images/support/small/<?php echo $getNews7['image']; ?>" /></td>

            <td style="text-align:center;">

                &nbsp;
                <a href="support.php?editId=<?php echo $getNews7['id']; ?>"><img src="images/edit.png" border="0" height="14" width="14" title="Edit"/></a> &nbsp;

            </td>            
        </tr>








    </table>
    <!-- Shorting for level 0 end here-->
</div>
<!-- Definition List -->
</div> <!-- /content -->
</div> <!-- /cols -->
<!--   Content End Here  -->