<?php
$count = mysqli_num_rows($albumMenu);
?>
<script>
    $(document).ready(function ()
    {
        $("#test-list").sortable({
            handle: '.handle_left',
            update: function () {
                var order = $('#test-list').sortable('serialize');
                $("#short").load("ajax_support_shorting.php?" + order);
                //alert("category_shorting.php?"+order);
            }

        });
    });
</script>

<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Album Management</h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>          
                <li><a class="btn btn-success" href="manage_category.php?add=true" style="color: #FFF;"><i class="glyphicon glyphicon-plus-sign"></i> Add New Album </a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-primary">
                                    <table style="width: 100%;">
                                        <tr>
                                            <?php if (isset($_GET['edit']) || isset($_GET['add'])) { ?>
                                            <td>
                                                <form name="" method="post" action="" enctype="multipart/form-data">
                                                    <div class="box-body">
                                                        <p class="note" style="margin-left: 15px;">All (*) fields are mandatory</p>
                                                        <div class="row">  
                                                            <div class="col-xs-12 col-sm-6 col-md-12">                                    
                                                                <div class="col-xs-6">
                                                                    <div class="form-group">
                                                                        <label for="name">Album : <span style="color: red;">*</span></label>&nbsp;
                                                                        <input type="text" name="category" class="form-control" required value="<?= isset($album_dtl['category']) ? $album_dtl['category'] : ''; ?>" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <div class="form-group">
                                                                        <label for="name">Image : <span style="color:#F00;font-size:11px;">* Please select 214 x 214 image (please upload image in gif,jpg,jpeg,png,JPEG format)</span></label>&nbsp;

                                                                        <?php if (!empty($album_dtl['id']) && !empty($album_dtl['image'])) { ?>
                                                                        <input type="hidden" value="<?php echo $album_dtl['image']; ?>" name="image1" />
                                                                        <input name="image" type="file" id = albumImage /><br/>
                                                                        <div><img src="../images/album/<?= $album_dtl['image']; ?>" width="100px" id="imagePreview"/></div>
                                                                        <?php } else { ?>
                                                                        <input name="image" type="file" required id = albumImage/><br/>
                                                                        <div><img style="max-width: 250px;" id="imagePreview" src="" /></div>
                                                                        <?php } ?>

                                                                    </div> 
                                                                </div> 
                                                                <div class="col-xs-12">
                                                                    <button type="submit" class="btn btn-success" name="<?= !empty($album_dtl['id']) ? 'update' : 'save' ?>" value="Update" ><?= !empty($album_dtl['id']) ? "Update" : "Save" ?></button> &nbsp;
                                                                    <a style="" id="cancelBtn" class="btn btn-danger" href="manage_category.php">Cancel</a> &nbsp;
                                                                </div>                                    
                                                            </div>                                    
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>
                                            <?php } ?>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>  

                        <div class="clear" style="height: 0;">&nbsp;</div>
                        <?php $count = mysqli_num_rows($sqlCategory); ?>
                        <div class="box-body"> 
                            <table id="<?= ($count) ? 'datatableDefault' : '' ?>" style="width: 100%; float: left;" class="table table-bordered table-striped responsiveOrderTable">                       
                                <thead>
                                    <tr>                                    
                                        <th style="text-align: center;">Sl No.</th>
                                        <th style="text-align: center;">Album Name</th>
                                        <th style="text-align: center;">Album Image</th>
                                        <th style="text-align: center;">Action</th>    
                                    </tr>
                                </thead>


                                <?php
                                if ($count > 0) {
                                    $i = 0;
                                    while ($album = mysqli_fetch_array($albumMenu)) {
                                        $i++;
                                        if ($i % 2 == 0) {
                                            $class = 'bg';
                                        } else {
                                            $class = '';
                                        }
                                        ?>
                                        <div id="header-<?php echo $album['id']; ?>">
                                            <!--<table style="width: 100%; float: left;" class="table table-bordered table-striped responsiveOrderTable">-->
                                            <tr class="<?= $class; ?> handle_left">                                                                      
                                                <td style="text-align: center;"><?= $i; ?></td>                                      
                                                <td><?= $album['category']; ?></td>                                      
                                                <td style="text-align: center;"><img src="../images/album/<?= $album['image']; ?>" width="80px" /></td>                                      
                                                <td style="text-align: center;"> 
                                                    <a style="padding: 0 7px!important;" class="btn btn-warning hint--top  hint" data-hint="Add Category Image" data-placement="top" href="add_image.php?cat_id=<?= $album['id']; ?>"><i class="fa fa-plus"></i></a>                                                
                                                    <a style="padding: 0 7px!important;" class="btn btn-info hint--top  hint" data-hint="Edit" data-placement="top" href="manage_category.php?edit=<?= $album['id']; ?>"><i class="fa fa-edit"></i></a>                                                 
                                                    <a style="padding: 0 7px!important;" class="btn bg-blue hint--top  hint" data-hint="Album Details" data-placement="top" href="view_gallery.php?gid=<?= $album['id']; ?>"><i class="fa fa-eye"></i></a>                                                 
                                                    <?php if ($album['is_active'] == '1') { ?>
                                                        <a href="manage_category.php?inactive=<?= $album['id']; ?>" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-success hint--top  hint" data-hint="Inactivate"><i class="fa fa-toggle-on"></i></a>
                                                    <?php } else { ?>
                                                        <a href="manage_category.php?active=<?= $album['id']; ?>" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" data-hint="Activate"><i class="fa fa-toggle-off"></i></a>
                                                    <?php } ?>
                                                    <a onclick="deletePage('<?= $album['id'] ?>');" data-hint="Delete" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" href="javascript:;"><i class="fa fa-trash"></i></a>   
                                                </td>
                                            </tr>

                                        </div>
                                        <?php
                                    }
                                }
                                ?>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    function deletePage(id) {
        confirm("Are you sure you want to delete this album ?", function (done) {
            window.location.href = siteUrl + "admin/manage_category.php?delete=" + id;
        });
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#albumImage").change(function () {
        readURL(this);
    });
</script>