<script>
	  
  $(document).ready(function()
	{
		$("#test-list").sortable({
		
		  handle : '.handle_left',
		  update : function () {
			 var order = $('#test-list').sortable('serialize');
			$("#short").load("ajax_news_shorting.php?"+order); 
			//alert("category_shorting.php?"+order);
		  }
		 
		});
		
		//alert("<?php echo $_SESSION['flag'] ?>");
		//onLoad="window.location.reload(true)"
	});
	
</script>
  <!--     Content     -->
<hr class="noscreen" />
		<!-- Content (Right Column) -->
		<div id="content" class="box">
			
			<!-- System Messages -->
			<h4>Mange Home Page</h4><br/>
			<?php if($success){ ?>
			<p class="msg done"><?php echo $success; ?></p>
            <?php } ?>
			<?php if($err){ ?>
			<p class="msg error"><?php echo $err; ?></p>
			<?php } ?>	
		
          
			<div id="sliders">
       <div id="test-list">
       <table width="100%">
				<tr>
				
			      <th width="200">Image </th>
			      <th width="200">Title</th>
			       <th width="400">Description</th>
			      <th width="" colspan="4">Action</th>
			  </tr>
              </table>
        <?php
      
      /********   Category  ********************/
      
      
      	if(mysqli_num_rows($sqlNews))
        {
        	$i = 0;
        	while($getNews = mysqli_fetch_array($sqlNews))
            {
            	$i++;
              
						if($i%2 == 0)
						{
							$class = 'bg';
						}
						else
						{
							$class = '';
						}
      ?>
        <div id="header-<?php echo $getNews['id'];?>">
          <table width="100%" border="0" cellspacing="0" cellpadding="3" style="border:1px solid #A4A4A4;" >
          	
            <tr class="<? echo $class; ?> handle_left">
            
              <td width="200"><img src="../images/news/<?php echo $getNews['image']; ?>" width="50"/></td>
              <td width="200" valign="middle"><?php echo $getNews['heading']; ?></td>
              <td width="400"><?php echo substr($getNews['description'],0,50); ?></td>
              <td style="text-align:center;">
              <a href="edit_news.php?id=<?php echo $getNews['id']; ?>" class="tu_iframe_559x220"><img src="images/edit.png" border="0" height="14" width="14" title="Edit"/></a>
             
              <?php if($getNews['is_active'] == '1'){ ?>
                      
                <a href="<? echo CUR_PAGE; ?>?inactive=<?php echo  $getNews['id']; ?>&web=<?php echo $webId; ?>"><img src="../images/active.png" border="0" title="Deactive Category" height="14" width="14" /></a>
              
                <?php } else{ ?>
                       
                <a href="<? echo CUR_PAGE; ?>?active=<?php echo  $getNews['id']; ?>&web=<?php echo $webId; ?>"><img src="../images/inactive.png" border="0" title="Activate Category" height="14" width="14" /></a>
            
                 <?php } ?>                
              
                	<a onclick="return confirm('Are you sure?')" href="?delete=<?php echo $getNews['id']; ?>"><img src="images/deletemenu.png" alt="delete" style="padding:2px;" class="handle_left"  width="16" /></a>
                </td>          
            </tr>
          </table>
         
        </div>
        
        <?php  
     	}
      }
        /********   End ofCategory  ********************/
     ?>
      </div>
      
      <!-- Shorting for level 0 end here-->
    </div>
			<!-- Definition List -->
			

		</div> <!-- /content -->

	</div> <!-- /cols -->
	<!--   Content End Here  -->