<script>
    $(document).ready(function () {
        $("#test-list").sortable({
            handle: '.handle_left',
            update: function () {
                var order = $('#test-list').sortable('serialize');
                $("#short").load("ajax_news_shorting.php?" + order);
            }
        });
    });
</script>
<?php $count = mysqli_num_rows($sqlBanners); ?>

<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Manage Banners</h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>          
                <li><a class="btn btn-success" href="edit_banner.php" style="color: #FFF;"><i class="glyphicon glyphicon-plus-sign"></i> Add New Banner</a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">
                        <div class="box-body">                    
                            <table id="<?= ($count) ? 'datatableDefault' : '' ?>" style="width: 100%; float: left;" class="table table-bordered table-striped responsiveOrderTable">                       
                                <thead>
                                    <tr>                                    
                                        <th style="text-align: center;vertical-align: middle;">Sl.no</th>                                        
                                        <th style="text-align: center;vertical-align: middle;">Image</th>
                                        <th style="vertical-align: middle;">Name</th>
                                        <th style="text-align: center;vertical-align: middle;">Action</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    if ($count > 0) {
                                        $i = 0;
                                        while ($getBanner = mysqli_fetch_array($sqlBanners)) {
                                            $i++;
                                            ?>
                                            <tr id="2669" class="orderRow">                                                                      
                                                <td style="text-align: center;"><?= $i; ?></td>                                      
                                                <td style="text-align: center;"><img src="../images/banner/<?= $getBanner['banner_image']; ?>" width="100" height="100"/></td>                                      
                                                <td style="text-align: left;"><?= stripslashes($getBanner['banner_name']); ?></td>                                    
                                                <td style="text-align: center;"> 
                                                    <!--<img src="../images/move.png" border="0" height="14" width="14" title="Edit"/>-->
                                                    <!--<i class="fa fa-arrows-alt" aria-hidden="true"></i>-->
                                                    &nbsp;
                                                    <a href="edit_banner.php?id=<?= $getBanner['id']; ?>" style="padding: 0 7px!important;" class="btn btn-info hint--top  hint" data-hint="Edit" data-placement="top" href="javascript:;"><i class="fa fa-edit"></i></a> 
                                                    &nbsp;
                                                    <?php if ($getBanner['status'] == '1') { ?>
                                                        <a href="?inactive=<?= $getBanner['id']; ?>" style="padding: 0 7px!important;font-weight:bold;" data-hint="Deactive" class="btn btn-success hint--top  hint"><i class="fa fa-toggle-on"></i></a>&nbsp;
                                                    <?php } else { ?>
                                                        <a href="?active=<?= $getBanner['id']; ?>" style="padding: 0 7px!important;font-weight:bold;" data-hint="Active" class="btn btn-danger hint--top  hint"><i class="fa fa-toggle-off"></i></a>&nbsp;
                                                    <?php } ?>
                                                    <a onclick="deletePage('<?= $getBanner['id'] ?>');"  style="padding: 0 7px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" data-hint="Delete" href="javascript:;"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>       
                                        <?php }
                                    } else {
                                        ?>
                                        <tr><td class="nodata" colspan="7">No page found !!</td></tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    function deletePage(id) {
        confirm("Are you sure you want to delete this banner ?", function (done) {
            window.location.href = siteUrl + "admin/manage_banner.php?delete=" + id;
        });
    }
</script>