<?php
$count = mysqli_num_rows($themeMenu);
?>
<script src="../js/jquery.minicolors.js"></script>
<link rel="stylesheet" href="../css/jquery.minicolors.css">
<script>
    $(document).ready(function () {

        $('.demo').each(function () {
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom',
                swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                change: function (value, opacity) {
                    if (!value)
                        return;
                    if (opacity)
                        value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });

    });
</script>
<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Manage Background</h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i>Home</a></li>          
                <li><a class="btn btn-success" style="color: #FFF;" href="javascript:;" onclick="$('#showForm').toggle()"><strong>Manage Background</strong></a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">   
                        <?php
                        $themes = mysqli_fetch_assoc($query);
                        ?>  
                        <div class="row" id="showForm" style="display: none;">
                            <div class="col-xs-12">
                                <div class="box box-primary">
                                    <form name="" method="post" action="" enctype="multipart/form-data">
                                        <div class="box-body">
                                            <p class="note" style="margin-left: 15px;">All (*) fields are mandatory</p>
                                            <div class="row">  
                                                <div class="col-xs-12 col-sm-6 col-md-12">                                    

                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <strong>Image :</strong> <input type="radio" name="type" value="image" checked onclick="selectBgType('image')" />&nbsp;
                                                            <strong>Color :</strong> <input type="radio" name="type" value="color" onclick="selectBgType('color')"/></label>&nbsp;                                                            
                                                        </div> 
                                                    </div> 

                                                    <div class="col-xs-12" id="chooseImage">
                                                        <div class="form-group">
                                                            <label for="name">Browse Image : <span style="color:#F00;font-size:11px;">* Please Upload 1900px * 600px image.</span></label>&nbsp;
                                                            <input type="file" name="image" id="fileInput" required />
                                                        </div> 
                                                    </div> 

                                                    <div class="col-xs-12" id="chooseColor" style="display: none;">
                                                        <div class="form-group">
                                                            <label for="name">Background Color : </label>&nbsp;
                                                            <input type="text" name="color" id="colorInput" class="form-control demo" value="#074bb0" style="width: 50%;"/>
                                                        </div> 
                                                    </div> 

                                                    <div class="col-xs-12">
                                                        <button type="submit" class="btn btn-success" name="save" value="Update" >Save</button> &nbsp;
                                                        <button type="reset" class="btn btn-danger" value="Update" >Reset</button> &nbsp;                                                      
                                                    </div>                                    
                                                </div>                                    
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div> 

                        <div class="clear" style="height: 0;">&nbsp;</div>

                        <div class="box-body"> 

                            <table class="table table-bordered table-striped responsiveOrderTable">                       
                                <thead>
                                    <tr>                                    
                                        <th style="text-align: center;">Sl No.</th>                                        
                                        <th style="text-align: center;">Background Image/Color</th>
                                        <th style="text-align: center;">Select</th>
                                        <th style="text-align: center;">Action</th>    
                                    </tr>
                                </thead>


                                <?php
                                if ($count > 0) {
                                    $i = 0;
                                    while ($theme = mysqli_fetch_array($themeMenu)) {
                                        $i++;
                                        ?>                                              
                                        <tr>                                                                      
                                            <td style="text-align: center;"><?= $i; ?></td>                                                                        
                                            <td style="text-align: center; wi">
                                                <?php if (strlen($theme['background']) > 7) { ?>
                                                    <img src="../images/theme/<?= $theme['background']; ?>" width="80px" />
                                                <?php } else { ?>
                                                    <div style="display: inline-block; width: 80px; height: 80px; background: <?= $theme['background']; ?>">&nbsp;</div>
                                                <?php } ?>
                                            </td>                                      
                                            <td style="text-align: center;"><input onclick="setAsBackground('<?= $theme['id'] ?>');" data-hint="Make Cover" type="radio" value="<?= $theme['id'] ?>" <?php if ($theme['is_selected']) { ?> checked <?php } ?> /></td> 
                                            <td style="text-align: center;"> 
                                                <!--<a onclick="makeCover('<?= $theme['id'] ?>');" data-hint="Make Cover" style="padding: 0 7px!important;font-weight:bold;" class="btn btn-success hint--top  hint" href="javascript:;" name="cover"><i class="fa fa-photo"></i></a>-->   
                                                <a onclick="deletePage('<?= $theme['id'] ?>');" data-hint="Delete" style="padding: 0 7px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" href="javascript:;" name="delete"><i class="fa fa-trash"></i></a>   
                                            </td>
                                        </tr>
                                        <?php
                                    }
                                }
                                ?>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    function selectBgType(type) {
        if (type == 'image') {
            $('#chooseImage').show();
            $('#chooseColor').hide();
            $('#fileInput').attr('required', true);
            $('#colorInput').removeAttr('required');
        } else {
            $('#chooseImage').hide();
            $('#chooseColor').show();
            $('#fileInput').removeAttr('required');
            $('#colorInput').attr('required', true);
        }
    }
    function deletePage(id) {
        confirm("Are you sure you want to delete this background ?", function (done) {
            window.location.href = siteUrl + "admin/manage_theme.php?delete=" + id;
        });
    }
    function setAsBackground(id) {
        confirm("Are you sure you want to set this as background ?", function (done) {
            window.location.href = siteUrl + "admin/manage_theme.php?selectBackground=" + id;
        });
    }
</script>