<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
    #content table th {
        border-right: 1px solid #3F729C;
        background-color: #0C588F;
        color: #fff;
    }
    #content table th {
        text-align: left;
        vertical-align: middle;
        font-weight: bold;
    }
    #content table th, #content table td {
        padding: 5px 5px;
    }
    .pagelink {
        color: #000000;
        font-weight: normal;
    }
    .dropList {
        width: 200px;
        padding: 3px;
        color: #0f0e0e;
    }
    table.nostyle th, table.nostyle td {
        padding: 3px 5px !important;
    }
/*    #content table td {
        border: 1px solid #cfcfcf;
    }*/
/*    #content table td {
        border: 1px solid #cfcfcf;
    }*/
</style>
<script>
    function pageAssign(strURL, divid) {
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4) {
                document.getElementById(divid).innerHTML = "";
            }
            else {
                document.getElementById(divid).innerHTML = "<img src='../images/loading.gif' height='15' width='15'/>";
            }
        }
        xmlhttp.open("GET", strURL, true);
        xmlhttp.send();
    }
    $(document).ready(function () {
        $("#test-list").sortable({
            handle: '.handle_left',
            update: function (event, ui) {
                var order = $('#test-list').sortable('serialize');
               // alert(order);
               $.ajax({
                data: order,
                type: 'POST',
                url: "ajax_shorting.php?" + order,
                complete:function(e){
                    setTimeout(function(){
                           window.location.reload();
                      }, 3000); 
                    
                }
            });
                //$("#short").load("ajax_shorting.php?" + order);
            }
        });
    });
    function slideUpDown(id, clsp, expnd) {
        if (document.getElementById(id).style.display == "none") {
            $('#' + id).slideDown(300);
        }
        else {
            $('#' + id).slideUp(300);
        }
        if (document.getElementById(clsp).style.display == "none") {
            document.getElementById(clsp).style.display = "block";
            document.getElementById(expnd).style.display = "none";
        }
        else {
            document.getElementById(clsp).style.display = "none";
            document.getElementById(expnd).style.display = "block";
        }
    }
</script>

<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Menu Manangement</h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                <li>
                    <a style="color: #FFF;" onclick=" $('#popup-title11').html('Add menu');
                            $('#only-selected-menu').show();
                            $('#add-all').hide();
                            $('#add-menu').show('slow');
                            $('#menu_id_for_sub_menu').val('1')" class="btn btn-success  hint--top  hint" data-hint="Add menu" data-placement="top" href="javascript:;"><i class="fa fa-tag"></i> 
                        Create New Menu
                    </a>
                </li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">    
                            <div id="content">
                                <div id="slider">
                                    <div id="test-list">
                                        <?php
                                        if (mysqli_num_rows($sqlMenu)) {
                                            $x = 0;
                                            while ($getMenu = mysqli_fetch_array($sqlMenu)) {
                                                $x++;
                                                ?>
                                                <div id="header-<?= $getMenu['menu_id']; ?>">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="3" style="border:1px solid #A4A4A4;" >
                                                        <tr>
                                                            <th width="280"><?= $getMenu['menu_name']; ?>&nbsp;&nbsp;</th>                                                            
                                                            <th width="80" style="text-align: center;">
                                                                <?php
                                                                if ($getMenu['menu_static'] == '1') {
                                                                    ?>
                                                                    <span class="pagelink">static</span>
                                                                    <?php
                                                                } else {
                                                                    ?>
                                                                    <span class="pagelink">dynamic</span>
                                                                    <?php
                                                                }
                                                                ?>
                                                            </th> 
                                                            <th width="320">
                                                                <?php
                                                                if ($getMenu['menu_static'] == '1') {
                                                                    ?>
                                                                <select name="page" id="page" class="dropList" onchange="pageAssign('ajax_shorting.php?menu_id=<?= $getMenu['menu_id']; ?>&pageId=' + this.value, 'divid<?= $getMenu['menu_id']; ?>')">
                                                                    <option value="" selected="selected">[select]</option>
                                                                    <?php
                                                                    $sqlPage = mysqli_query($connection, "select * from " . PAGES . "  order by id asc");
                                                                    while ($getPage = mysqli_fetch_array($sqlPage)) {
                                                                        ?>
                                                                        <option value="<?= $getPage['id']; ?>" <?php if ($getPage['id'] == $getMenu['page_id_fk']) { ?> selected="selected" <?php } ?> ><?= $getPage['title']; ?></option>
                                                                        <?php
                                                                    }
                                                                    ?>	
                                                                </select>
                                                                <span id="divid<?= $getMenu['menu_id']; ?>"></span>
                                                                    <?php
                                                                        if ($getMenu['page_id_fk']) {
                                                                            ?>
                                                                            <a href="add-page.php?editId=<?= $getMenu['page_id_fk']; ?>" class="pagelink">Edit Page</a>
                                                                            <?php
                                                                        } else {
                                                                            ?>
                                                                            <a href="add-page.php" class="pagelink">Add New Page</a>
                                                                            <?php
                                                                        }
                                                                    }
                                                                    ?>	
                                                            </th>
                                                            <th style="text-align:center;">
                                                                <?php
                                                                $my_t = getdate(strtotime($getMenu["menu_dt_created"]));
                                                                print("$my_t[month] $my_t[mday], $my_t[year]");
                                                                ?>
                                                            </th>
                                                            <th style="text-align: right;padding-right: 10px;">
                                                                <a onclick=" $('#add-sub-menu-<?= $getMenu['menu_id']; ?>').show('slow');" href="javascript:;"  style="padding: 0 5px!important;" class="btn btn-warning hint--top  hint" data-hint="Add Menu" data-placement="top">
                                                                    <i class="fa fa-plus"></i>
                                                                </a>&nbsp;&nbsp;
                                                                <a onclick=" $('#edit-sub-menu-<?= $getMenu['menu_id']; ?>').show('slow');" href="javascript:;" style="padding: 0 5px!important;" class="btn btn-info hint--top  hint" data-hint="Edit Menu" data-placement="top">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>&nbsp;&nbsp;
                                                                <?php if ($getMenu['status'] == '1') { ?>
                                                                    <a href="menu.php?unpublish=<?= $getMenu['menu_id']; ?>" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-success  hint--top  hint" data-hint="Click to unpublish?" data-placement="top">
                                                                        <i class="fa fa-check"></i>
                                                                    </a>
                                                                <?php } else { ?>
                                                                    <a href="menu.php?publish=<?= $getMenu['menu_id']; ?>" data-hint="Click to publish?" style="padding: 0 7px!important;font-weight:bold;" class="btn btn-danger  hint--top  hint">
                                                                        <i class="fa fa-close"></i>
                                                                    </a>
                                                                <?php } ?>                                                                
                                                                &nbsp;&nbsp; 
                                                                <a onclick="deleteMenu('<?= $getMenu['menu_id']; ?>');" href="javascript:;" style="padding: 0 5px!important;" class="btn btn-danger hint--top  hint" data-hint="Delete" data-placement="top">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </a>
                                                                &nbsp;&nbsp;
                                                                <span style="cursor:move;">
                                                                    <img src="../images/arrow.png" alt="move" class="handle_left" height="15" width="15" />
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </div>
                                        
                                                <div id="<?= $getMenu['menu_id'] . '-content'; ?>">
                                                    
                                                    <script>
                                                        $(document).ready(function (){
                                                            $("#test-short<?= $x ?>").sortable({
                                                                handle: '.handle_left',
                                                                update: function () {
                                                                    var order = $('#test-short<?= $x ?>').sortable('serialize');
                                                                     $.ajax({
                                                                        data: order,
                                                                        type: 'POST',
                                                                        url: "ajax_shorting.php?" + order,
                                                                        complete:function(e){
                                                                            setTimeout(function(){
                                                                                window.location.reload();
                                                                           }, 3000); 
                                                                        }
                                                                    });
                                                                    //$("#short").load("ajax_shorting.php?" + order);
                                                                }
                                                            });
                                                        });                                                                                                            
                                                    </script>
                                                    
                                                    <div id="test-short<?= $x ?>">
                                                        <?php
                                                        $sqlSubmenu = mysqli_query($connection, "select * from " . TBL_MENU . " where parent_menu_id='$getMenu[menu_id]' order by sl_no asc");
                                                        if (mysqli_num_rows($sqlSubmenu)) {
                                                            $i = 0;
                                                            while ($getSubmenu = mysqli_fetch_array($sqlSubmenu)) {
                                                                $i++;
                                                                if ($i % 2 == 1) {
                                                                    $class = 'tbl_data';
                                                                } else {
                                                                    $class = 'tbl_data01';
                                                                }
                                                                $sqlRow3 = mysqli_num_rows(mysqli_query($connection, "select * from " . TBL_MENU . " where parent_menu_id='$getSubmenu[menu_id]'"));
                                                                ?>
                                                        <table width="100%" border="0" cellspacing="0"  cellpadding="" id="listItem_<?= $getSubmenu['menu_id']; ?>">
                                                            <tr class="tbl_data" >
                                                                <td>
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="nostyle">
                                                                        <tr class="<?= $class; ?>">
                                                                            <td width="10">&nbsp;&nbsp;</td>
                                                                            <?php if ($sqlRow3) { ?>
                                                                                <td style="cursor:pointer; width:10px;">
                                                                                    <span onclick="slideUpDown('secid<?= $getSubmenu['menu_id']; ?>', 'clsp<?= $getSubmenu['menu_id']; ?>', 'exp<?= $getSubmenu['menu_id']; ?>')"> 
                                                                                        <span id="clsp<?= $getSubmenu['menu_id']; ?>" style="display:none">
                                                                                            <img src="../images/res_clsp.gif" alt="Exp" title="Expand" style="position:relative;top:2px;"/>
                                                                                        </span>
                                                                                        <span id="exp<?= $getSubmenu['menu_id']; ?>" style="display:block">
                                                                                            <img src="../images/res_exp.gif" alt="Exp" title="Expand" style="position:relative;top:2px;"/>
                                                                                        </span> 
                                                                                    </span> 
                                                                                </td>                                                                                                                                                                                                                                                                                                                                                                                                         ?>
                                                                                <td style="cursor:pointer; width:10px;"><span style="display:block">
                                                                                        <img src="../images/res_clsp.gif" alt="Exp" title="Expand" style="position:relative;top:2px;"/>
                                                                                    </span> 
                                                                                </td>
                                                                            <?php } ?>
                                                                            <td width="256">
                                                                                <?= $getSubmenu['menu_name']; ?>
                                                                            </td>                                                                                
                                                                            <td width="82" style="text-align: center;">
                                                                                <?php
                                                                                if ($getSubmenu['menu_static'] == '1') {
                                                                                    echo "static";
                                                                                } else {
                                                                                    echo "dynamic";
                                                                                }
                                                                                ?>	
                                                                            </td>
                                                                            <td width="320">
                                                                                <?php if ($getSubmenu['menu_static'] == '1') { ?>
                                                                                    <select name="page" id="page" class="dropList" onchange="pageAssign('ajax_shorting.php?menu_id=<?= $getSubmenu['menu_id']; ?>&pageId=' + this.value, 'divid<?= $getSubmenu['menu_id']; ?>')">
                                                                                        <option value="" selected="selected">[select]</option>
                                                                                        <?php
                                                                                        $sqlPage = mysqli_query($connection, "select * from " . PAGES . " order by id asc");
                                                                                        while ($getPage = mysqli_fetch_array($sqlPage)) {
                                                                                            ?>
                                                                                            <option value="<?= $getPage['id']; ?>" <?php if ($getPage['id'] == $getSubmenu['page_id_fk']) { ?> selected="selected" <?php } ?> ><?= $getPage['title']; ?></option>
                                                                                    <?php } ?>	
                                                                                    </select><span id="divid<?= $getSubmenu['menu_id']; ?>"></span>
                                                                                    <?php
                                                                                    if ($getSubmenu['page_id_fk']) {
                                                                                        ?>
                                                                                    <a href="add-page.php?editId=<?= $getSubmenu['page_id_fk']; ?>" class="pagelink" >Edit Page</a>
                                                                                        <?php
                                                                                    } else {
                                                                                        ?>
                                                                                        <a href="add-page.php" class="pagelink">Add New Page</a>
                                                                                        <?php
                                                                                    }
                                                                                }
                                                                                ?>	
                                                                            </td>
                                                                            <td width="160" style="text-align:center;">
                                                                                <?php
                                                                                $my_t = getdate(strtotime($getSubmenu["menu_dt_created"]));
                                                                                print("$my_t[month] $my_t[mday], $my_t[year]");
                                                                                ?>
                                                                            </td>
                                                                            <td style="text-align: right;">
                                                                                <a href="add_menu.php?parent=<?= $getSubmenu['menu_id']; ?>&web=<?= $webId; ?>"  class="tu_iframe_559x220"><!--<img src="images/plus.png" border="0" title="Add Menu" height="14" width="14"  />--></a>&nbsp;&nbsp;
                                                                                <a onclick=" $('#edit-subMenu-<?= $getSubmenu['menu_id']; ?>').show('slow');" href="javascript:;" style="padding: 0 5px!important;" class="btn btn-info hint--top  hint" data-hint="Edit Menu" data-placement="top">
                                                                                    <i class="fa fa-edit"></i>
                                                                                </a>
                                                                                &nbsp;&nbsp;
                                                                                <?php if ($getSubmenu['status'] == '1') { ?>
                                                                                    <a href="menu.php?unpublish=<?= $getSubmenu['menu_id']; ?>" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-success  hint--top  hint" data-hint="Click to unpublish?" data-placement="top">
                                                                                        <i class="fa fa-check"></i>
                                                                                    </a>
                                                                                <?php } else { ?>
                                                                                    <a href="menu.php?publish=<?= $getSubmenu['menu_id']; ?>" data-hint="Click to publish?" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-danger  hint--top  hint">
                                                                                        <i class="fa fa-close"></i>
                                                                                    </a>
                                                                                <?php } ?>                                                                                
                                                                                &nbsp;&nbsp;
                                                                                <a onclick="deleteSubMenu('<?= $getSubmenu['menu_id']; ?>');" href="javascript:;" style="padding: 0 5px!important;" class="btn btn-danger hint--top  hint" data-hint="Delete" data-placement="top">
                                                                                   <i class="fa fa-trash-o"></i>
                                                                                </a>
                                                                                &nbsp;&nbsp;
                                                                                <span style="cursor:move;">
                                                                                    <img src="../images/arrow.png" alt="move" class="handle_left" height="15" width="15" />
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div class="modal" id="edit-subMenu-<?= $getSubmenu['menu_id']; ?>">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button aria-label="Close" data-dismiss="modal" class="close" type="button" onClick="$('#edit-subMenu-<?= $getSubmenu['menu_id']; ?>').hide('slow');"><span aria-hidden="true">x</span></button>
                                                                        <h4 class="modal-title">Edit menu</h4>
                                                                    </div>
                                                                    <form action="edit_menu.php?edit=<?= $getSubmenu['menu_id']; ?>" method="post">
                                                                        <div class="modal-body">
                                                                            <div class="form-group">
                                                                                <label for="exampleInputName">Name : <span style="color:#FF0000;">*</span></label>
                                                                                <input name="menu_name" type="text" value="<?= $getSubmenu['menu_name']; ?>" class="form-control"  />
                                                                                <div class="help-block with-errors"></div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="exampleInputName">Status : <span style="color:#FF0000;">*</span></label>
                                                                                <input name="status" type="radio" value="1" <?php if ($getSubmenu['menu_static'] == '1') { ?> checked <?php } ?>> Static &nbsp;&nbsp;<input name="status" type="radio" value="2" <?php if ($getSubmenu['menu_static'] == '2') { ?> checked <?php } ?>>&nbsp;Dynamic
                                                                                <div class="help-block with-errors"></div>
                                                                            </div>
                                                                            <input type="hidden" name="id" id="menu_id">
                                                                            <input type="hidden" name="is_active" id="menu_status">
                                                                        </div>
                                                                        <div class="box-footer text-right">
                                                                            <button data-dismiss="modal"  class="btn btn-danger" type="button" onClick="$('#edit-subMenu-<?= $getSubmenu['menu_id']; ?>').hide('slow');">Close</button>&nbsp;&nbsp;
                                                                            <input name="update" type="submit" class="btn btn-success" value="Update">
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>    
                                                                <?php $random = rand(111, 999); ?>
                                                        
                                                        <script>
                                                            $(document).ready(function (){
                                                                $("#tetx-short1<?= $random ?>").sortable({
                                                                    handle: '.handle_left',
                                                                    update: function () {
                                                                        var order = $('#tetx-short1<?= $random ?>').sortable('serialize');
                                                                         $.ajax({
                                                                            data: order,
                                                                            type: 'POST',
                                                                            url: "ajax_shorting.php?" + order,
                                                                        complete:function(e){
                                                                            setTimeout(function(){
                                                                                window.location.reload();
                                                                           }, 3000); 
                                                                        }
                                                                        });
                                                                        // $("#short").load("ajax_shorting.php?" + order);
                                                                    }
                                                                });
                                                            });
                                                        </script>
                                                                <!--     Slideing view for level 1   -->
                                                                <div style="padding:5px 0px;display:none;" id="secid<?= $getSubmenu['menu_id']; ?>">
                                                                    <div id="tetx-short1<?= $random; ?>">
                                                                        <?php
                                                                        $sqlSubmenu2 = mysqli_query($connection, "select * from " . TBL_MENU . " where parent_menu_id='$getSubmenu[menu_id]' order by sl_no asc");
                                                                        if (mysqli_num_rows($sqlSubmenu2)) {
                                                                            $j = 0;
                                                                            while ($getSubmenu2 = mysqli_fetch_array($sqlSubmenu2)) {
                                                                                $j++;
                                                                                $sqlRow2 = mysqli_num_rows(mysqli_query($connection, "select * from " . TBL_MENU . " where parent_menu_id='$getSubmenu2[menu_id]'"));
                                                                                ?>
                                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="listItem1_<?= $getSubmenu2['menu_id']; ?>" >
                                                                                    <tr>
                                                                                        <td>
                                                                                            <table width="100%" class="nostyle">
                                                                                                <tr class="<?= $class; ?>">
                                                                                                    <td width="30"></td>
                                                                                                    <?php if ($sqlRow2) { ?>
                                                                                                        <td style="cursor:pointer; width:10px;"><span onclick="slideUpDown('secid<?= $getSubmenu2['menu_id']; ?>', 'clsp<?= $getSubmenu2['menu_id']; ?>', 'exp<?= $getSubmenu2['menu_id']; ?>')"> <span id="clsp<?= $getSubmenu2['menu_id']; ?>" style="display:none"><img src="images/res_clsp.gif" alt="Exp" title="Expand" style="position:relative;top:2px;"/></span> <span id="exp<?= $getSubmenu2['menu_id']; ?>" style="display:block"><img src="images/res_exp.gif" alt="Exp" title="Expand" style="position:relative;top:2px;"/></span> </span> </td>
                                                                                                        <?php
                                                                                                    } else {
                                                                                                        ?>
                                                                                                        <td style="cursor:pointer; width:10px;"><span style="display:block"><img src="images/res_clsp.gif" alt="Exp" title="Expand" style="position:relative;top:2px;"/></span> </td>
                                                                                                        <?php
                                                                                                    }
                                                                                                    ?>
                                                                                                    <td width="336"><?= $getSubmenu2['menu_name']; ?>&nbsp;&nbsp;<a href="add_menu.php?parent=<?= $getSubmenu2['menu_id']; ?>&web=<?= $webId; ?>"  class="tu_iframe_559x220"><img src="images/plus.png" border="0" title="Add Menu" height="14" width="14"></a>&nbsp;&nbsp;<a href="edit_menu.php?edit=<?= $getSubmenu2['menu_id']; ?>" class="tu_iframe_559x220"><img src="images/edit.png" border="0" height="14" width="14" /></a>&nbsp;&nbsp;
                                                                                                        <?php if ($getSubmenu2['status'] == '1') { ?>
                                                                                                            <a href="<?= CUR_PAGE; ?>?unpublish=<?= $getSubmenu2['menu_id']; ?>&web=<?= $webId; ?>"><img src="images/thumb_down.png" border="0" title="unpublish" height="14" width="14" /></a>
                                                                                                        <?php } else { ?>
                                                                                                            <a href="<?= CUR_PAGE; ?>?publish=<?= $getSubmenu2['menu_id']; ?>&web=<?= $webId; ?>"><img src="images/thumb_up.png" border="0" title="publish" height="14" width="14" /></a>
                                                                                                        <?php } ?>
                                                                                                        &nbsp;&nbsp;<span style="cursor:move;"><img src="images/arrow.png" alt="move" style="padding:2px;" class="handle_left" height="14" width="14" /></span></td>


                                                                                                    <td width="100">
                                                                                                        <?php
                                                                                                        if ($getSubmenu2['menu_static'] == '1') {
                                                                                                            echo "static";
                                                                                                        } else {
                                                                                                            echo "dynamic";
                                                                                                        }
                                                                                                        ?>	
                                                                                                    </td>

                                                                                                    <td width="250">

                                                                                                        <?php
                                                                                                        if ($getSubmenu2['menu_static'] == '1') {
                                                                                                            ?>

                                                                                                            <select name="page" id="page" class="dropList" onchange="pageAssign('ajax_shorting.php?menu_id=<?= $getSubmenu2['menu_id']; ?>&pageId=' + this.value, 'divid<?= $getSubmenu2['menu_id']; ?>')">

                                                                                                                <option value="" selected="selected">[select]</option>
                                                                                                                <?php
                                                                                                                $sqlPage = mysqli_query($connection, "select * from " . PAGES . " order by id asc");
                                                                                                                while ($getPage = mysqli_fetch_array($sqlPage)) {
                                                                                                                    //$getPageIdFk = mysqli_fetch_array(mysqli_query($connection, "select * from ".TBL_MENU." where web_id_fk='$webId' and page_id_fk='$getPage[page_id]'"));
                                                                                                                    ?>
                                                                                                                    <option value="<?= $getPage['id']; ?>" <?php if ($getPage['id'] == $getSubmenu2['page_id_fk']) { ?> selected="selected" <?php } ?> ><?= $getPage['title']; ?></option>
                                                                                                                    <?php
                                                                                                                }
                                                                                                                ?>	
                                                                                                            </select><span id="divid<?= $getSubmenu2['menu_id']; ?>"></span>
                                                                                                            <?php
                                                                                                            if ($getSubmenu2['page_id_fk']) {
                                                                                                                ?>
                                                                                                                <a href="pages.php?go=GO&web=<?= $webId; ?>&editId=<?= $getSubmenu2['page_id_fk']; ?>" class="pagelink">Edit Page</a>
                                                                                                                <?php
                                                                                                            } else {
                                                                                                                ?>
                                                                                                                <a href="pages.php?go=GO&web=<?= $webId; ?>" class="pagelink">Add New Page</a>
                                                                                                                <?php
                                                                                                            }
                                                                                                        }
                                                                                                        ?>

                                                                                                    </td>
                                                                                                    <td width="" style="text-align:center;">
                                                                                                        <?php $my_t = getdate(strtotime($getSubmenu2["menu_dt_created"]));
                                                                                                        print("$my_t[month] $my_t[mday], $my_t[year]");
                                                                                                        ?>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table></td>
                                                                                    </tr>
                                                                                </table>
                                                                                <?php $random1 = rand(000, 999); ?>
                                                                                <script>
                                                                                    $(document).ready(function ()
                                                                                    {
                                                                                        $("#test-short2<?= $random1 ?>").sortable({
                                                                                            handle: '.handle_left',
                                                                                            update: function () {
                                                                                                var order = $('#test-short2<?= $random1 ?>').sortable('serialize');
                                                                                                // alert(order);
                                                                                                 $.ajax({
                                                                                                    data: order,
                                                                                                    type: 'POST',
                                                                                                    url: "ajax_shorting.php?" + order,
                                                                                                    complete:function(e){
                                                                                                        setTimeout(function(){
                                                                                                            window.location.reload();
                                                                                                       }, 3000); 
                                                                                                    }
                                                                                                });
                                                                                                // $("#short").load("ajax_shorting.php?" + order);
                                                                                            }
                                                                                        });
                                                                                    });</script>
                                                                                <!--     Slideing view for level 2             -->
                                                                                <div style="padding:5px 0px;display:none;" id="secid<?= $getSubmenu2['menu_id']; ?>">
                                                                                    <div id="test-short2<?= $random1; ?>">
                                                                                        <?php
                                                                                        /*                                                                                         * *******  Third Level Child Menu  ********* */
                                                                                        $sqlSubmenu3 = mysqli_query($connection, "select * from " . TBL_MENU . " where parent_menu_id='$getSubmenu2[menu_id]' order by sl_no asc");
                                                                                        if (mysqli_num_rows($sqlSubmenu3)) {
                                                                                            $l = 0;
                                                                                            while ($getSubmenu3 = mysqli_fetch_array($sqlSubmenu3)) {
                                                                                                $l++;

                                                                                                $sqlRow = mysqli_num_rows(mysqli_query($connection, "select * from " . TBL_MENU . " where parent_menu_id='$getSubmenu3[menu_id]'"));
                                                                                                ?>
                                                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="listItem2_<?= $getSubmenu3['menu_id']; ?>">
                                                                                                    <tr>
                                                                                                        <td><table width="100%" class="nostyle">
                                                                                                                <tr class="<?= $class; ?>">
                                                                                                                    <td width="60"></td>
                                                                                                                    <?php if ($sqlRow) { ?>
                                                                                                                        <td style="cursor:pointer; width:10px;"><span onclick="slideUpDown('secid<?= $getSubmenu3['menu_id']; ?>', 'clsp<?= $getSubmenu3['menu_id']; ?>', 'exp<?= $getSubmenu3['menu_id']; ?>')"> <span id="clsp<?= $getSubmenu3['menu_id']; ?>" style="display:none"><img src="images/res_clsp.gif" alt="Exp" title="Expand" style="position:relative;top:2px;"/></span> <span id="exp<?= $getSubmenu3['menu_id']; ?>" style="display:block"><img src="images/res_exp.gif" alt="Exp" title="Expand" style="position:relative;top:2px;"/></span> </span> </td>
                                                                                                                        <?php
                                                                                                                    } else {
                                                                                                                        ?>
                                                                                                                        <td style="cursor:pointer; width:10px;"><span style="display:block"><img src="images/res_clsp.gif" alt="Exp" title="Expand" style="position:relative;top:2px;"/></span></td>
                                                                                                                        <?php
                                                                                                                    }
                                                                                                                    ?>
                                                                                                                    <td width="305"><?= $getSubmenu3['menu_name']; ?>&nbsp;&nbsp;<a href="add_menu.php?parent=<?= $getSubmenu3['menu_id']; ?>&web=<?= $webId; ?>"  class="tu_iframe_559x220"><img src="images/plus.png" border="0" title="Add Menu" height="14" width="14" /></a>&nbsp;&nbsp;<a href="edit_menu.php?edit=<?= $getSubmenu3['menu_id']; ?>" class="tu_iframe_559x220"><img src="images/edit.png" border="0" height="14" width="14" /></a>&nbsp;&nbsp;
                                                                                                                        <?php if ($getSubmenu3['status'] == '1') { ?>
                                                                                                                            <a href="<?= CUR_PAGE; ?>?unpublish=<?= $getSubmenu3['menu_id']; ?>&web=<?= $webId; ?>"> <img src="images/thumb_down.png" border="0" title="unpublish" height="14" width="14" /></a>
                                                                                                                        <?php } else { ?>
                                                                                                                            <a href="<?= CUR_PAGE; ?>?publish=<?= $getSubmenu3['menu_id']; ?>&web=<?= $webId; ?>"><img src="images/thumb_up.png" border="0" title="publish" height="14" width="14" /></a>
                                                                                                                        <?php } ?>
                                                                                                                        &nbsp;&nbsp;<span style="cursor:move;"><img src="images/arrow.png" alt="move" style="padding:2px;" class="handle_left" height="14" width="14" /></span></td>

                                                                                                                    <td width="100">
                                                                                                                        <?php
                                                                                                                        if ($getSubmenu3['menu_static'] == '1') {
                                                                                                                            echo "static";
                                                                                                                        } else {
                                                                                                                            echo "dynamic";
                                                                                                                        }
                                                                                                                        ?>
                                                                                                                    </td>
                                                                                                                    <td width="350">
                                                                                                                        <?php
                                                                                                                        if ($getSubmenu3['menu_static'] == '1') {
                                                                                                                            ?>

                                                                                                                            <select name="page" id="page" class="dropList" onchange="pageAssign('ajax_shorting.php?menu_id=<?= $getSubmenu3['menu_id']; ?>&pageId=' + this.value, 'divid<?= $getSubmenu3['menu_id']; ?>')">

                                                                                                                                <option value="" selected="selected">[select]</option>
                                                                                                                                <?php
                                                                                                                                $sqlPage = mysqli_query($connection, "select * from " . PAGES . " order by id asc");
                                                                                                                                while ($getPage = mysqli_fetch_array($sqlPage)) {
                                                                                                                                    ?>
                                                                                                                                    <option value="<?= $getPage['id']; ?>" <?php if ($getPage['id'] == $getSubmenu3['page_id_fk']) { ?> selected="selected" <?php } ?> ><?= $getPage['title']; ?></option>
                                                                                                                                    <?php
                                                                                                                                }
                                                                                                                                ?>	
                                                                                                                            </select><span id="divid<?= $getSubmenu3['menu_id']; ?>"></span>	

                                                                                                                            <?php
                                                                                                                            if ($getSubmenu3['page_id_fk']) {
                                                                                                                                ?>
                                                                                                                                <a href="pages.php?go=GO&web=<?= $webId; ?>&editId=<?= $getSubmenu3['page_id_fk']; ?>" class="pagelink">Edit Page</a>
                                                                                                                                <?php
                                                                                                                            } else {
                                                                                                                                ?>
                                                                                                                                <a href="pages.php?go=GO&web=<?= $webId; ?>" class="pagelink">Add New Page</a>
                                                                                                                                <?php
                                                                                                                            }
                                                                                                                        }
                                                                                                                        ?>

                                                                                                                    </td>
                                                                                                                    <td width="" style="text-align:center;"><?php
                                                                                                                        $my_t = getdate(strtotime($getSubmenu3["menu_dt_created"]));
                                                                                                                        print("$my_t[month] $my_t[mday], $my_t[year]");
                                                                                                                        ?></td>
                                                                                                                </tr>
                                                                                                            </table></td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                                </table>
                                                                                                <?php $random3 = rand(1111, 9999); ?>
                                                                                                <script>
                                                                                                    $(document).ready(function ()
                                                                                                    {
                                                                                                        $("#test-short3<?= $random3 ?>").sortable({
                                                                                                            handle: '.handle_left',
                                                                                                            update: function () {
                                                                                                                var order = $('#test-short3<?= $random3 ?>').sortable('serialize');
                                                                                                                 $.ajax({
                                                                                                                    data: order,
                                                                                                                    type: 'POST',
                                                                                                                    url: "ajax_shorting.php?" + order,
                                                                                                                        complete:function(e){
                                                                                                                            setTimeout(function(){
                                                                                                                                window.location.reload();
                                                                                                                           }, 3000); 
                                                                                                                        }
                                                                                                                });
                                                                                                                // $("#short").load("ajax_shorting.php?" + order);
                                                                                                            }
                                                                                                        });
                                                                                                    });</script>
                                                                                                <!--   Slide view for level 3  -->
                                                                                                <div style="padding:5px 0px;display:none;" id="secid<?= $getSubmenu3['menu_id']; ?>">
                                                                                                    <div id="test-short3<?= $random3; ?>">
                                                                                                        <?php
                                                                                                        /*                                                                                                         * *******  Fourth Level Child Menu  ********* */
                                                                                                        $sqlSubmenu4 = mysqli_query($connection, "select * from " . TBL_MENU . " where parent_menu_id='$getSubmenu3[menu_id]' order by sl_no");
                                                                                                        if (mysqli_num_rows($sqlSubmenu3)) {
                                                                                                            $k = 0;
                                                                                                            while ($getSubmenu4 = mysqli_fetch_array($sqlSubmenu4)) {
                                                                                                                $k++;
                                                                                                                ?>
                                                                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="listItem3_<?= $getSubmenu4['menu_id']; ?>" >
                                                                                                                    <tr >
                                                                                                                        <td><table width="100%"  class="nostyle">
                                                                                                                                <tr class="<?= $class; ?>">
                                                                                                                                    <td width="90"></td>
                                                                                                                                    <td width="295"><?= $getSubmenu4['menu_name']; ?>&nbsp;&nbsp;<a href="edit_menu.php?edit=<?= $getSubmenu4['menu_id']; ?>&web=<?= $webId; ?>" class="tu_iframe_559x220"><img src="images/edit.png" border="0" height="14" width="14" /></a>&nbsp;&nbsp;
                                                                                                                                        <?php if ($getSubmenu4['status'] == '1') { ?>
                                                                                                                                            <a href="<?= CUR_PAGE; ?>?unpublish=<?= $getSubmenu4['menu_id']; ?>&web=<?= $webId; ?>"><img src="images/thumb_down.png" border="0" title="unpublish" height="14" width="14" /></a>
                                                                                                                                        <?php } else { ?>
                                                                                                                                            <a href="<?= CUR_PAGE; ?>?publish=<?= $getSubmenu4['menu_id']; ?>&web=<?= $webId; ?>"><img src="images/thumb_up.png" border="0" title="publish" height="14" width="14" /></a>
                                                                                                                                        <?php } ?>
                                                                                                                                        &nbsp;&nbsp;<span style="cursor:move;"><img src="images/arrow.png" alt="move" style="padding:2px;" class="handle_left" height="14" width="14" /></span> </td>


                                                                                                                                    <td width="100">
                                                                                                                                        <?php
                                                                                                                                        if ($getSubmenu4['menu_static'] == '1') {
                                                                                                                                            echo "static";
                                                                                                                                        } else {
                                                                                                                                            echo "dynamic";
                                                                                                                                        }
                                                                                                                                        ?>
                                                                                                                                    </td>
                                                                                                                                    <td width="350">
                                                                                                                                        <?php
                                                                                                                                        if ($getSubmenu4['menu_static'] == '1') {
                                                                                                                                            ?>	
                                                                                                                                            <select name="page" id="page" class="dropList" onchange="pageAssign('ajax_shorting.php?menu_id=<?= $getSubmenu4['menu_id']; ?>&pageId=' + this.value, 'divid<?= $getSubmenu4['menu_id']; ?>')">

                                                                                                                                                <option value="" selected="selected">[select]</option>
                                                                                                                                                <?php
                                                                                                                                                $sqlPage = mysqli_query($connection, "select * from " . PAGES . " order by id asc");
                                                                                                                                                while ($getPage = mysqli_fetch_array($sqlPage)) {
                                                                                                                                                    ?>
                                                                                                                                                    <option value="<?= $getPage['id']; ?>" <?php if ($getPage['id'] == $getSubmenu4['page_id_fk']) { ?> selected="selected" <?php } ?> ><?= $getPage['title']; ?></option>
                                                                                                                                                    <?php
                                                                                                                                                }
                                                                                                                                                ?>	
                                                                                                                                            </select><span id="divid<?= $getSubmenu4['menu_id']; ?>"></span>

                                                                                                                                            <?php
                                                                                                                                            if ($getSubmenu4['page_id_fk']) {
                                                                                                                                                ?>
                                                                                                                                                <a href="pages.php?go=GO&web=<?= $webId; ?>&editId=<?= $getSubmenu4['page_id_fk']; ?>" class="pagelink">Edit Page</a>
                                                                                                                                                <?php
                                                                                                                                            } else {
                                                                                                                                                ?>
                                                                                                                                                <a href="pages.php?go=GO&web=<?= $webId; ?>" class="pagelink">Add New Page</a>
                                                                                                                                                <?php
                                                                                                                                            }
                                                                                                                                        }
                                                                                                                                        ?>
                                                                                                                                    </td>
                                                                                                                                    <td width="" style="text-align:center;"><?php
                                                                                                                                        $my_t = getdate(strtotime($getSubmenu4["menu_dt_created"]));
                                                                                                                                        print("$my_t[month] $my_t[mday], $my_t[year]");
                                                                                                                                        ?>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </table>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </table>
                                                                                                                <?php
                                                                                                            }
                                                                                                        }
                                                                                                        ?>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <!--  slide view for level 3 end here -->
                                                                                                <?php
                                                                                            }
                                                                                        }
                                                                                        ?>
                                                                                    </div>
                                                                                </div>
                                                                                <!--  slide view for level 2 end here -->
                                                                                <?php
                                                                            }
                                                                        }
                                                                        ?>
                                                                    </div>
                                                                    <div class="clear"></div>                                                                           
                                                                </div>
                                                                <!--  slide view for level 1 end here -->
                                                                <?php
                                                            }
                                                        }
                                                        ?>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                        
                                        <div class="modal" id="add-sub-menu-<?= $getMenu['menu_id']; ?>">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-label="Close" data-dismiss="modal" class="close" type="button" onClick="$('#add-sub-menu-<?= $getMenu['menu_id']; ?>').hide('slow');"><span aria-hidden="true">x</span></button>
                                                        <h4 class="modal-title">Add menu</h4>
                                                    </div>
                                                    <form action="add_menu.php?parent=<?= $getMenu['menu_id']; ?>" method="post">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="exampleInputName">Name : <span style="color:#FF0000;">*</span></label>
                                                                <input name="menu_name" type="text" class="form-control"  />
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputName">Status : <span style="color:#FF0000;">*</span></label>
                                                                <input name="status" type="radio" value="1" checked> Static &nbsp;&nbsp;<input name="status" type="radio" value="2">&nbsp;Dynamic
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                            <input type="hidden" name="id" id="menu_id">
                                                            <input type="hidden" name="is_active" id="menu_status">
                                                        </div>
                                                        <div class="box-footer text-right">
                                                            <button data-dismiss="modal"  class="btn btn-danger" type="button" onClick="$('#add-sub-menu-<?= $getMenu['menu_id']; ?>').hide('slow');">Close</button>&nbsp;&nbsp;
                                                            <input name="save" type="submit" class="btn btn-success" value="Save">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="modal" id="edit-sub-menu-<?= $getMenu['menu_id']; ?>">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-label="Close" data-dismiss="modal" class="close" type="button" onClick="$('#edit-sub-menu-<?= $getMenu['menu_id']; ?>').hide('slow');"><span aria-hidden="true">x</span></button>
                                                        <h4 class="modal-title">Edit menu</h4>
                                                    </div>
                                                    <form action="edit_menu.php?edit=<?= $getMenu['menu_id']; ?>" method="post">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="exampleInputName">Name : <span style="color:#FF0000;">*</span></label>
                                                                <input name="menu_name" type="text" value="<?= $getMenu['menu_name']; ?>" class="form-control"  />
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputName">Status : <span style="color:#FF0000;">*</span></label>
                                                                <input name="status" type="radio" value="1" <?php if($getMenu['menu_static'] == '1') { ?> checked <?php } ?>> Static &nbsp;&nbsp;<input name="status" type="radio" value="2" <?php if($getMenu['menu_static'] == '2') { ?> checked <?php } ?>>&nbsp;Dynamic
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                            <input type="hidden" name="id" id="menu_id">
                                                            <input type="hidden" name="is_active" id="menu_status">
                                                        </div>
                                                        <div class="box-footer text-right">
                                                            <button data-dismiss="modal"  class="btn btn-danger" type="button" onClick="$('#edit-sub-menu-<?= $getMenu['menu_id']; ?>').hide('slow');">Close</button>&nbsp;&nbsp;
                                                            <input name="update" type="submit" class="btn btn-success" value="Update">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>  
                                                                              
                                                <?php
                                            }
                                        } else {
                                            ?>
                                            <div  style="font-family:Arial, Helvetica, sans-serif;color:#FF0000;font-size:14px; line-height:20px; text-align:center;"> No Data Found. !! </div>
                                            <?php
                                        }
                                        ?>
                                    </div>
                                    <!-- Shorting for level 0 end here-->
                                </div>
                                <!-- Definition List -->
                            </div>
                            
                            <div class="modal" id="add-menu">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button aria-label="Close" data-dismiss="modal" class="close" type="button" onClick="$('#add-menu').hide('slow');"><span aria-hidden="true">x</span></button>
                                            <h4 class="modal-title">Add menu</h4>
                                        </div>
                                        <form action="add_menu.php" method="post">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="exampleInputName">Name : <span style="color:#FF0000;">*</span></label>
                                                <input name="menu_name" type="text" class="form-control"  />
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputName">Status : <span style="color:#FF0000;">*</span></label>
                                                <input name="status" type="radio" value="1" checked> Static &nbsp;&nbsp;<input name="status" type="radio" value="2">&nbsp;Dynamic
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <input type="hidden" name="id" id="menu_id">
                                            <input type="hidden" name="is_active" id="menu_status">
                                        </div>
                                        <div class="box-footer text-right">
                                            <button data-dismiss="modal"  class="btn btn-danger" type="button" onClick="$('#add-menu').hide('slow');">Close</button>&nbsp;&nbsp;
                                            <input name="save" type="submit" class="btn btn-success" value="Save">
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                           
                        </div><!-- /.box -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section>
    </section>
</div>
<script>
function deleteMenu(id) {
        confirm("Are you sure you want to delete this menu ?", function (done) {
            window.location.href = siteUrl + "admin/menu.php?delete=" + id;
        });
    }
function deleteSubMenu(id) {
        confirm("Are you sure you want to delete this menu ?", function (done) {
            window.location.href = siteUrl + "admin/menu.php?delete_sub=" + id;
        });
    }
</script>