<script src="ckeditor/ckeditor.js"></script>
<!--     Content     -->
<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1><?= @$editId != '' || isset($_REQUEST['editId']) ? 'Edit News' : 'Add News' ?></h1> 
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="listingnews.php"><i class="fa fa-backward"></i> Back</a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <table width="928px" cellpadding="0" cellspacing="10px">
                            <tr> 
                                <?php if (isset($_REQUEST['editId']) && $_GET['editId']) { ?>
                                    <td>
                                        <form action="" name="" method="post" enctype="multipart/form-data">
                                            <div class="box-body">
                                                <p class="note">All (*) fields are mandatory</p> <br>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="name">News Title: <span style="color:#FF0000">*</span></label>
                                                                <div>
                                                                    <input name="heading" value="<?= $getNewsDetails['heading']; ?>" class="form-control" required="required" maxlength="100" aria-required="true" type="text">
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="name">Date: <span style="color:#FF0000">*</span></label>
                                                                <div>
                                                                    <input name="date" value="<?= $getNewsDetails['date']; ?>" class="form-control datepicker" required="required" maxlength="100" aria-required="true" type="text" autocomplete="off">
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">News Short Description: <span style="color:#FF0000">*</span>&nbsp;(Add 100 characters)</label>
                                                                <div>
                                                                    <textarea class="form-control" required="required" maxlength="100" aria-required="true"  name="shortdesc" id="shortdesc" rows="" cols="" style="width: 100%"><?= $getNewsDetails['shortdesc']; ?></textarea>
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-14">
                                                        <div class="col-xs-12">
                                                            <label for="name">News Description: <span style="color:#FF0000">*</span></label>
                                                            <textarea   name="desc" id="desc" rows="155" cols="130" style="width: 100%" class="ckeditor"><?= $getNewsDetails['description']; ?></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="clear">&nbsp;</div>
                                                    <div class="col-xs-12 col-sm-12 col-md-14">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Image: <span style="color:#FF0000">*</span>&nbsp;<span style="color:#F00;font-size:12px;">Please select 305*173 image (please upload image in gif,jpg,jpeg,png,JPEG format)</span></label>
                                                                <div>
                                                                    <?php
                                                                    if ($getNewsDetails['image'] != "") {
                                                                        ?>
                                                                    <img src="../images/news/<?= $getNewsDetails['image']; ?>" width="100px" /> 
                                                                        <div class="clear" style="clear:both;"></div>
                                                                        <a onClick="del_img('<?= $getNewsDetails['id'] ?>');" style="padding: 0 5px !important;margin-top: -127px;margin-left: 106px;" class="btn btn-danger hint--top  hint" data-hint="Delete"><i class="fa fa-trash"></i></a>
                                                                    <?php } else { ?>
                                                                        <input type="file" name="image" id="albumImage" />
                                                                        <div><img style="max-width: 250px;" id="imagePreview" src="" /></div>
                                                                    <?php } ?>
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-13">
                                                    <div class="box-footer text-right">
                                                         <a class="btn btn-danger" href="<?= ADMIN_HTTP_ROOT ?>listingnews.php" style="width: 100px; margin: 0 5px 4px;">Cancel</a> &nbsp;
                                                        <button type="submit" name="save" class="btn btn-success" style="width: 100px;">Update</button> &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                <?php } else { ?>

                                    <td>
                                        <form action="" name="" method="post" enctype="multipart/form-data" onsubmit="return validateUser()">
                                            <div class="box-body">
                                                <p class="note">All (*) fields are mandatory</p> <br>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="name">News Title: <span style="color:#FF0000">*</span></label>
                                                                <div>
                                                                    <input name="heading" value="" class="form-control" required="required" maxlength="100" aria-required="true" type="text">
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div class="form-group">
                                                                <label for="name">Date: <span style="color:#FF0000">*</span></label>
                                                                <div>
                                                                    <input name="date" autocomplete="off" value="" class="form-control datepicker" required="required" maxlength="100" aria-required="true" type="text">
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">News Short Description: <span style="color:#FF0000">*</span> &nbsp;(Add 100 characters)</label>
                                                                <div>
                                                                    <textarea class="form-control" required="required" maxlength="100" aria-required="true"  name="shortdesc" id="shortdesc" rows="" cols="" style="width: 100%"></textarea>
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-14">
                                                        <div class="col-xs-12">
                                                            <label for="name">News Description: <span style="color:#FF0000">*</span></label>
                                                            <textarea   name="desc" id="desc" rows="155" cols="130" style="width: 100%" class="ckeditor"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="clear">&nbsp;</div>
                                                    <div class="col-xs-12 col-sm-14">
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="name">Image: <span style="color:#FF0000">*</span> &nbsp;<span style="color:#F00;font-size:12px;">Please select 305*173 image (please upload image in gif,jpg,jpeg,png,JPEG format)</span></label>
                                                                <div>                                                                
                                                                    <input type="file" name="image" id="albumImage" />
                                                                    <div><img style="max-width: 250px;" id="imagePreview" src="" /></div>
                                                                    <span style="color:#F00;font-size:10px;"></br></span>
                                                                </div>                                   
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-13">
                                                    <div class="box-footer text-right">
                                                        <a class="btn btn-danger" href="<?= ADMIN_HTTP_ROOT ?>news.php" style="width: 100px; margin: 0 5px 4px;">Cancel</a> &nbsp;
                                                        <button type="submit" name="save" class="btn btn-success" style="width: 100px;">Save</button> &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                <?php } ?>
                            </tr>
                        </table>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </section>
    </section>
</div><!-- /content -->
<script>
    function deletePage(id) {
        confirm("Are you sure you want to delete ?", function (done) {
            window.location.href = siteUrl + "admin/news.php?delete=" + id;
        });
    }
    function del_img(id) {
        confirm("Are you sure you want to delete this image ?", function (done) {
            window.location.href = siteUrl + "admin/news.php?del_img=" + id;
        });
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#albumImage").change(function () {
        readURL(this);
    });
</script>