<script>
	  
  $(document).ready(function()
	{
		$("#test-list").sortable({
		
		  handle : '.handle_left',
		  update : function () {
			 var order = $('#test-list').sortable('serialize');
			$("#short").load("news_shorting.php?"+order); 
			//alert("category_shorting.php?"+order);
		  }
		 
		});
		
		//alert("<?php echo $_SESSION['flag'] ?>");
		//onLoad="window.location.reload(true)"
	});
	
</script>
  <!--     Content     -->
<hr class="noscreen" />
		<!-- Content (Right Column) -->
		<div id="content" class="box">
			
			<!-- System Messages -->
			<h4>News Management</h4><br/>
			<?php if($success){ ?>
			<p class="msg done"><?php echo $success; ?></p>
            <?php } ?>
			<?php if($err){ ?>
			<p class="msg error"><?php echo $err; ?></p>
			<?php } ?>	
		
          
			<div id="sliders">
       <div id="test-list">
        <?php
      
      /********   Category  ********************/
      	if(mysqli_num_rows($sqlNews))
        {
        	$i = 0;
        	while($getNews = mysqli_fetch_array($sqlNews))
            {
            	$i++;
      ?>
        <div id="header-<?php echo $getNews['id'];?>">
          <table width="100%" border="0" cellspacing="0" cellpadding="3" style="border:1px solid #A4A4A4;" >
          	
            <tr class="handle_left">
              <th width="40"><?php echo $i; ?></th>              
              <th width="200"><?php echo $getNews['heading']; ?></th>
              <th width="400"><?php echo $getNews['description']; ?></th>
              <th style="text-align:center;">
              <a href="news.php?editId=<?php echo $getNews['id']; ?>" ><img src="images/edit.png" border="0" height="14" width="14" title="Edit"/></a>
              </th>
              <?php if($getNews['is_active'] == '1'){ ?>
              <th style="text-align:center;width="50">                
                <a onclick="return confirm('Are you sure?');" href="<? echo CUR_PAGE; ?>?inactive=<?php echo  $getNews['id']; ?>&web=<?php echo $webId; ?>"><img src="../images/active.png" border="0" title="Deactive Category" height="14" width="14" /></a>
                </th>
                <?php } else{ ?>
                <th style="text-align:center;">                
                <a onclick="return confirm('Are you sure?');" href="<? echo CUR_PAGE; ?>?active=<?php echo  $getNews['id']; ?>&web=<?php echo $webId; ?>"><img src="../images/inactive.png" border="0" title="Activate Category" height="14" width="14" /></a>
                </th>
                 <?php } ?>                
                <th style="width:100px">
                	<a  onclick="return confirm('Are you sure?')" href="?delete=<?php echo $getNews['id']; ?>"><span style="color:#F00">Delete</span></a>
                </th>          
            </tr>
          </table>
         
        </div>
        
        <?php  
     	}
      }
        /********   End ofCategory  ********************/
     ?>
      </div>
      
      <!-- Shorting for level 0 end here-->
    </div>
			<!-- Definition List -->
			

		</div> <!-- /content -->

	</div> <!-- /cols -->
	<!--   Content End Here  -->