<script>
	  
  $(document).ready(function()
	{
		$("#test-list").sortable({
		
		  handle : '.handle_left',
		  update : function () {
			 var order = $('#test-list').sortable('serialize');
			$("#short").load("category_shorting.php?"+order); 
			//alert("category_shorting.php?"+order);
		  }
		 
		});
		
		//alert("<?php echo $_SESSION['flag'] ?>");
		//onLoad="window.location.reload(true)"
	});
	
</script>
  <!--     Content     -->
<hr class="noscreen" />
		<!-- Content (Right Column) -->
		<div id="content" class="box">
			
			<!-- System Messages -->
			<h4>View Gallery</h4><br/>
			<?php if($success){ ?>
			<p class="msg done"><?php echo $success; ?></p>
            <?php } ?>
			<?php if($err){ ?>
			<p class="msg error"><?php echo $err; ?></p>
			<?php } ?>	
		
          
			<div id="slider">
       <div id="test-list">
       <div class="product_page">
       <ul>      
        <?php     
      	if(mysqli_num_rows($sqlGallery))
        {
        	while($getGallery = mysqli_fetch_array($sqlGallery))
            {
        ?>
        <div id="header-<?php echo $getGallery['id'];?>">
           <li>
           		<img src="../images/category/small_<?php echo $getGallery['image']; ?>" width="180px" />
                <div style="text-align:center;"><a onclick="return confirm('Are you sure')" href="?gid=<?php echo $getGallery['category']; ?>?&delete=<?php echo $getGallery['id']; ?>" style="color:#F00">Delete</a></div>
           </li>         
        </div>
        
         <?php  
     	 }
       }       
      ?>     
      </ul>
      </div>
      </div>
      
    </div>
			<!-- Definition List -->
			

		</div> <!-- /content -->

	</div> <!-- /cols -->
	<!--   Content End Here  -->