<?php
$count = mysqli_num_rows($sqlevents);
?>
<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Manage Page</h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>          
                <li><a class="btn btn-success" href="add-page.php" style="color: #FFF;"><i class="glyphicon glyphicon-plus-sign"></i> Add New Page </a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">
                        <div class="box-body">                    
                            <table id="<?= ($count) ? 'datatableDefault' : '' ?>" style="width: 100%; float: left;" class="table table-bordered table-striped responsiveOrderTable">                       
                                <thead>
                                    <tr>                                    
                                        <th>Name</th>
                                        <th style="text-align: center;">Action</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if($count > 0) {
                                    while ($page = mysqli_fetch_assoc($sqlevents)) { ?>
                                        <tr id="2669" class="orderRow">                                                                      
                                            <td><?= $page['title']; ?></td>                                      
                                            <td style="text-align: center;"> 
                                                <a style="padding: 0 7px!important;" class="btn btn-info hint--top  hint" data-hint="Edit" data-placement="top" href="add-page.php?editId=<?= $page['id']; ?>"><i class="fa fa-edit"></i></a>                                                
                                                <a onclick="deletePage('<?= $page['id'] ?>');" data-hint="Delete" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" href="javascript:;"><i class="fa fa-trash"></i></a>  
                                            </td>
                                        </tr>
                                    <?php } } else { ?>
                                        <tr><td class="nodata" colspan="4">No page found !!</td></tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    function deletePage(id) {
        confirm("Are you sure you want to delete this area ?", function (done) {
            window.location.href = siteUrl + "admin/add-page.php?delid=" + id;
        });
    }
</script>