<style>
    .button {
        height:35px;
        padding:0px 20px 4px 20px;
        background-color: lightskyblue;
        background-repeat:repeat-x;
        background-position:left center;
        border:solid 1px #0B8AB7;	
        -moz-border-radius:5px;
        border-radius:5px;
        -webkit-border-radius:5px;
        font-size:16px;
        font-weight:bold;
        color:#FFFFFF;
        cursor:pointer;
        margin-left: 21px;
    }
    .button-dlt {
        height:35px;
        padding:0px 20px 4px 20px;
        background-color: #ef563e;
        background-repeat:repeat-x;
        background-position:left center;
        border:solid 1px #e27671;	
        -moz-border-radius:5px;
        border-radius:5px;
        -webkit-border-radius:5px;
        font-size:16px;
        font-weight:bold;
        color:#FFFFFF;
        cursor:pointer;
    }
</style>

<div class="content-wrapper">                  
    <section class="content">
        <section class="content-header">
            <h1>Add Path History Files</h1>             
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <table width="928px" cellpadding="0" cellspacing="10px">
                            <tr> 
                                <td>
                                    <form action="" name="" method="post" enctype="multipart/form-data" onsubmit="return validateUser()">
                                        <div class="box-body">
                                            <p class="note">All (*) fields are mandatory</p> <br>
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="name">PDF File:  <span style="color:#FF0000">*</span></label>
                                                        <div>
                                                            <input type="file" name="file" required id="pdf_file" accept="application/pdf" />
                                                        </div>                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="name">Cover Image: <span style="color:#FF0000">*</span></label>
                                                        <div>
                                                            <input type="file" name="file_thumb" required accept="image/*" id="file_thumb" />
                                                        </div>                                   
                                                    </div>
                                                </div>
                                            </div>                                                                   
                                            <div class="clear">&nbsp;</div>
                                            <div class="col-xs-13">
                                                <div class="box-footer text-left">                                                    
                                                    <button type="submit" class="btn btn-success" name="upload" style="width: 100px;margin-left: 20px;">UPLOAD</button>
                                                    <a class="btn btn-danger" href="<?= ADMIN_HTTP_ROOT ?>listing_path_history.php" style="width: 100px; margin: 0 5px 4px;">Cancel</a>
                                                </div>
                                            </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-header">
            <h1>Path History Files</h1>            
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">
                        <div class="box-body">                    
                            <table id="datatableDefault" style="width: 100%; float: left;" class="table table-bordered table-striped responsiveOrderTable">                       
                                <thead>
                                    <tr>                                    
                                        <th style="text-align: center;">Sl.no</th>
                                        <th style="text-align: center;">File</th>
                                        <th style="text-align: center;">Action</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    if (isset($path_history_files_query)) {
                                        $slno = 1;
                                        while ($path_history_file = mysqli_fetch_assoc($path_history_files_query)) {
                                            ?>
                                            <tr id="2669" class="orderRow">                                                                      
                                                <td style="text-align: center;"><?= $slno ?></td>                                      
                                                <td style="text-align: center;"><img src="<?= $file_path_thumb . $path_history_file['thumb_image']; ?>" style="width:40px;" /><p><?= $path_history_file['file']; ?></p></td>                                                                            
                                                <td style="text-align: center;">
                                                    <a onclick="deletePage('<?= $path_history_file['id'] . '&parentID=' . $path_history_file['cms_path_history_id']; ?>');" style="padding: 0 7px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" data-hint="Delete" href="javascript:;"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>       
                                            <?php
                                            $slno++;
                                        }
                                    } else {
                                        ?>
                                        <tr><td class="nodata" colspan="4">No page found !!</td></tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    function deletePage(id) {
        confirm("Are you sure you want to delete ?", function (done) {
            window.location.href = siteUrl + "admin/path_history_files.php?delete=" + id;
        });
    }
</script>