<!--     Content     -->
<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>Update Profile</h1> 
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>                
            </ol> 
        </section>       
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <table width="928px" cellpadding="0" cellspacing="10px">
                            <tr>                                
                                <td>
                                    <form action="" name="" method="post" enctype="multipart/form-data" onsubmit="return validateUser()">
                                        <div class="box-body"><br/>                                            
                                            <div class="col-xs-12 col-sm-12 col-md-14">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="name">Username:<span style="color:#FF0000">*</span></label>
                                                        <div>
                                                            <input type="text" disabled name="user_name" id="user_name" size="40" class="form-control" value="<?= $result_row['user_name']; ?>"  />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>    
                                            <div class="col-xs-12 col-sm-12 col-md-14">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="name">Name:<span style="color:#FF0000">*</span></label>
                                                        <div>
                                                            <input type="text" name="name" id="name" size="40" class="form-control" value="<?= $result_row['name']; ?>"  />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>     
                                            <div class="col-xs-12 col-sm-12 col-md-14">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="name">Admin Email:<span style="color:#FF0000">*</span></label>
                                                        <div>
                                                            <input type="text" name="user_email" id="user_email" size="40" class="form-control" value="<?= $result_row['user_email']; ?>"  />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                                                                                       
                                            <div class="col-xs-12 col-sm-12 col-md-14">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="name">Incoming Email:<span style="color:#FF0000">*</span></label>
                                                        <div>
                                                            <input type="text" name="incoming_email" id="incoming_email" size="40" class="form-control" value="<?= $result_row['incoming_email']; ?>"  />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                                                                                       
                                            <div class="col-xs-12 col-sm-12 col-md-14">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label for="name">Outgoing Email:<span style="color:#FF0000">*</span></label>
                                                        <div>
                                                            <input type="text" name="outgoing_email" id="outgoing_email" size="40" class="form-control" value="<?= $result_row['outgoing_email']; ?>"  />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                                                                                       
                                        </div>
                                        <div class="col-xs-13">
                                            <div class="box-footer text-left">
                                                <input type="submit" name="update_profile" class="btn btn-success" value="Update" id="change" style="width: 100px;margin-left: 30px;" />                                                    
                                                <a class="btn btn-danger" style="min-width: 100px;" href="<?= ADMIN_HTTP_ROOT ?>">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </section>

    </section>
</div>