<?php
 $count = mysqli_num_rows($sqlGallery);
?>
<div class="content-wrapper">                  
    <section class="content"> 
        <section class="content-header">
            <h1>View Gallery</h1>       
            <ol class="breadcrumb">
                <li><a href="index.php"><i class="fa fa-dashboard"></i> Home</a></li>          
                <li><a class="btn btn-success" href="add_image.php?cat_id=<?= $_GET['gid'] ?>" style="color: #FFF;"><i class="glyphicon glyphicon-plus-sign"></i> Add Category Image</a></li>
            </ol> 
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">   
                    <div class="box">
                        <div class="box-body">                    
                            <table id="<?= ($count) ? 'datatableDefault' : '' ?>" style="width: 100%; float: left;" class="table table-bordered table-striped responsiveOrderTable">                       
                                <thead>
                                    <tr>                                    
                                        <th>Gallery Name</th>
                                        <th>Album Image</th>
                                        <th style="text-align: center;">Action</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    if ($count > 0) { 
                                        while ($getGallery = mysqli_fetch_array($sqlGallery)) {
                                            ?>
                                            <tr id="2669" class="orderRow">                                                                      
                                                <td><?= $getGallery['galleryname']; ?></td>                                      
                                                <td><img src="../images/gallery/<?= $getGallery['image']; ?>" width="150px" /></td>                                      
                                                <td style="text-align: center;">                                               
                                                    <a style="padding: 0 7px!important;" class="btn btn-info hint--top  hint" data-hint="Edit" data-placement="top" href="add_image.php?edit=<?= $getGallery['id']; ?>&gid=<?php echo $getGallery['category']; ?>"><i class="fa fa-edit"></i></a>                                                    
                                                    <?php if ($getGallery['is_active'] == '1') { ?>
                                                    <a href="view_gallery.php?inactive=<?= $getGallery['id']; ?>&gid=<?php echo $getGallery['category']; ?>" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-success hint--top  hint" data-hint="Inactivate"><i class="fa fa-toggle-on"></i></a>
                                                    <?php } else { ?>
                                                        <a href="view_gallery.php?active=<?= $getGallery['id']; ?>&gid=<?php echo $getGallery['category']; ?>" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" data-hint="Activate"><i class="fa fa-toggle-off"></i></a>
                                                    <?php } ?>
                                                    <a onclick="deletePage('<?= $getGallery['id'] .'&gid='.$getGallery['category']?>');" data-hint="Delete" style="padding: 0 5px!important;font-weight:bold;" class="btn btn-danger hint--top  hint" href="javascript:;"><i class="fa fa-trash"></i></a>   
                                                </td>
                                            </tr>
                                            <?php
                                        }
                                    } else {
                                        ?>
                                        <tr><td class="nodata" colspan="4">No album found !!</td></tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script>
    function deletePage(id) {
        confirm("Are you sure you want to delete this gallery ?", function (done) {
            window.location.href = siteUrl + "admin/view_gallery.php?delete=" + id;
        });
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#albumImage").change(function () {
        readURL(this);
    });
</script>