<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script>
 function  updateprice()
{
var priceGet = document.getElementById('amount').value;
document.getElementById('amount1').value = priceGet;

}

$(document).ready(function(){

$('#success').hide();
$('#error').hide();
$('#loading').hide();


//formsubmit()

$('#submit').click(function(){  
 
//$( "#target form" ).submit();
var fnameGet = $('#fname').val(); //alert(fnameGet);
//alert(fnameGet);
var lnameGet = $('#lname').val();//alert(lnameGet);
var maddressGet = $('#maddress').val();//alert(maddressGet);
var phoneGet = $('#phone').val(); //alert(phoneGet);
var emailGet = $('#email').val();
var companyGet = $('#company').val();
var creditGet = $('#credit').val();
var caddressGet = $('#creditaddress').val();
var amountGet = $('#amount').val();
 
 if(fnameGet=='')
 {
 alert("Please Enter The First Name");
 document.getElementById("fname").focus();
 document.getElementById("fname").style.borderColor="#fd00d6";
 return false;
 }
 
else  if(lnameGet=='')
 {
 alert("Please Enter The Last Name");
 document.getElementById("lname").focus();
 document.getElementById("lname").style.borderColor="#fd00d6";
 return false;
 }
 else  if(maddressGet=='')
 {
 alert("Please Enter The Address");
 document.getElementById("maddress").focus();
 document.getElementById("maddress").style.borderColor="#fd00d6";
 return false;
 }
  else  if(phoneGet=='')
 {
 alert("Please Enter The Phone no.");
 document.getElementById("phone").focus();
 document.getElementById("phone").style.borderColor="#fd00d6";
 return false;
 }
  else  if(emailGet=='')
 {
 alert("Please Enter The Email");
 document.getElementById("email").focus();
 document.getElementById("email").style.borderColor="#fd00d6";
 return false;
 }
  else  if(companyGet=='')
 {
 alert("Please Enter The Company");
 document.getElementById("company").focus();
 document.getElementById("company").style.borderColor="#fd00d6";
 return false;
 }
 else  if(creditGet=='')
 {
 alert("Please Enter The Name");
 document.getElementById("credit").focus();
 document.getElementById("credit").style.borderColor="#fd00d6";
 return false;
 }
  else  if(caddressGet=='')
 {
 alert("Please Enter The Address");
 document.getElementById("creditaddress").focus();
 document.getElementById("creditaddress").style.borderColor="#fd00d6";
 return false;
 }
 
  else  if(amountGet=='')
 {
 alert("Please Enter The Amount");
 document.getElementById("amount").focus();
 document.getElementById("amount").style.borderColor="#fd00d6";
 return false;
 }
 
   
if(emailGet) {
  $('#submitval').hide();
  $('#loading').show();
    $.post("viewmember.php?name="+fnameGet+"&lastname="+lnameGet+"&maddress="+maddressGet+"&phoneno="+phoneGet+"&email="+emailGet+"&company="+companyGet+"&credit="+creditGet+"&address="+caddressGet+"&mamount="+amountGet,function(data){  //alert(data);
     if(data) {
      //$('#findtradesman').html(data);
	  if(data == 1)
	  	{
			$('#success').show();
			submitform();
		}else {
	 		 $('#error').show();
	  	}

     }
    });
   }
 

  });
});
function submitform()
{
	 //alert('hello');
	 document.forms['myform'].submit();
}

  </script>
  
  <style>
  .form_holder [type="button"] {
    background: none repeat scroll 0 0 #002b60;
    box-shadow: 0 3px 1px 0 rgba(11, 13, 66, 0.75);
    color: #fff;
    cursor: pointer;
    font-family: "Fjalla One",sans-serif;
    height: 35px;
    margin-left: 35px;
    width: 100px;
}
.loading
{

}
  
  
  
  
  
  
  
  
  </style>

<!--<div class="loading" align="center" id="modalSending">
    <img src="images/ajax-loader.gif" width="200px" />
</div>-->

<div class="about-us">

    	<h3><?php echo $member['title'];?></h3>
		<div class="member_holder">
    <p> <?php echo $member['description'];?></p>
    </div>
    </div>
    </br>
    </br>
               
        <!--<div class="contact-us" style="margin-top:11px;">-->
     
    <div class="renew_member">
    
    
     <?php  // if($msg) { ?>

<!--           <div id="success" style="line-height:20px;padding:5px 5px 10px 5px;border:solid 1px #6AA002;ackground-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:6AA002;font-size:13px;text-align:center;background:url(images/yes.png) ;background-position:5px center;background-repeat:no-repeat;cursor:pointer;font-weight:700;margin:-21px 44 0 19px; width:435px;">Thank you for your contact request, we will contact you shortly </div>
           
               <?php // }if($error){ ?>

      <div id="error" style="line-height:20px;padding:6px 5px 6px 5px;border:solid 1px #E54242;background-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:#D60000;font-size:13px;text-align:center;background:url(images/error.png) #FEE2E2;background-position:5px center;background-repeat:no-repeat;cursor:pointer;margin:10px 0 0 9px; width:400px;">Sending Error</div>-->
               <?php // } ?>
    
    
    
    
    <h4>Membership Form</h4>
     <form class="form_holder" id="paypal" name="paypal"  method="post"    action=""   >
        <h5><span>1</span> Basic Information</h5>
        <label>First Name : </label>
        <input type="text" name="fname" value="" id="fname"  />
         <label>Last Name : </label>
        <input type="text" name="lname" value="<?php echo $_REQUEST['lname'];?>" id="lname"  required/>
         <label>Mailing Address : </label>
        <input type="text" name="maddress" value="<?php echo $_REQUEST['maddress'];?>" id="maddress"  required/>
         <label>Phone : </label>
        <input type="text" name="phone" value="<?php echo $_REQUEST['phone'];?>"  id="phone"required/> 
         <label>Email : </label>
        <input type="text" name="email" value="<?php echo $_REQUEST['email'];?>" id="email" required/>
        <label>Company / Organization (for company / organization memberships only) : </label>
        <input type="text" name="company"  value="<?php echo $_REQUEST['company'];?>"  id="company"required/>
        
        <label>Name as it appears on Credit Card : </label>
        <input type="text" name="credit" value="<?php echo $_REQUEST['credit'];?>" required  id="credit"/>
        <label>Address associated with credit card : </label>
        <input type="text" name="creditaddress" value="<?php echo $_REQUEST['creditaddress'];?>"  id="creditaddress" required/>
        
        
        
        <h5><span>2</span> Biling / Payment Information</h5>
        <p>Type of membership</p>
     <input type="checkbox" name="checkbox1" id="checkbox1" value="New membership" <?php if (strpos($checkbox1, "New membership") !== false) {  ?> checked="checked" <?php } ?> />
        <label>New membership : </label>
     <input type="checkbox" name="checkbox2" id="checkbox2" value="Membership renewal" <?php if (strpos($checkbox2, "Membership renewal") !== false) {  ?> checked="checked" <?php } ?> />
        <label>Membership renewal : </label>
        <label>Amount (check above for our membership benefit levels for more Information) $ : </label>
        <input type="text" id="amount" name="amount" onkeyup="updateprice()"  value="<?php echo $_REQUEST['amount'];?>" required />
        
       <div id="submitval"> <input  type="button" id="submit"   value="SUBMIT" name="submit"  /></div>
       <div id="loading" ><img src="images/paypal-loading.gif" /></div><br />
<br />

       
        <div class="paypal"><img src="images/paypal-img.png" /></div>

    </form>
        
    <form id="myform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    	<input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="HLWMaritime@gmail.com">
        <input type="hidden" name="currency_code" id="sendCurrency" value="USD">
        <input type="hidden" name="item_name" value="Donation Specification">
        <!-- <input type="hidden" name="money"  id="sendPrice" value="" > -->
        <input type="hidden" name="return" value="<?php echo HTTP_ROOT;?>donate.php?success" />
        <input type="hidden" name="cancel_return" value="<?php echo HTTP_ROOT;?>donate.php?cancel" />
        <input type="hidden" name="notify_url" value="<?php echo HTTP_ROOT;?>paid.php?action=ipn" /> 
        <input type="hidden" name="amount" id="amount1"  value=""  />
    </form>
    </div>	
