<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->

<div id="findtradesman"></div>
  
<div class="about-us"><!--<div><a href="Donation.pdf"  target="_blank" style="color:red; float:right; text-decoration:underline;">Click to download the form</a></div>-->


    <h3><?php echo $donate['title'];?></h3>
    <p> <?php echo $donate['description'];?></p>
    </div>
    <div class="renew_member">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2Z73ULWJJVTQ4">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

     
   
    </div>	