<section class="innerpage_container">
    <div class="page_left_col">
        <h3><?php echo $collection['title']; ?></h3>
        <p><?php echo $collection['description']; ?></p>
    </div>
    <div class="page_right_col">
        <div class="main_page">
            <img src="images/the-museum.jpg" alt="">
            <div class="grid_content">
                <h3>The Museum</h3>
                <p>The H. Lee White Maritime Museum at Oswego is located at the end of West First Street Pier in Oswego, NY and is situated within Oswego....</p>
                <a href="#" class="btn">READ MORE</a>
            </div>
        </div>
        <div class="main_page">
            <img src="images/the-lighthouse.jpg" alt="">
            <div class="grid_content">
                <h3>The Lighthouse</h3>
                <p>The Oswego West Pierhead Lighthouse was built to improve upon and replace the existing lights of Oswego's harbor in 1934.  The Lighthouse......</p>
                <a href="#" class="btn">READ MORE</a>
            </div>
        </div>
        <div class="main_page">
            <img src="images/news-events.jpg" alt="">
            <div class="grid_content">
                <h3>NEWS & EVENTS</h3>
                <p>The H. Lee White Maritime Museum recently thanked out going board president Richard Bush for his long support and commitment to ....</p>
                <a href="#" class="btn">READ MORE</a>
            </div>
        </div>
    </div>
</section>