<section class="innerpage_container">
    <div class="page_left_col">
        <h3>Contact us</h3>

        <?php if (@$msg) { ?>
            <div style="line-height:20px;padding:5px 5px 10px 5px;border:solid 1px #6AA002;ackground-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:6AA002;font-size:12px;text-align:center;background:url(images/yes.png) ;background-position:5px center;background-repeat:no-repeat;cursor:pointer;font-weight:700;margin:10px; width:93%;"><?php echo $msg; ?> </div>
        <?php } ?>
        <?php if (@$error) { ?>
            <div style="line-height:20px;padding:6px 5px 6px 5px;border:solid 1px #E54242;background-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:#D60000;font-size:13px;text-align:center;background:url(images/error.png) #FEE2E2;background-position:5px center;background-repeat:no-repeat;cursor:pointer;margin:10px 0 0 9px; width:400px;"><?php echo $error; ?> </div>
        <?php } ?>


        <form name="Form1" action="" method="post" class="form_holder" id="contactForm">
            <div class="grid_col2">
                <label>Name :<span style="color:#E54242;">*</span>
                    <input name="yourname" type="text" value="<?php echo $_REQUEST['yourname']; ?>" required/>
                </label>

                <label>E-mail :<span style="color:#E54242;">*</span>
                    <input name="yourmail"  type="email"  value="<?php echo $_REQUEST['yourmail']; ?>" required/>
                </label>

                <label>Telephone/Cell :
                    <input name="mobile"  type="text"  value="<?php echo $_REQUEST['mobile']; ?>"/>
                </label>

                <label>Message :<span style="color:#E54242;">*</span>
                    <textarea name="message" class="message" style="height: 100px;" required><?php echo $_REQUEST['message']; ?></textarea>
                </label>

                <div class="contact-subm">                
                    <input name="submit"  type="submit" value="Submit" class="btn"/>
                    <input type="reset" value="Reset" class="btn" style="background: #D60000;"/>
                </div>
            </div>
        </form>


        <div class="address">
            <?php echo $contact['description']; ?>
        </div>

        <div class="contact-us-col-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d361.9768068535933!2d-76.51608593341723!3d43.46447071718899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d77cdb54ebf355%3A0x7b2930e212461c79!2sH.+Lee+White+Marine+Museum!5e0!3m2!1sen!2sin!4v1409571960583" width="100%" height="345" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
    <?php include('includes/right_sidebar.html'); ?>
</section>
<script src="<?= HTTP_ROOT ?>validation/dist/jquery.validate.min.js" language="javascript"></script>
<script>
    $(function () {

        $("#contactForm").validate({
            rules: {
                yourname: "required",
                message: "required",
                yourmail: {
                    required: true,
                    email: true,
                },
            },
            messages: {
                yourname: "Please enter your name!!",
                message: "Please enter message!!",
                yourmail: {
                    required: "Please enter your maill id!!",
                    email: "Please enter valid email id!!"
                },
            },
            submitHandler: function (form) {
                return true;
            }

        });
    });

</script>