<div class="content">
        <?php
            $obj=new oswegositemanage();
            $resultgotit=$obj->fetch_content($page_id);  
            $row = mysqli_fetch_array($resultgotit);            
            if($row['page_desc']!="")
            {
         ?>

      <div class="content_left">
      	<div class="inner_banner">
   	    <img src="images/pages/<?php echo $row['page_image']; ?>"  /></div>
        <div class="clear"></div>
        <div class="inner_content">
      
			<h3><?php echo $row['page_title']; ?></h3>
          		
           <?php echo $row['page_desc']; ?>
        
        	
        </div>
       
        <!--<div class="box">
          <h3>About the Port Authority</h3>
          <img src="images/about-img.jpg" />
          <p>Our position as the first U.S. port of call on
            the Great Lakes has made us one of the most productive ports in North America and abroad. </p>
        <span class="more"><a href="#">Learn More >></a> </span>
        </div>
        <div class="box">
          <h3>Port Capabilities</h3>
          <img src="images/port-img.jpg" />
          <p>Our position as the first U.S. port of call on
            the Great Lakes has made us one of the most productive ports in North America and abroad. </p>
            <span class="more"><a href="#">Learn More >></a> </span>
        </div>
        <div class="box" style="margin:0px;">
          <h3>Administration</h3>
          <img src="images/administration-img.jpg" />
          <p>Our position as the first U.S. port of call on
            the Great Lakes has made us one of the most productive ports in North America and abroad. </p>
            <span class="more"><a href="#">Learn More >></a> </span>
        </div>-->
       
      </div>
     <?php 
      
        } 
     else{
       ?>
        <div class="content_left">
        
        <div style="width:100%;margin:0px auto;text-align:center;"> <img src="images/404-error-page.jpg" align="center" style="border:3px solid #fcfcfc;"> </div>
           <script>
$(window).load(function () {
    window.setTimeout(function () {
        window.location.href = "index.php";
    }, 5000)
});
           </script>
           </div>
           <?php 
           }      
        ?>
      <div class="content_right">
      	<?php 	include("templates/content_right.html");      ?>
    </div>