<script type='text/javascript' src='js/jquery1.min.js'></script>

<style>
    .form_holder [type="button"] {
        background: none repeat scroll 0 0 #002b60;
        box-shadow: 0 3px 1px 0 rgba(11, 13, 66, 0.75);
        color: #fff;
        cursor: pointer;
        font-family: "Fjalla One",sans-serif;
        height: 35px;
        margin-left: 35px;
        width: 100px;


    }
</style>

<div id="findtradesman"></div>

<section class="innerpage_container">
    <div class="page_left_col">
        <h3><?php echo $donate['title']; ?></h3>
        <p><?php echo $donate['description']; ?></p>

        <div class="renew_member">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="BFX2N87M7X2QA" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
    </div>
    <?php include('includes/right_sidebar.html'); ?>
</section>