<section class="innerpage_container">
    <div class="page_left_col">
        <h2 class="page_title">Events <?php if (!empty($_REQUEST['id'])) { ?> <div class="goback"> <a href="events.php"> Go back </a></div> <?php } ?></h2>
        <?php
        if (isset($_REQUEST['id'])) {

            $id = $_REQUEST['id'];
            $events1 = mysqli_fetch_array(mysqli_query($connection, "select * from " . EVENTS . " where id='$id'"))
            ?>
            <a href="javascript:;"> <img src="images/events/<?php echo $events1['image']; ?>" class="left" /></a>
            <h3><a href="javascript:;"><?= $events1['heading']; ?></a></h3>
            <p> <?= $events1['description']; ?></p>

        <?php } else { ?> 
            <ul>
                <?php
                $events = mysqli_query($connection, "select * from " . EVENTS . " where is_active='1' order by sl_no ");
                while ($eventResult = mysqli_fetch_array($events)) {
                    ?>
                    <div class="support_row">
                        <div class="event_pic">
                            <a href="javascript:;"> <img src="images/events/<?php echo $eventResult['thumb_image']; ?>" /></a>
                        </div>
                        <div class="event_excerpt">
                            <h3><a href="javascript:;"><?php echo $eventResult['heading']; ?></a></h3>
                            <p> <?php echo $eventResult['shortdesc']; ?></p>
                            <a href="events.php?id=<?php echo $eventResult['id']; ?>" class="more_link">Read More</a>
                        </div>
                    </div>
                <?php } ?> 
            </ul>
        <?php } ?>
    </div>
   <?php include('includes/right_sidebar.html'); ?>
</section>