<section class="innerpage_container">
    <div class="page_left_col">
        <h3>Albums</h3>
        <ul class="album-col">
            <?php
            $albums = mysqli_query($connection, "select * from " . ALBUM . " where is_active='1' order by sl_no");
            $count = mysqli_num_rows($albums);
            if ($count > 0) {
                while ($albumResult = mysqli_fetch_array($albums)) {
                    $gallery = mysqli_query($connection, "select * from " . TBL_CMS_IMAGE . " where category ='" . $albumResult['id'] . "'");
                    $count = mysqli_num_rows($gallery);
                    ?>


                    <li>	
                        <img src="images/album/<?php echo $albumResult['image']; ?>" />
                        <p><?php echo $albumResult['category']; ?></p>
                        <a href="view-gallery.php?id=<?php echo $albumResult['id']; ?>" class="btn" style="float: right;font-size: 13px;text-transform: uppercase;">view all</a>
                    </li>
                    <?php
                }
            } else {
                echo '<div style="color:#f11a1a; font-size:16px;">No Resident Added</div>';
            }
            ?>
        </ul>
    </div>
    <?php include('includes/right_sidebar.html'); ?>
</section>