<div class="owl-carousel" id="banner">
    <?php
    while ($row = mysqli_fetch_array($banner)) {
        ?>
        <section class="banner">
            <img src="images/banner/<?= $row['banner_image']; ?>" alt="" style="width: 1180px;height: 430px;"/>
            <?php if(!empty($row['banner_name']) || !empty($row['caption'])) { ?>
            <div class="banner_text">
                <div class="cont">
                    <h1><?= $row['banner_name']; ?></h1>
                    <p><?= $row['caption']; ?></p>
                </div>
            </div>
            <?php } ?>
        </section>
    <?php } ?>
</div>

<section class="grid_col3">
    <div class="main_page">
        <div class="img"><img src="images/events/<?= $event['image']; ?>" alt=""></div>
        <div class="grid_content">
            <h3>Programs & Events</h3>
            <h3 class="sub-title"><?= $event['heading']; ?></h3>
            <p><?= substr($event['description'], 0, 240); ?>...</p>
            <a href="events.php?id=<?= $event['id']; ?>" class="btn">READ MORE</a>
        </div>
    </div>
    <div class="main_page">
        <div class="img"><img src="images/path_history/<?= $pathHistory['image']; ?>" alt=""></div>
        <div class="grid_content">
            <h3>Path History</h3>
            <h3 class="sub-title"><?= $pathHistory['heading']; ?></h3>
            <p><?= $pathHistory['shortdesc']; ?></p>
            <a href="path_history.php" class="btn">READ MORE</a>
        </div>
    </div>
    <div class="main_page">
        <div class="img"><img src="images/news/<?= $news['image']; ?>" alt=""></div>
        <div class="grid_content">
            <h3>NEWS</h3>
            <h3 class="sub-title"><?= $news['heading']; ?></h3>
            <p><?= substr($news['description'], 0, 240); ?>...</p>
            <a href="news.php?id=<?= $news['id']; ?>" class="btn">READ MORE</a>
        </div>
    </div>
</section>

<section class="events">
    <h2>Upcoming Events</h2>
    <?php
    $events = mysqli_query($connection, "select * from " . EVENTS . " where is_active='1' order by sl_no limit 0,3 ");
    while ($eventResult = mysqli_fetch_array($events)) {
        ?>
        <div class="event_row">        
            <div class="event_pic">
                <a href="javascript:;"><img src="images/events/<?= $eventResult['image']; ?>" alt="" /></a>
            </div>
            <div class="event_excerpt">
                <h3><a href="javascript:;"><?= $eventResult['heading']; ?></a></h3>
                <p><?= substr($eventResult['description'], 0, 256); ?>...</p>
                <a href="<?= HTTP_ROOT . "events.php?id=" . $eventResult['id'] ?>" class="more_link">Read More</a>
            </div>        
        </div>
    <?php } ?> 
</section>
