<section class="innerpage_container">
    <div class="page_left_col">
        <h2 class="page_title">SUPPORT</h2>
        <?php $lighthouse = mysqli_query($connection, "select * from " . SUPPORT . " order by id ");
        ?>
        <?php
        while ($house = mysqli_fetch_array($lighthouse)) {
            ?>
            <div class="support_row">
                <div class="event_pic">
                    <a href="#"> <img src="images/support/<?php echo $house['image']; ?>" /></a>
                </div>
                <div class="event_excerpt">
                    <h3><a href="#"><?php echo $house['heading']; ?></a></h3>
                    <p> <?php echo $house['description']; ?></p>
                    <!--                    <a href="#" class="more_link">Read More</a>-->
                </div>
            </div>
        <?php } ?>
    </div>
   <?php include('includes/right_sidebar.html'); ?>
</section>
