<section class="innerpage_container">
    <div class="page_left_col">

        <h3>LightHouse </h3>

        <ul>
            <?php
            while ($house = mysqli_fetch_array($lighthouse)) {
                ?>
                <li>

                    <img src="images/lighthouse/<?php echo $house['image']; ?>" />

                    <h2><?php echo $house['heading']; ?></h2>

                    <p>
                        <?php echo $house['description']; ?>
                    </p>

                </li>
            <?php } ?>
        </ul>
    </div>
    <?php include('includes/right_sidebar.html'); ?>
</section>
