<section class="innerpage_container">
    <div class="page_left_col">
        <h3><?php echo $member['title']; ?></h3>
        <p><?php echo $member['description']; ?></p>

        <div class="renew_member">

            <?php // if($msg) { ?>

            <!--           <div id="success" style="line-height:20px;padding:5px 5px 10px 5px;border:solid 1px #6AA002;ackground-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:6AA002;font-size:13px;text-align:center;background:url(images/yes.png) ;background-position:5px center;background-repeat:no-repeat;cursor:pointer;font-weight:700;margin:-21px 44 0 19px; width:435px;">Thank you for your contact request, we will contact you shortly </div>
                       
            <?php // }if($error){ ?>
            
                  <div id="error" style="line-height:20px;padding:6px 5px 6px 5px;border:solid 1px #E54242;background-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:#D60000;font-size:13px;text-align:center;background:url(images/error.png) #FEE2E2;background-position:5px center;background-repeat:no-repeat;cursor:pointer;margin:10px 0 0 9px; width:400px;">Sending Error</div>-->
            <?php // } ?>

            <br /><br />
            <h3>Membership Form</h3>
            <form class="form_holder" id="paypal" name="paypal"  method="post"    action=""   >
                <h3>Basic Information</h3>
                <div class="grid_col2">
                    <label>First Name : 
                        <input type="text" name="fname" value="<?php echo @$_REQUEST['fname']; ?>" id="fname"  /></label>
                    <label>Last Name : 
                        <input type="text" name="lname" value="<?php echo @$_REQUEST['lname']; ?>" id="lname"  required/>
                    </label>
                    <label>Mailing Address : 
                        <input type="text" name="maddress" value="<?php echo @$_REQUEST['maddress']; ?>" id="maddress"  required/>
                    </label>
                    <label>Phone : 
                        <input type="text" name="phone" value="<?php echo @$_REQUEST['phone']; ?>"  id="phone"required/> 
                    </label>
                    <label>Email : 
                        <input type="text" name="email" value="<?php echo @$_REQUEST['email']; ?>" id="email" required/>
                    </label>
                    <label>Company / Organization (for company / organization memberships only) :
                        <input type="text" name="company"  value="<?php echo @$_REQUEST['company']; ?>"  id="company"required/>
                    </label>
                </div>
                <br />
                <h3>Biling / Payment Information</h3>
                <p>Type of membership</p>
                <input type="checkbox" name="checkbox1" id="checkbox1" value="New membership" <?php if (strpos(@$checkbox1, "New membership") !== false) { ?> checked="checked" <?php } ?> />
                <label>New membership </label>
                <input type="checkbox" name="checkbox2" id="checkbox2" value="Membership renewal" <?php if (strpos(@$checkbox2, "Membership renewal") !== false) { ?> checked="checked" <?php } ?> />

                <label>Membership renewal </label><br />
                <label>Membership Levels : </label>

                <select name="os0" style="margin-left:193px; margin-top:-18px;border: 1px solid #ccc;" id="level">
                    <option  value="First Mate" id="First Mate">First Mate </option>
                    <option value="Ensign" id="Ensign">Ensign </option>
                    <option value="Commander" id="Commander">Commander </option>
                    <option value="Captain" id="Captain">Captain </option>
                    <option value="Rear Admiral" id="Rear Admiral">Rear Admiral </option>
                    <option value="Admiral" id="Admiral">Admiral </option>
                </select> <br />

                <label>Amount (check above for our membership benefit levels for more Information) $ : </label>
                <input type="text" id="amount" name="amount" onkeyup="updateprice()"  value="<?php echo @$_REQUEST['amount']; ?>" required />

                <div id="submitval" style="text-align: center;padding: 10px;"> <input  type="submit" id="submit" class="btn"  value="Pay Now" name="submit"  /></div>
                <div id="loading" style="display: none;" ><img src="images/paypal-loading.gif" /></div><br />
                <br />
                <div class="paypal"><img src="images/paypal-img.png" /></div>
            </form>

            <form id="myform" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="HLWMaritime@gmail.com">
                <input type="hidden" name="currency_code" id="sendCurrency" value="USD">
                <input type="hidden" name="item_name" value="Donation Specification">
                <input type="hidden" name="return" value="<?php echo HTTP_ROOT; ?>donate.php?success" />
                <input type="hidden" name="cancel_return" value="<?php echo HTTP_ROOT; ?>donate.php?cancel" />
                <input type="hidden" name="notify_url" value="<?php echo HTTP_ROOT; ?>paid.php?action=ipn" /> 
                <input type="hidden" name="amount" id="amount1"  value=""  />
            </form>
        </div>	
    </div>
    <?php include('includes/right_sidebar.html'); ?>
</section>
<script src="<?= HTTP_ROOT ?>validation/dist/jquery.validate.min.js" language="javascript"></script>
<script>
    $(function () {

        $("#paypal").validate({
            rules: {
                fname: "required",
                lname: "required",
                phone: "required",
                amount: "required",
                maddress: {
                    required: true,
                    email: true,
                },
                email: {
                    required: true,
                    email: true,
                },
            },
            messages: {
                fname: "Please enter your first name!!",
                lname: "Please enter your last name!!",
                phone: "Please enter your mobile!!",
                amount: "Please enter the amount!!",
                maddress: {
                    required: "Please enter your mailing address!!",
                    email: "Please enter valid mailing id!!"
                },
                email: {
                    required: "Please enter your email id!!",
                    email: "Please enter valid email id!!"
                },
            },
            submitHandler: function (form) { 
                $('#loading').show();
                var data = $("#paypal").serialize();
                var url = 'viewmember.php';
                $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function (response) { 
                    if(response > 0){
                        console.log('success');
                        submitform();
                    } else  {
                        console.log('error');
                    }
                    
                    }
                });
                return false;
            }

        });
    });

    function  updateprice() {
        var priceGet = document.getElementById('amount').value;
        document.getElementById('amount1').value = priceGet;

    }
    function submitform(){
        document.forms['myform'].submit();
    }
</script>