<section class="innerpage_container">
    <div class="page_left_col">
        <h2 class="page_title">News <?php if (isset($_REQUEST['id'])) { ?> <div class="goback"> <a href="news.php"> Go back </a></div> <?php } ?></h2>
        <?php
        if (isset($_REQUEST['id'])) {

            $id = $_REQUEST['id'];
            $news = mysqli_fetch_array(mysqli_query($connection, "select * from " . NEWS . " where id='$id'"))
            ?>
            <a href="javascript:;"> <img src="images/news/<?= $news['image']; ?>" class="left" /></a>
            <h3><a href="javascript:;"><?= $news['heading']; ?></a></h3>
            <p> <?= $news['description']; ?></p>

            <?php
        } else {
            $news = mysqli_query($connection, "select * from " . NEWS . " where is_active='1' order by sl_no ");
            while ($newsResult = mysqli_fetch_array($news)) {
                ?>

                <div class="support_row">
                    <div class="event_pic">
                        <a href="javascript:;"> <img src="images/news/<?= $newsResult['thumb_image']; ?>" /></a>
                    </div>
                    <div class="event_excerpt">
                        <h3><a href="#"><?= $newsResult['heading']; ?></a></h3>
                        <p> <?= $newsResult['shortdesc']; ?></p>
                        <a href="news.php?id=<?= $newsResult['id']; ?>" class="more_link">Read More</a>
                    </div>
                </div>
                <?php
            }
        }
        ?> 
    </div>

    <?php include('includes/right_sidebar.html'); ?>
</section>