<section class="innerpage_container">
    <div class="page_left_col">
        <h3><?php echo $about['title']; ?></h3>
        <p><?php echo $about['description']; ?></p>
    </div>
    <?php include('includes/right_sidebar.html'); ?>
</section>