<?php
if (@$_REQUEST['id']) {
    $id = $_REQUEST['id'];
    $path_history = mysqli_fetch_assoc(mysqli_query($connection, "select * from " . PATH_HISTORY . " where id='$id' AND is_active='1' "));

    $path_history_files_query = mysqli_query($connection, "select * from " . PATH_HISTORY_FILES . " where cms_path_history_id='{$path_history['id']}'");
    ?>
    <section class="innerpage_container">
        <div class="page_left_col">
            <h3 class="page_title"><?php echo $path_history['heading']; ?> <?php if (isset($_REQUEST['id'])) { ?> <div class="goback"> <a href="path_history.php"> Go back </a></div> <?php } ?></h3>
            <p style="text-align:center;color:#0067b1;"><?php echo $path_history['shortdesc']; ?></p>
            <ul class="img_list">
                <?php while ($path_history_file = mysqli_fetch_assoc($path_history_files_query)) { ?>
                    <li>
                        <a href="files/path_history/<?= $path_history_file['file']; ?>" target="_blank">
                            <img src="files/path_history/thumb/<?= $path_history_file['thumb_image']; ?>" />
                        </a>
                    </li>
                <?php } ?>
            </ul>
        </div>
        <?php include('includes/right_sidebar.html'); ?>
    </section>
    <?php
} else {
    $path_history_header = mysqli_fetch_assoc(mysqli_query($connection, "select * from " . PAGES . " where id='45'"));
    $description = $path_history_header['description'];
    ?> 
    <section class="innerpage_container">
        <div class="page_left_col">
            <h3>Path Through Maritime History</h3>
            <p><?php echo $description; ?></p>
            <ul class="img_list path_history">
                <?php
                $path_history_query = mysqli_query($connection, "select * from " . PATH_HISTORY . " where is_active='1' order by sl_no ");
                if (mysqli_num_rows($path_history_query)) {

                    while ($path_history = mysqli_fetch_assoc($path_history_query)) {
                        ?>

                        <li>
                            <div class="img"><img class="thumb-image" src="images/path_history/<?= $path_history['thumb_image']; ?>" /></div>
                            <h2><?php echo $path_history['heading']; ?></h2>
                            <a href="path_history.php?id=<?= $path_history['id'] ?>"><img src="images/click_here.png" /></a>
                        </li>

                        <?php
                    }
                }
                ?> 
            </ul>
        </div>
        <?php include('includes/right_sidebar.html'); ?>
    </section>
<?php } ?>
