    <div class="news-row">
    	<h3>Programs<?php if($_REQUEST['id']) { ?> <div class="goback"> <a href="programs.php"> Go back </a></div> <?php } ?> </h3>
        <?php if($_REQUEST['id']) {
		
		$id= $_REQUEST['id']; 
		$program=mysqli_fetch_array(mysqli_query($connection, "select * from ".PROGRAMS." where id='$id'")) ?>
		<ul>
    	<li>
        	<img src="images/programs/<?php echo $program['image'];?>" />
        	<h2><?php echo $program['heading'];?></h2>
            <p>
            	<?php echo $program['description'];?>
            </p>
        </li>
		
        
		
       <?php } else { ?> 
   	<ul>
    <?php $program=mysqli_query("select * from ".PROGRAMS." where is_active='1' order by sl_no ");
		       while($programResult=mysqli_fetch_array($program)) { ?>


    	<li>
        	<img src="images/programs/small/<?php echo $programResult['thumb_image'];?>" />
        	<h2><?php echo $programResult['heading'];?></h2>
            <p>
            	<?php echo $programResult['shortdesc'];?>
            </p>
       	 <a href="programs.php?id=<?php echo $programResult['id'];?>">Read more</a>
        </li>
       <?php } ?> 
    </ul>
    <?php } ?>
    </div>
