

<!--<div class="loading" align="center" id="modalSending">
    <img src="images/ajax-loader.gif" width="200px" />
</div>-->

<div class="about-us">

    	<h3><?php echo $thankyou['title'];?></h3>
		<div class="member_holder">
    <p> <?php echo $thankyou['description'];?></p>
    </div>
    </div>
    </br>
    </br>
               

     
    	
