<section class="innerpage_container">
    <div class="page_left_col">
        <!--        <div class="innerpage_banner">
                    <img src="images/about.jpg" alt="">
                </div>-->
        <h3><?php echo $tours['title']; ?></h3>
        <p><?php echo $tours['description']; ?></p>
    </div>
    <?php include('includes/right_sidebar.html'); ?>
</section>