<section class="innerpage_container">
    <div class="page_left_col">
        <h3><?php echo stripslashes($gallery['category']); ?><div class="goback"> <a href="gallery.php"> Go back </a></div></h3>
        <ul class="album-col gallery_pic">
            <?php
            if ($count > 0) {
                while ($gallery_img1 = mysqli_fetch_array($gallery_info)) {  ?>
                    <li>
                        <a href="images/gallery/<?php echo $gallery_img1['image']; ?>" data-caption="<?php echo $gallery_img1['galleryname']; ?>">
                            <img src="images/gallery/small/<?php echo $gallery_img1['thumb_image']; ?>" alt="<?php echo $gallery_img1['galleryname']; ?>">
                        </a>
                    </li>
                    <?php
                }
            } else {
                echo '<div style="color:#f11a1a; font-size:16px;">No Resident Added</div>';
            }
            ?>
        </ul>
    </div>
    <?php include('includes/right_sidebar.html'); ?>
</section>
<script>
    $(function () {
        var gallery = $('.gallery_pic a').simpleLightbox();
    });
</script>