<section class="innerpage_container">
    <div class="page_left_col">
        <h3><?= $volun['title']; ?></h3>
        <p><?= $volun['description']; ?></p>

        <div class="renew_member">
            <?php if ($msg) { ?>

                <div style="line-height:20px;padding:5px 5px 10px 5px;border:solid 1px #6AA002;ackground-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:6AA002;font-size:13px;text-align:center;background:url(images/yes.png) ;background-position:5px center;background-repeat:no-repeat;cursor:pointer;font-weight:700;margin:-21px 44 0 19px; width:435px;"><?= $msg; ?> </div>

            <?php }if ($error) { ?>

                <div style="line-height:20px;padding:6px 5px 6px 5px;border:solid 1px #E54242;background-color:#FDFDFD;-moz-border-radius:5px;border-radius:5px;color:#D60000;font-size:13px;text-align:center;background:url(images/error.png) #FEE2E2;background-position:5px center;background-repeat:no-repeat;cursor:pointer;margin:10px 0 0 9px; width:400px;"><?= $error; ?> </div>
            <?php } ?>
            <br /><br />
            <h3>Volunteer Form</h3>
            <form class="form_holder" method="post" id="volunterForm">
                <h3>Basic Information</h3>
                <div class="grid_col2">
                    <label>First Name : <span style="color: red;">*</span>
                        <input type="text" name="fname" value="<?= isset($_REQUEST['fname']) ? $_REQUEST['fname'] : ''; ?>" /></label>
                    <label>Last Name : <span style="color: red;">*</span>
                        <input type="text" name="lname" value="<?= isset($_REQUEST['lname']) ? $_REQUEST['lname'] : ''; ?>" /></label>
                    <label>Mailing Address : <span style="color: red;">*</span>
                        <input type="text" name="maddress" value="<?= isset($_REQUEST['maddress']) ? $_REQUEST['maddress'] : ''; ?>" /></label>
                    <label>Alternate Address (if you have one)
                        <input type="text" name="altaddress" value="<?= isset($_REQUEST['altaddress']) ? $_REQUEST['altaddress'] : ''; ?>" /></label>
                    <label>Phone : <span style="color: red;">*</span>
                        <input type="text" name="phone" value="<?= isset($_REQUEST['phone']) ? $_REQUEST['phone'] : ''; ?>" /></label>
                    <label>Cell Phone : 
                        <input type="text" name="cellphone" value="<?= isset($_REQUEST['cellphone']) ? $_REQUEST['cellphone'] : ''; ?>" /></label>
                    <label>Email : 
                        <input type="text"  name="email" value="<?= isset($_REQUEST['email']) ? $_REQUEST['email'] : ''; ?>" /></label>
                    <label>Occupation (former) : 
                        <input type="text" name="occupation" value="<?= isset($_REQUEST['occupation']) ? $_REQUEST['occupation'] : ''; ?>" /></label>
                    <label>Interests, Skills & Hobbies : 
                        <input type="text" name="hobbies"  value="<?= isset($_REQUEST['hobbies']) ? $_REQUEST['hobbies'] : ''; ?>" /></label>
                </div>
                <h3>Detailed Information as follows</h3>
                <p>Type of volunteer service check all that apply</p>
                <ul>
                    <?php
                    if (!empty($_POST['checkbox1'])) {
                        $val = implode(',', $_POST['checkbox1']);
                    }
                    ?>
                    <?php
                    if (!empty($_POST['checkbox2child'])) {
                        $val1 = implode(',', $_POST['checkbox2child']);
                    }
                    ?>
                    <?php
                    if (!empty($_POST['checkbox3'])) {
                        $val2 = implode(',', $_POST['checkbox3']);
                    }
                    ?>
                    <?php
                    if (!empty($_POST['checkbox4child'])) {
                        $val3 = implode(',', $_POST['checkbox4child']);
                    }
                    ?>
                    <?php
                    if (!empty($_POST['checkbox5'])) {
                        $val4 = implode(',', $_POST['checkbox5']);
                    }
                    ?>
                    <?php
                    if (!empty($_POST['checkbox6'])) {
                        $val5 = implode(',', $_POST['checkbox6']);
                    }
                    ?>
                    <li><input type="checkbox" name="checkbox1[]" value="Greeter - welcoming guests" <?php if (strpos(@$val, "Greeter - welcoming guests") !== false) { ?> checked="checked" <?php } ?> /><label>Greeter - welcoming guests</label></li>
                    <li><input type="checkbox" name="checkbox1[]" value="Vessel guide (May-September) Giving tours of one of the historic vessels"  <?php if (strpos(@$val, "Vessel guide (May-September) Giving tours of one of the historic vessels") !== false) { ?> checked="checked" <?php } ?>/><label>Vessel guide (May-September) Giving tours of one of the historic vessels</label></li>
                    <!--<li><input type="checkbox" name="checkbox2" value="VesselCrew (requires qualifications) - <i>Indicate whic vessel" <?php if (strpos(@$checkBox2, "VesselCrew (requires qualifications) - <i>Indicate whic vessel") !== false) { ?> checked="checked" <?php } ?>/><label>VesselCrew (requires qualifications) - <i>Indicate whic vessel</i></label></li>-->
                    <li class="sub_check"><input type="checkbox" name="checkbox2child[]" value="Derrick Boat 8" <?php if (strpos(@$val1, "Derrick Boat 8") !== false) { ?> checked="checked" <?php } ?>/><label>Derrick Boat 8</label></li>
                    <!--<li class="sub_check"><input type="checkbox" name="checkbox2child[]" value="OMF Ontario" <?php if (strpos(@@$val1, "OMF Ontario") !== false) { ?> checked="checked" <?php } ?>/><label>OMF Ontario</label></li>-->
                    <li class="sub_check"><input type="checkbox" name="checkbox2child[]" value="LT - 5" <?php if (strpos(@$val1, "LT - 5") !== false) { ?> checked="checked" <?php } ?>/><label>LT - 5</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox2child[]" value="All" <?php if (strpos(@$val1, "All") !== false) { ?> checked="checked" <?php } ?>/><label>All</label></li>
                    <li><input type="checkbox" name="checkbox3[]" value="Clerical"  <?php if (strpos(@$val2, "Clerical") !== false) { ?> checked="checked" <?php } ?> /><label>Clerical</label></li>
                    <li><input type="checkbox" name="checkbox3[]" value="Specialty Events - the planninbg, execution and assistance before, during and <b>after our many events</b>"  <?php if (strpos(@$val2, "Specialty Events - the planninbg, execution and assistance before, during and <b>after our many events</b>") !== false) { ?> checked="checked" <?php } ?> /><label>Specialty Events - the planninbg, execution and assistance before, during and <b>after our many events</b></label></li>
                    <li><input type="checkbox" name="checkbox3[]" value="Group Tours - requires some training"  <?php if (strpos(@$val2, "Group Tours - requires some training") !== false) { ?> checked="checked" <?php } ?>/><label>Group Tours - requires some training</label></li>
                    <li><input type="checkbox" name="checkbox4" value="Maintenance" <?php if (strpos(@$checkBox4, "Maintenance") !== false) { ?> checked="checked" <?php } ?>/><label>Maintenance</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox4child[]" value="Painting" <?php if (strpos(@$val3, "Painting") !== false) { ?> checked="checked" <?php } ?>/><label>Painting</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox4child[]" value="Carpentry"  <?php if (strpos(@$val3, "Carpentry") !== false) { ?> checked="checked" <?php } ?>/><label>Carpentry</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox4child[]" value="Electrical"  <?php if (strpos(@$val3, "Electrical") !== false) { ?> checked="checked" <?php } ?>/><label>Electrical</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox4child[]" value="Gardening"  <?php if (strpos(@$val3, "Gardening") !== false) { ?> checked="checked" <?php } ?>/><label>Gardening</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox4child[]" value="Lawn care"  <?php if (strpos(@$val3, "Lawn care") !== false) { ?> checked="checked" <?php } ?>/><label>Lawn care</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox4child[]" value="Fleet Maintenance"  <?php if (strpos(@$val3, "Fleet Maintenance") !== false) { ?> checked="checked" <?php } ?>/><label>Fleet Maintenance</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox4child[]" value="Other"  <?php if (strpos(@$val3, "Other") !== false) { ?> checked="checked" <?php } ?>/><label>Other</label></li>
                    <li><input type="checkbox" name="checkbox5[]" value="Sailing Assistant(requires qualifications" <?php if (strpos(@$val4, "Sailing Assistant(requires qualifications") !== false) { ?> checked="checked" <?php } ?>/><label>Sailing Assistant(requires qualifications) </label></li>
                    <li><input type="checkbox" name="checkbox5[]" value="Holiday Decorationg" <?php if (strpos(@$val4, "Holiday Decorationg") !== false) { ?> checked="checked" <?php } ?>/><label>Holiday Decorationg</label></li>
                    <li><input type="checkbox" name="checkbox5[]" value="Baking" <?php if (strpos(@$val4, "Baking") !== false) { ?> checked="checked" <?php } ?>/><label>Baking</label></li>
                    <br /><br />
                    <p>Preferred days of the week</p>
                    <li class="sub_check"><input type="checkbox" name="checkbox6[]" value="Monday"  <?php if (strpos(@$val5, "Monday") !== false) { ?> checked="checked" <?php } ?>/><label>Monday</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox6[]" value="Tuesday"  <?php if (strpos(@$val5, "Tuesday") !== false) { ?> checked="checked" <?php } ?>/><label>Tuesday</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox6[]" value="Wednesday"  <?php if (strpos(@$val5, "Wednesday") !== false) { ?> checked="checked" <?php } ?>/><label>Wednesday</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox6[]" value="Thursday"  <?php if (strpos(@$val5, "Thursday") !== false) { ?> checked="checked" <?php } ?>/><label>Thursday</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox6[]" value="Friday"  <?php if (strpos(@$val5, "Friday") !== false) { ?> checked="checked" <?php } ?>/><label>Friday</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox6[]" value="Saturday"  <?php if (strpos(@$val5, "Saturday") !== false) { ?> checked="checked" <?php } ?>/><label>Saturday</label></li>
                    <li class="sub_check"><input type="checkbox" name="checkbox6[]" value="Sunday"  <?php if (strpos(@$val5, "Sunday") !== false) { ?> checked="checked" <?php } ?>/><label>Sunday</label></li>
                </ul>
                <label>Comments and notes on Availabilty
                    <input type="text"  name="notes" value="<?= isset($_REQUEST['notes']) ? $_REQUEST['notes'] : ''; ?>" /></label>
                <br />
                <div style="text-align: center;"><input class="btn" type="submit" value="SUBMIT" name="submit" style="min-width: 180px;"/></div>
            </form>
        </div>
    </div>
    <?php include('includes/right_sidebar.html'); ?>
</section>

<script src="<?= HTTP_ROOT ?>validation/dist/jquery.validate.min.js" language="javascript"></script>
<script>
    $(function () {

        $("#volunterForm").validate({
            rules: {
                fname: "required",
                lname: "required",
                phone: "required",
                maddress: {
                    required: true,
                    email: true,
                },
            },
            messages: {
                fname: "Please enter your first name!!",
                lname: "Please enter your last name!!",
                phone: "Please enter your phone no.!!",
                maddress: {
                    required: "Please enter your mailing address!!",
                    email: "Please enter valid email id!!"
                },
            },
            submitHandler: function (form) {
                return true;
            }

        });
    });

</script>