                <section class="footer grid_col4">
                    <div class="footer_col">
                        <h3>SITE PAGES</h3>
                        <ul>
                            <li><a href="index.php">Home</a></li>
                            <li><a href="about.php">About Us</a></li>
                            <li><a href="joinandsupport.php">Support</a></li>
                            <li><a href="events.php">News & Events</a></li>
                            <li><a href="donate.php">Donate</a></li>
                            <li><a href="volunteer.php">volunteering</a></li>
                            <li><a href="research.php">Research & Collections</a></li>
                        </ul>
                    </div>
                    <div class="footer_col">
                        <h3>USEFUL LINKS</h3>
                        <ul>
                            <li><a href="tours.php">Tour</a></li>
                            <li><a href="contact.php">Contact</a></li>
                            <li><a href="sitemap.xml">Site map</a></li>
                            <li><a href="news.php">News</a></li>
                        </ul>
                    </div>
                    <div class="footer_col contact_us">
                        <h3>CONTACT US</h3>
                        <ul>
                            <li>1 West first street , Oswego,<br />
                                NY 13126</li>
                            <li><a href="tel:315-342-0480">315-342-0480</a></li>
                        </ul>
                    </div>
                    <div class="footer_col social_links">
                        <h3>WE'RE SOCIAL</h3>
                        <a href="<?= $settings['facebook_url'] ?>" target="_blank" title="facebook">facebook</a>
                        <a href="<?= $settings['twitter_url'] ?>" target="_blank" title="twitter">twitter</a>
                        <a href="<?= $settings['instagram_url'] ?>" target="_blank" title="instagram">instagram</a>
                        <a href="<?= $settings['tripadvisor_url'] ?>" target="_blank" title="tripadvisor">tripadvisor</a>
                    </div>
                </section>
                <footer class="copyright">
                    <p>Copyright © <?php echo date("Y"); ?> H Lee White Maritime Museum All Rights Reserved<br />
                        Designed & Powered by <a href="https://digitalnomadstudio.com" target="_blank">Digital Nomad Studio</a></p>
                </footer>
            </div>
        </main>
        <script>
            //$("em:last").replaceWith(function() { return $(this).contents(); });
        </script>
    </body>
</html>