<?php
$event = mysqli_fetch_array(mysqli_query($connection, "select * from " . EVENTS . " where is_active='1' and as_home='1' "));
$pathHistory = mysqli_fetch_array(mysqli_query($connection, "select * from " . PATH_HISTORY . " where is_active='1' and as_home='1' "));
$news = mysqli_fetch_array(mysqli_query($connection, "select * from " . NEWS . " where is_active='1' and as_home='1' "));
?>
<div class="page_right_col">
    <div class="main_page">
        <img src="images/news/<?= $news['image']; ?>" style="width: 360px;height: 200px;" alt="">
        <div class="grid_content">
            <h3>NEWS</h3>
            <h3 style="font-size: 12px;text-decoration: underline;"><?= $news['heading']; ?></h3>            
            <p><?= substr($news['description'], 0, 150); ?>...</p>
            <a href="news.php?id=<?= $news['id']; ?>" class="btn">READ MORE</a>
        </div>
    </div>
    <div class="main_page">
        <img src="images/path_history/<?= $pathHistory['image']; ?>" style="width: 360px;height: 200px;" alt="">
        <div class="grid_content">
            <h3>Path History</h3>
            <h3 style="font-size: 12px;text-decoration: underline;"><?= $pathHistory['heading']; ?></h3>
            <p><?= $pathHistory['shortdesc']; ?></p>
            <a href="path_history.php" class="btn">READ MORE</a>
        </div>
    </div>
    <div class="main_page">
        <img src="images/events/<?= $event['image']; ?>" style="width: 360px;height: 200px;" alt="">
        <div class="grid_content">
            <h3>Programs & Events</h3>
            <h3 style="font-size: 12px;text-decoration: underline;"><?= $event['heading']; ?></h3>
            <p><?= substr($event['description'], 0, 150); ?>...</p>
            <a href="events.php?id=<?= $event['id']; ?>" class="btn">READ MORE</a>
        </div>
    </div>
</div>